[2016-03-29 10:44] andrewconnell commented on #242
Also an issue with how we are rendering this component as Fabric changed their rendering. See #260.

[2016-03-29 16:31] jjczopek commented on #33
@andrewconnell  I haven't considered adding any additional and I'm not really sure what such object should contain - index, & label text? Some kind of value? If user would like to select the option from the code, he should then pass an object rather than just an index?

[2016-03-29 16:33] andrewconnell commented on #33
That's how I'd expect it to work. If I want the selected item, I want the object to come back that is represented by that thing... same in reverse: if I give the `uif-selected` attribute an object, I expect it to find that object in the collection of pivots and select it. Does that make sense?

[2016-03-29 16:42] jjczopek commented on #33
You want to be able to map any object into pivot, or it should be fine when I come up with a fixed structure that should be used?

[2016-03-29 19:18] andrewconnell commented on #242
Closing the loop on this... the challenge was that Fabric changed the implementation of breadcrumb & their CSS which caused issues with our rendering (ref #260). This has been fixed in PR #261

[2016-03-29 19:19] andrewconnell commented on #242
The demo will get updated in the next release.

[2016-03-29 19:22] ghost commented on #29
I'm nearly there with this, just battling a jasmine test and making sure code coverage is as close to 100% as possible, expect to submit PR this weekend

[2016-03-29 19:36] andrewconnell commented on #33
I might be suggesting something that's better as an enhancement in the future. Maybe punt what I'm suggesting and just build what we have first :) we can enhance it later.

To address your question, not sure I understand the question... I get without binding a collection of items to the pivot a developer can use the `ng-repeat` to write out the pivot "tabs". What I"m proposing is being able to do

[2016-03-29 20:29] jjczopek commented on #33
Got it. I like the spec. `uif-selected` will always hold the reference to the item currently selected.

[code]

[2016-03-29 20:52] emiliogg84 opened #262 "<uif-table> selection doesn't work"
Selection not work!

[2016-03-29 20:55] andrewconnell commented on #262
This kind of an issue does not help. The demo for he `uif-table` shows the selection of a row working: http://ngofficeuifabric.com/demos/uifTable/

If you have a specific issue you can repo to help us understand what you mean when you say it doesn't work, that would help. But as this issue stands, it's not helpful or actionable.

[2016-03-29 20:55] #262 closed

[2016-03-29 22:09] andrewconnell commented on #207
This isn't going to happen... as much as I'd love to have a pristine commit log going back to the start, it has too many pitfalls to as every single SHA1 will get updated.

[2016-03-29 22:09] #207 closed

[2016-03-30 20:50] ghost commented on #243
I think we agree that ng-change is being called; I've added an alert to show that: https://jsfiddle.net/yzr9hos8/

The issue is that setting ng-model of uif-dropdown was not working, see https://github.com/ngOfficeUIFabric/ng-officeuifabric/issues/245

Please test with the latest dev version; it should be working there. Otherwise please raise another issue.

[2016-03-30 20:50] #243 closed

[2016-03-31 02:30] ghost commented on #257
This is an issue; disabled doesn't work either. It stays disabled, no matter what the value is for isDisabled. Similar to this one:

https://github.com/ngOfficeUIFabric/ng-officeuifabric/issues/259

I think this applies to more directives.

[2016-03-31 10:58] andrewconnell opened #266 "Update project dependencies"
Dependencies are out of date.

[2016-03-31 13:29] #244 closed

[2016-03-31 13:29] #254 closed

[2016-03-31 13:29] #255 closed

[2016-03-31 13:29] #260 closed

[2016-03-31 13:29] #266 closed

[2016-03-31 13:30] #242 closed

[2016-03-31 13:42] andrewconnell commented on #257
I fear you are right @rolandoldengarm… we need to go look at every directive and see if this is an issue, ensuring we have a test to cover this scenario. I’ll take this on.

[2016-03-31 13:43] andrewconnell opened #268 "Ensure all directives have test case to verify disabled & ng-disabled work"
Uncovered in #257, we need to look at each directive and ensure it has a test case to confirm `disabled` and `ng-disabled` perform as expected and if they don't create issues to fix each one.

[2016-03-31 14:28] ruisilva450 opened #269 "Implementation of Office App Launcher"
Create the necessary angular directives and implementation to get the same Office App Launcher as the image.

![alt text](https://msdn.microsoft.com/office/office365/HowTo/images/Office365_AppLauncher_Launcher.png "App Launcher")

[2016-03-31 14:32] andrewconnell commented on #269
Personally I'd love to see this, but it won't be part of our first milestone as we want full parity with Fabric first. At the moment this is on their [roadmap](https://github.com/OfficeDev/Office-UI-Fabric/blob/master/ghdocs/ROADMAP.md)... suggest you push on their issue https://github.com/OfficeDev/Office-UI-Fabric/issues/81 to get them to do it.

We are not trying to create new things just yet,

[2016-03-31 14:32] #269 closed

[2016-03-31 19:54] waldekmastykarz commented on #24
Feature is code complete. Next step finalizing tests and documentation.

[2016-04-03 09:32] kmaneshk opened #270 "Issue with initial set up, when running gulp"
I am having an issue with the initial set up. I was following the steps mentioned in the Minimal path to awesome article and when I run the **gulp** command in the [Transpile the Typescript] (https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/master/docs/guides/MPA.md#transpile-the-typescript) section, I am getting a different error to the one that is mentioned in the article.

### Expecte

[2016-04-03 10:33] kmaneshk commented on #270
I was able to fix the issue by adding the missing modules as dev dependencies and then deleting the contents of the typings folder and running a **typings install** again. WinMerge tells me that the newly generated files are using different carriage returns. I assume that would be because most of/all you are using MacOS

If you want me to commit the package.json with the dev dependencies, let me k

[2016-04-03 10:39] jjczopek commented on #270
Have you installed `gulp` globally?
Also, have you considered upgrading `node` & `npm`? I think we have started the project when version 4 of NPM was already old ;) I'm running now node 5.4.1 and npm 3.3.12 ;)

[2016-04-03 11:38] kmaneshk commented on #270
Thanks @jjczopek. Upgraded to node 5.10.0 and the issue went away. Seems like my attempt to take you guys back to stone age didn't work ;)

[2016-04-03 11:38] #270 closed

[2016-04-04 02:45] ghost commented on #268
Most directives I've checked only check for disabled once in the link.
To fix this, the directive has to watch for the attribute.

I've fixed it in dropdown + added demo + test case: https://github.com/ngOfficeUIFabric/ng-officeuifabric/pull/271

[2016-04-04 11:20] wobba opened #272 "Skip rendering of label in uif-datepicker if it's empty"
The uif-datepicker directive always place a label above date picker even if you set the label to an empty string. This causes the rendering of a space above the control. Would be useful not to render the label if it's empty,

[2016-04-04 20:39] ghost commented on #272
Valid issue. Just need to add an ng-if.

[2016-04-06 01:08] ghost commented on #154
I'm closing this as this has been fixed in latest release of Office UI Fabric. Please open a new bug if issue still exists.

[2016-04-06 01:08] #154 closed

[2016-04-09 14:52] s-KaiNet commented on #30
I'm taking this one.

[2016-04-09 17:28] s-KaiNet commented on #30
@andrewconnell imho, FacePile should be a separate component. FacePile demo uses people picker in facepile mode, but FacePile itself is not a people picker, it only uses it. Are you agree?

[2016-04-09 20:20] s-KaiNet commented on #30
## **SPECS:**

[code]

##### `<uif-people-picker>` - main directive
- `uif-people` - `&uifPeople` - method returns array of persons or angular promise resolving array in order to populate a picker.
  There can be two approaches how to show data from array. One option is to provide property names for person object through the `<uif-people-picker>` attributes (i.e. `<uif-people-picker uif-person-pri

[2016-04-09 20:39] s-KaiNet commented on #30
Link to working [plnkr](http://plnkr.co/edit/BMxr8TAOagBF987ImK7n?p=preview) for people picker (with my fixes, because on the fabric site and in repository some demos are not working).

[2016-04-10 09:53] andrewconnell commented on #30
Agreed... I'll setup a new issue for Facepile

[2016-04-10 09:54] andrewconnell opened #275 "Component to create: Facepile"
Official link to component description & demo: http://dev.office.com/fabric/components/facepile

Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv

[2016-04-10 10:02] andrewconnell commented on #30
Very well written up spec... I agree that Facepile should be it's own component & have created a new issue reflecting it: #275. Spec looks good to me!

[2016-04-10 10:08] andrewconnell commented on #30
One thing to add... make sure that `disabled` and `ng-disabled` are also included in the cases. We have missed `ng-disabled` in many components.

[2016-04-10 10:49] #259 closed

[2016-04-10 10:49] #249 closed

[2016-04-10 10:49] #272 closed

[2016-04-10 12:14] s-KaiNet commented on #30
People picker doesn't have disabled state, so I'll skip this.

[2016-04-10 14:03] andrewconnell commented on #30
Shouldn't we offer it though? It's an input control so logic would seem to assume you could disable it. IMHO it would be odd if you had 5 controls on a form and could disable just 4 of them.

[2016-04-10 14:05] s-KaiNet commented on #30
That makes sense, if some styles will be required from Office UI side I will report a bug.

[2016-04-10 20:41] jjczopek commented on #30
I think it makes a lot of sense in general - great spec! In order not to reinvent some of the things, you might want to reuse:
- color for initials: https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/master/src/core/personaInitialsColorEnum.ts
- presence indication: https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/master/src/core/personaPresenceEnum.ts

[2016-04-11 20:52] ghost commented on #275
I can pick this one up if you like, but before I spec it up, I have a few things we need to consider around what the scope of this directive should be - since the example on the Fabric site is quite complete.

There's a snippet in the fabric demo site (shown below) which hard codes a limit of five members. I think we should at the very least, make that number dynamic through the directive or, perh

[2016-04-11 21:06] s-KaiNet commented on #275
hm...may be you need a wait for a while, until people picker will be ready, If you look closely into the source for demo, you will see that the right part is actually a people picker in facepile mode.
Currently I'm working on it and it take up to two weeks to handle it.
So actually your first question is about people picker :). For this question I'd rather have a dynamic value (good for start, the

[2016-04-11 21:47] ghost commented on #275
The facepile rendered at the start (i.e. not in the panel) is the one affected by that code snippet is it not? Adding more members to the people picker in facepile mode affects the facepile as shown below...

![image](https://cloud.githubusercontent.com/assets/13330650/14443369/b57e2dee-0036-11e6-9982-9f6c89ca6993.png)

I'm happy to wait or leave it for someone else of course, but can start and pl

[2016-04-11 22:01] s-KaiNet commented on #275
You're right, you can start right now if you want. I've just pushed into my fork here - [issue-30](https://github.com/s-KaiNet/ng-officeuifabric/tree/issue-30). Grouped demo completely ready, it can be changed, but I believe that interface for communicating with "other world" will remain the same - `demo\index.html` - `<uif-people-picker uif-people="onSearch(query)" ng-model="selectedPeople">` whe

[2016-04-12 10:40] #257 closed

[2016-04-13 15:02] andikrueger opened #281 "<uif-dropdown>: uif-label is not rendered"
### Expected Behavior
uif-label is rendered
Compare to: http://dev.office.com/fabric/components/dropdown

### Actual Behavior
uif-label is not rendered

[2016-04-13 15:04] andrewconnell commented on #281
Labels are not automatically added to components, this is up to the developer to add a label using our `uif-label` directive.

[2016-04-13 15:04] #281 closed

[2016-04-13 15:13] andikrueger commented on #281
Thank you for the fast response. Other components like uif-textfield do offer contain the uif-label. it would be great to have these consistent between typical form components.

[2016-04-13 15:20] andrewconnell commented on #281
Thanks for bringing this up... we'll make sure to standardize across all directives.

[2016-04-13 15:22] andrewconnell opened #282 "Triage directives that don't respect ng-disabled"
Not all of our directives respect the `ng-disabled` directive. We need to look at each one and identify which ones need to get updated.

[2016-04-13 15:23] andrewconnell opened #283 "Triage directives that include a label"
Some directives include a label, others don't. Because the label is not part of the directive, we should not include it as such. This issue will look at all directives and create work items for each directive that needs to get addressed.

[2016-04-13 23:47] ghost commented on #282
Isn't this a duplicate of https://github.com/ngOfficeUIFabric/ng-officeuifabric/issues/268 ?

[2016-04-14 13:14] andrewconnell commented on #282
Yup... my bad...

[2016-04-14 13:14] #282 closed

[2016-04-15 11:04] andrewconnell opened #287 "Verify no issues & update dep to Fabric 2.3.0"

[2016-04-15 14:37] sjclemmy opened #289 "Toggle Component should expose other arguments"
Hi,
I'm using the toggle component and I want to be able to do some other actions when the user clicks.
I'd normally achieve this by adding an expression to ng-change. E.g. `ng-change="doSomeStuff(withMe)"`.

I've put `ng-click="doSomeStuff(withMe)"`, but the click fires twice so isn't ideal.

I'd suggest a change to expose this as an option. Also, might as well add the other arguments `ng-true-va

[2016-04-17 06:38] waldekmastykarz commented on #24
It's taking a little longer than anticipated: while building tests I've noticed that the code coverage was pretty low. So to refactor them I changed the logic of how selected items how being dealt with so that we can avoid similar problems that we have with tables. If all is well the directive should be finished soon and we can use the lessons learned to refactor table.

[2016-04-17 07:53] waldekmastykarz commented on #24
Tests with 100% code coverage are now done and pushed to my feature branch. Last step: code docs and samples.

[2016-04-17 17:19] waldekmastykarz commented on #230
One workaround would be to pass the value using the `title` attribute. Since attributes are bound at the time of the execution of the postLink function you can use the value from the `title` attribute to update the selected item. I have a working solution in my fork @ https://github.com/waldekmastykarz/ng-officeuifabric/tree/issue-230. Looking forward to hear your thoughts on this approach.

[2016-04-17 22:14] ghost commented on #275
# Facepile Directive Spec

[code]

### uif-facepile

Directive container, handles the creation of the DOM and binding of any events for interacting with each FacePile icon.
- ng-model - contains the Person collection
- uif-overflow-limit - optional, the maximum number of `<uif-facepile-person>` items to display before overflowing.

### uif-facepile-add-icon

Optional, Shows the 'add' icon and gene

[2016-04-17 22:40] rolandoldengarm opened #291 "Update documentation to use typings"
As we're using typings instead of tsd, the documentation should be updated here: https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/master/docs/guides/SETUP-DEV-MACHINE.md

[2016-04-17 23:20] ghost commented on #230
That looks good to me, thanks. That was easy... Will you be able to add a test case, as I've added to proof it's working?
I can't clone your repo, as I've already cloned the main repo.

See [here](https://github.com/rolandoldengarm/ng-officeuifabric/blob/b6bf1d32a8922d11d8c32adb0b1bb6d8e3d323ed/src/components/dropdown/dropdownDirective.spec.ts) for the test case:

[code]

[2016-04-18 08:25] s-KaiNet commented on #275
I look into panel demo and didn't find facepile mode or something. Can you please elaborate why would it be replaced by the `uif-panel-header`?

[2016-04-18 09:17] waldekmastykarz commented on #230
Will do that!

[2016-04-18 10:40] #29 closed

[2016-04-18 13:43] #24 closed

[2016-04-18 13:43] #291 closed

[2016-04-19 09:50] andrewconnell commented on #289
Hey @rolandoldengarm as the original author, you want to throw your thoughts here?

[2016-04-19 10:07] andrewconnell opened #294 "Update uif-table to render HTML table markup"
Fabric's 2.3.0 release added the ability to use HTML markup for building tables https://github.com/OfficeDev/Office-UI-Fabric/pull/367 instead of the original method of using `DIV` elements. This is better for accessibility and as such our table should be updated to use HTML table elements rather than DIV.

[2016-04-19 10:16] #287 closed

[2016-04-19 10:17] andrewconnell commented on #57
Touching base on this issue... how's it going @suhasdeshpande ?

[2016-04-19 10:26] andrewconnell commented on #268
The following directives that are checked off have either been fixed & confirmed this isn't something to address with them. If they are unchecked, that means investigation is still required.
- [x] `uif-breadcrumb` (n/a)
- [x] `uif-button` (fixed in 59a2b87)
- [x] `uif-callout` (n/a)
- [x] `uif-choicefield` (fixed in 1881150)
- [x] `uif-commandbar` (n/a)
- [x] `uif-content` (n/a)
- [x] `uif-context

[2016-04-19 10:39] andrewconnell opened #295 "Remove label from <uif-datepicker>"
The `<uif-datepicker>` directive displays a label immediately before the control with the text "start date". To avoid this label, the developer needs to include an empty attribute in the directive declaration.

Our directives should not automatically include labels, instead the developer should use the `<uif-label>` in conjunction with another directive to insert a directive.

The label needs to b

[2016-04-19 10:40] andrewconnell opened #296 "Remove label from <uif-textfield>"
The `<uif-textfield>` directive contains an attribute that will include a label to be displayed immediately before the control.

Our directives should not automatically include labels, instead the developer should use the `<uif-label>` in conjunction with another directive to insert a directive.

The label needs to be removed from this directive.

[2016-04-19 10:42] andrewconnell commented on #283
Looked at all our directives and identified the ones that need to be addressed:
- [x] `uif-breadcrumb` (n/a)
- [x] `uif-button` (n/a)
- [x] `uif-callout` (n/a)
- [x] `uif-choicefield` (fixed in a5c473b)
- [x] `uif-commandbar` (n/a)
- [x] `uif-content` (n/a)
- [x] `uif-contextualmenu` (n/a)
- [ ] `uif-datepicker` (task created #295)
- [x] `uif-dialog` (n/a)
- [x] `uif-dropdown` (n/a)
- [x] `uif-ico

[2016-04-19 10:42] #283 closed

[2016-04-19 10:47] waldekmastykarz commented on #230
I've added the test. Do you mind checking it out @rolandoldengarm?

[2016-04-19 10:54] andrewconnell commented on #275
The spec feels like a mix of a directive and usage, by that I mean that there are a few things that are facepile, but there is a lot of “here’s how you use the other directives. Is there a reason why you have to manually list the `uif-persona` & `uif-people-picker` components?

It would see to me that the ideal spec would be to make the developer know how to use only this directive, `uif-facepile`

[2016-04-19 11:31] ghost commented on #275
That approach makes sense @andrewconnell, and I guess it will also negate the need for validation of the `uif-size`, will update spec above by this evening. At a first glance I would move`<uif-selected-people-header>` to the `<uif-facepile-add-icon>`, simply because the panel only gets shown when adding user - but otherwise looks great.

Regarding the question around headers for the panel both @an

[2016-04-19 13:19] andrewconnell commented on #275
Sounds good… looking forward to the updated spec.

As for the inconsistency in their demo, I’d file an issue with Fabric as I’m sure they’ll address it based on their recent activity.

[2016-04-19 13:52] s-KaiNet commented on #275
@tobiaswest83 now I see...thanks for explanation. We have two headers - one for the panel and one for the people picker in facepile mode. No need to have two identical headers.. correct?
Then I will make sure that when `uif-facepile-header` is omitted all other parts look and work as expected.
@andrewconnell I've prepared a list of issues\question regarding people picker demo and people picker its

[2016-04-19 15:03] sjclemmy commented on #289
I had a bit of a play around with how this might work and I implemented something like this (without using ngOfficeUIFabric, but it would be much cleaner if it was integral to the component):

[code]

To translate this into the component, the component could have a binding property called `uifOnToggle`, the implemetation could then be:
`<uif-toggle uif-label-off="Don't Upload" uif-label-on="Upload

[2016-04-19 16:44] waldekmastykarz commented on #294
Let me pick it up 😄

[2016-04-19 17:06] jjczopek commented on #268
I think it's not required for persona card.

[2016-04-19 17:45] #227 closed

[2016-04-19 19:55] ghost commented on #289
Wouldn't this apply to all of our directives @andrewconnell ?

For Toggle: I would say we should expose ng-change as an attribute, and pass that internally to the input. No need to create a new attribute.
Same for ng-true-value and ng-false-value.
I'm very busy at the moment, are you able to submit a PR @sjclemmy ?

[2016-04-19 19:57] andrewconnell opened #299 "Component to create: MessageBanner"
Official link to component description & demo: http://dev.office.com/fabric/components/messagebanner

Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv

[2016-04-19 21:53] andrewconnell commented on #295
Retracting this... the textfield is unique in the sense that the label is not always just shown above the field, but also within the field when the input is of type "underline". For this, there's a full underline used in the visualization, but the label is shown at the start of it as a prefix.

[2016-04-19 21:57] andrewconnell commented on #296
Retracting this... the textfield is unique in the sense that the label is not always just shown above the field, but also within the field when the input is of type "underline". For this, there's a full underline used in the visualization, but the label is shown at the start of it as a prefix.

[2016-04-19 21:57] #296 closed

[2016-04-19 22:10] ghost commented on #230
@waldekmastykarz I don't see a commit to that branch?
https://github.com/waldekmastykarz/ng-officeuifabric/commits/issue-230

[2016-04-20 04:16] waldekmastykarz commented on #230
I've amended the previous commit.

[2016-04-20 05:07] ghost commented on #230
Ah :)
Yes, looks good to me!! Please submit a PR :)

[2016-04-20 06:39] andikrueger opened #300 "uif-textfield: Demo Multiline not working"
### Expected Behavior
Demo multiline loads index.js file

### Actual Behavior
index.js file is not loaded and breaks page rendering.

The following snippet is missing in page head:
`<script src="index.js"></script>`

[2016-04-20 06:59] andikrueger opened #301 "uif-textfield: Test for uif-type password is missing"
### Actual Behavior
Test for uif-type password is missing. Test needs to be added:
- input is of type password

[2016-04-20 09:38] sjclemmy commented on #289
@rolandoldengarm So like this: `<uif-toggle uif-label-off="Don't Upload" uif-label-on="Upload" ng-model="myModel" ng-change="myToggleHandlingFunction()"/>`

I'd be happy to do the change and submit PR.

[2016-04-20 10:37] wobba opened #305 "Cannot click on top of the placeholder text to activate control in uif-textfield"
`<uif-textfield placeholder="This is the placeholder" />`

### Expected Behavior
When clicking anywhere in the text field the placeholder text should dispensary

### Actual Behavior
Click to the right or below the text activates the control. Clicking on the text itself does nothing.

### Steps to Reproduce Behavior
Drop a textfield control with a placeholder in your app. Try to click on top of the

[2016-04-20 10:49] #230 closed

[2016-04-20 10:49] #294 closed

[2016-04-20 10:49] #295 closed

[2016-04-20 10:49] #300 closed

[2016-04-20 10:49] #301 closed

[2016-04-20 12:23] andikrueger commented on #305
The placeholder hides the input element in a way the input focus event does not fire.

Maybe something like this could be a way to a solution:
`<label ng-show="labelShown" class="ms-Label" ng-click="labelClick()">{{uifLabel || placeholder}}</label>`

and handle the label click in this way:
`scope.labelClick = function(ev: any): void{
  if (scope.placeholder) {
    // focus input
  }
};`

[2016-04-20 12:43] wobba commented on #305
I did this on the label using jQuery:

passing focus to the underlying input control, so the same thing you describe.

[2016-04-20 17:51] andikrueger commented on #305
I created a new branch: [https://github.com/andikrueger/ng-officeuifabric/tree/issue-305-textfield-placeholder](https://github.com/andikrueger/ng-officeuifabric/tree/issue-305-textfield-placeholder)
I think it's working as expected. Please have a look and let me know.

[2016-04-20 19:20] waldekmastykarz commented on #268
The list is similar to table and a disabled state could apply either to selecting list items or executing actions on them. Should any of these be covered by the disabled state?

[2016-04-20 19:46] andrewconnell commented on #268
@waldekmastykarz From my POV, tables aren't normally seen as input controls so the fact we over the ability to select items, I don't think `disabled` makes sense because the table already has a toggle if rows can be selected, right?

As for the list, that's usually seen as a replacement for the `<select>` input control or a classic dropdownlist so that one should have the ability to be disabled. I

[2016-04-20 19:50] waldekmastykarz commented on #268
@andrewconnell table: agreed.

list: just like the table you can disable selecting items on the list. So the only thing a disabled state could influence are the actions on list items.

[2016-04-20 20:26] andrewconnell commented on #268
Hmmm… but for the list control, would it not make more sense to the developer to look for the disabled | ng-disabled state considering it’s typically an input control? If the fabric list component has a disabled CSS class, then it would imply that you can disable it and change the look & feel of it to a disabled control.

Thoughts?

[2016-04-20 21:08] tobiaswest83 opened #307 "Support for new panel type in Fabric 2.4.x & uifPanel animation issues"
Fabric 2.4.x bring a new [panel type](https://github.com/OfficeDev/Office-UI-Fabric/pull/499). Support for this needs adding to `<uif-panel>`

[2016-04-20 22:29] ghost commented on #275
@andrewconnell - updated spec above

[2016-04-21 05:37] waldekmastykarz opened #308 "Support for new table type in Fabric 2.4.x"
Fabric 2.4.x introduces a new table type (fixed). This new feature should be added to the `<uif-table>` directive. More information about the new table type is available at https://github.com/OfficeDev/Office-UI-Fabric/pull/493.

Proposed solution: add a new attribute called `uif-table-type` with possible values: `fluid` and `fixed`. For the `fixed` value the new `ms-Table--fixed` CSS class is add

[2016-04-21 05:53] waldekmastykarz commented on #268
I've just checked Fabric v2.3 CSS and there is no sign of disabled state for the List, List Item or List Item Action. With that could we assume that the List was not intended to be disabled and there is nothing we need to do about it?

[2016-04-21 10:01] ghost commented on #307
The issue with animations looks to be an issue between 2.1.0 and 2.2.0 of Fabric, see plunks below. Animations stopped working in 2.2.0, [dev.office.com](http://dev.office.com/fabric/components/panel) also has the same issue. I'll file a bug in the Fabric repo before I do anything else.

## 2.2.0

Panel opens quickly, and doesn't close correctly.

https://embed.plnkr.co/Pn94Jt50QC2HvDCnjQUP/

## 2

[2016-04-21 10:38] #305 closed

[2016-04-21 10:55] andrewconnell commented on #189
_copied from PR comment here: https://github.com/ngOfficeUIFabric/ng-officeuifabric/pull/231#issuecomment-212852098_

Hey @Hotell ... sorry for letting this hang out there... but I think at this time we want to get the current push to 1.0 because we want to make sure we are at the same parity with coverage with Office UI Fabric for ng1 before we start work on ng2. I don't think many (if any other

[2016-04-21 10:55] #189 closed

[2016-04-21 11:13] Hotell commented on #189
Hey @andrewconnell , yes I completely see and understand your point about pushing 1.0 as a priority.

Few notes though:

about ngMaterial upgrade strategy:
- there will be no upgrade strategy from the code base point
- ngMaterial2 is being rewritten from scratch ( that's a good thing! ngMaterial 1 modularity === ZERO )

so in case of ngOfficeUiFabric you will have two options, when ngMaterial2 is

[2016-04-22 07:50] sjclemmy commented on #289
@rolandoldengarm  Just to let you know I've started dev on this.

[2016-04-22 07:58] ghost commented on #289
Good stuff @sjclemmy :+1:

[2016-04-22 08:46] andikrueger commented on #308
I pushed a new branch at [https://github.com/andikrueger/ng-officeuifabric/tree/issue-308-table-fixed](https://github.com/andikrueger/ng-officeuifabric/tree/issue-308-table-fixed) . @waldekmastykarz  Would you please be so kind and have a look at it?

[2016-04-22 17:26] waldekmastykarz commented on #308
Will do! Awesome that you picked it up so quickly 😄

[2016-04-22 17:48] waldekmastykarz commented on #308
Just had a quick look:
- there a few typos for the word `fluid`. You can easily find them by going through the changes in your commit
- currently the newly added `ms-Table--fixed` class doesn't do anything as ng-officeuifabric uses Office UI Fabric v2.3.0 whereas the new class has been added in v2.4.0. It would be great to update the whole project to v2.4.0 but I don't know how much work that woul

[2016-04-22 18:11] andrewconnell commented on #308
Fairly certain there’s nothing holding us from going to 2.4.0… Just need to update package.json and run a test of everything. I’d say just submit this and include a message in the commit that it requires 2.4.0. I’ll see it and make sure it doesn’t get merged => dev & master until we make that update.

[2016-04-22 20:22] andikrueger commented on #299
I would suggest specs like these:

**specs:**
`<uif-message-banner uif-action="onLabelClick(params)" uif-action-label="Your action label" uif-is-open="true|false" uif-message="Your Message" />`

**&lt;uif-message-banner&gt;**
- @property {Function} uifAction       - Expression to be called on the button click event
- @property {string} uifActionLabel    - Label for the action button.
- @property {

[2016-04-23 19:06] s-KaiNet opened #313 "Remove let keyword from demos"
Some demos have `let` keyword in javascript files. While it works for modern browser it fails in IE10 and some devices.
Components affected: commandbar, panel, contextual menu, navbar

[2016-04-23 20:35] s-KaiNet commented on #268
PR pushed for contextual menu, navbar fixed via contextual menu, because nav bar elements are contextual menus.

[2016-04-23 20:59] s-KaiNet commented on #299
For `uifMessage` consider rich text option. For example what if the user wants to include bold text or icon in addition to regular text? You can take a look into the contextual menu directive as an example.
For example:

[code]

`<uif-content>` is a directive I used for contextual menu.
Also it may be handy to have on-close callback. For example perform some action when banner closed.
All other LG

[2016-04-23 21:40] andikrueger commented on #299
Thank you for bringing this up. Good point indeed. I'll have a look at it and check if `<uif-content>` impacts the message banner rendering. I'll let you know.

The on-close callback would be handy. 👍

[2016-04-24 14:02] andikrueger commented on #299
@s-KaiNet: I updated my branch with your great input. uif-content is now supported.

[2016-04-24 20:59] andikrueger commented on #299
Updated specs:
**Message as plain text**

[code]

**Message as formatted text**

[code]

**Attributes**
- uif-action {function}: function to be called on button click
- uif-action-label {string}: Label for the action button
- uif-is-visible {boolean}: Hide or show message banner
- uif-message {string}: Messagetext / Alternative uif-content
- uif-on-close {function}: callback function on message ba

[2016-04-25 09:30] s-KaiNet commented on #275
JSFYI
I had to leave `uif-facepile-header` as is, because people picker has some styling issues when missing facepile header.

[2016-04-25 11:03] #30 closed

[2016-04-25 11:03] #289 closed

[2016-04-25 11:03] #308 closed

[2016-04-25 11:03] #313 closed

[2016-04-25 11:05] andrewconnell commented on #275
Looking at the new peoplepicker directive, I see facepile in it... does that mean we don't need a separate directive for facepile?

[2016-04-25 11:06] andrewconnell commented on #299
I suggest removing the `uif-message` attribute... just make the developer use the `uif-content` for formatted / unformatted text. No need to have both.

Otherwise LGTM.

[2016-04-25 12:03] ghost commented on #275
The `uifFacepile` directive is the combination of collection of `uifPersona` directives, and the `uifPeoplePicker` (in facepile model), nested inside a `uifPanel`, so yes - I believe it's still needed.

[2016-04-25 17:21] s-KaiNet opened #317 "Small issues on people picker demo"
- In Regular People Picker demo button "Remove" not working
 - ~~For disconnected scenario people picker should be in regular mode instead of compact (compact and disconnected scenario has styling issue, but for Office UI team reported)~~ - that's good

[2016-04-26 15:26] sjclemmy commented on #289
I have just tried to implement this with my recent changes in a production app and I have come across a timing issue. I have to wrap the resolved function from ngChange in a $timeout in order for it to get access to the the correctly updated value of ngModel. It's basically 1 cycle behind.
I think this answer explains the problem:
http://stackoverflow.com/questions/33178205/ngchange-fires-before-v

[2016-04-26 19:51] ghost commented on #275
@andrewconnell you OK with the design so I can crack on? :smile:

[2016-04-27 13:31] tom2all commented on #268
I think support for "ng-disabled" is broken (at least for "uif-button"). ng-disabled attribute should take an expression as value (see https://code.angularjs.org/1.5.5/docs/api/ng/directive/ngDisabled).

My template:
`<button type="submit" uif-type="primary" ng-disabled="vc.isButtonDisabled()">Button</button>`
is rendered to:
`<button type="submit" uif-type="primary" class="ms-Button ms-Button--pr

[2016-04-27 15:21] andrewconnell commented on #275
LGTM... go for it! :)

[2016-04-27 18:06] s-KaiNet commented on #268
@tom2all that's definitely the bug. Tests are passing only because coincidentally the property controlling disabled called `"disabled"` :)
#319

[2016-04-27 18:09] s-KaiNet opened #319 "uif-button ng-disabled not working properly"
### Expected Behavior
When using ng-disabled attribute on uif-button, the button should reflect the state.

### Actual Behavior
It works as expected only if scope property name controlling disabled state equals to `"disabled"`
In other case js error is thrown by angular.

[2016-04-27 18:22] andrewconnell commented on #319
Eek... good catch by @tom2all ... more details here: https://github.com/ngOfficeUIFabric/ng-officeuifabric/issues/268#issuecomment-215083711

[2016-04-27 21:32] #33 closed

[2016-04-27 21:32] #299 closed

[2016-04-27 21:32] #317 closed

[2016-04-27 21:32] #319 closed

[2016-04-28 01:31] andrewconnell commented on #33
Hey... we have an issue with this directive. I merged it without checking everything... now I see the code coverage is showing below 50% for tests... see this build report:

https://circle-artifacts.com/gh/ngOfficeUIFabric/ng-officeuifabric/115/artifacts/0/tmp/circle-artifacts.UPLlyLE/code-coverage/index.html

I'm going to open an issue on this one as it's just well below all the other directives.

[2016-04-28 01:34] andrewconnell opened #321 "Pivot directive needs more tests to increase code coverage"
As mentioned in #33...

We have an issue with this directive. Code coverage is showing below 50% for tests... see this build report:

https://circle-artifacts.com/gh/ngOfficeUIFabric/ng-officeuifabric/115/artifacts/0/tmp/circle-artifacts.UPLlyLE/code-coverage/index.html

We need a lot more tests to cover the code in this directive.

[2016-04-28 07:19] tom2all commented on #268
@s-KaiNet , @andrewconnell : Thank you for fixing this bug and releasing the fix so fast!
I've upgraded my app to 0.10.0 and all my buttons work fine again! :+1:

[2016-04-28 16:30] jjczopek commented on #321
While developing, I have added more than 20 test cases to test each aspect of the directive. However while running the tests, most of the parts of the code look to be not accessed at all, but the test cases don't fail.

As an example, the directive has a link function. This function should be called at least once for every test case, because instance of the directive is created before each test ca

[2016-04-28 19:25] andrewconnell commented on #321
Strange... warrants investigation then... I'll take a peek...

[2016-04-29 13:52] andikrueger opened #322 "uif-textfield: ng-change not working"
### Expected Behavior
ng-change evaluates the given expression when the input is changed.

### Actual Behavior
ng-change does nothing. the input and textarea do not have the ng-change attribute.

The uif-textfield output looks like this (simplified):

[code]

### Steps to Reproduce Behavior
[https://plnkr.co/edit/QKSgQKkksTmNyLAOr9nC?p=preview](https://plnkr.co/edit/QKSgQKkksTmNyLAOr9nC?p=preview)

[2016-05-01 07:13] andikrueger opened #323 "uif-textfield: add support for more input types"
`uif-textfield` should support the following input types:
(checked ones are supported by now)
- [x] text
- [x] password
- [ ] email
- [ ] url
- [ ] tel
- [ ] range => add support for attributes: min, max, step
- [ ] number  => add support for attributes: min, max, step

The following type values are optional, as they are more likely to fit into
`uif-datepicker` and `uif-searchbox`:
- [ ] month
- [

[2016-05-03 01:42] ghost commented on #323
@andikrueger I've assigned this issue to you, as you seem to be working on it. Okay?

[2016-05-03 07:53] andikrueger commented on #323
@rolandoldengarm That's fine.

[2016-05-04 10:22] #321 closed

[2016-05-04 10:22] #322 closed

[2016-05-06 10:22] andikrueger opened #327 "uif-Dropdown: Initial value not set correctly for integer keys"
### Expected Behavior
uif-Dropdown initial value should be set

### Actual Behavior
initial value is not set correctly for integer keys

### Steps to Reproduce Behavior
[https://plnkr.co/edit/Byr6zv7yIFZyqHbjwkoF?p=preview](https://plnkr.co/edit/Byr6zv7yIFZyqHbjwkoF?p=preview)

[2016-05-06 10:31] andikrueger opened #328 "uif-textfield: multiline: ng-list and ng-trim not supported"
### Expected Behavior
uif-textfield as multi line does support ng-ist and ng-trim

### Actual Behavior
uif-textfield as multi line does not support ng-list and ng-trim not supported

### Steps to Reproduce Behavior
[https://plnkr.co/edit/qywXx74oGnn5x3Tm0ptL?p=preview](https://plnkr.co/edit/qywXx74oGnn5x3Tm0ptL?p=preview)

[2016-05-06 12:56] ReneHezser opened #330 "breadcrumb with ng-repeat"
The breadcrumb control does not work with ng-repeat. This is what I have:
[code]
and
`$scope.breadcrumbs = [{ name: 'paul', url: 'test' }, { name: 'paul', url: 'test' }];`

### Expected Behavior
Two breadcrumbs will be rendered

### Actual Behavior
Nothing happens

[2016-05-06 13:46] s-KaiNet commented on #330
@ReneHezser  thank you for submission!
Can you please create a plunkr or something demonstrating the issue?
From what I see in your code your are assigning `ng-controller="BreadcrumbController"` to `uif-breadcrumb`, but directive itself has a controller, conflict may occur. Try to put your controller on a higher level in the dom hierarchy.
And can you see any errors in dev console?

[2016-05-06 13:59] andrewconnell opened #331 "Check & update library to Fabric 2.5.0"

[2016-05-06 19:00] andikrueger commented on #330
I was able to reproduce the error with this punklr: [https://plnkr.co/edit/fKQsPUmQe7dAUkmOieQv?p=preview](https://plnkr.co/edit/fKQsPUmQe7dAUkmOieQv?p=preview)

The following error is logged in the console:

VM919 angular.js:12722 TypeError: Cannot read property 'insertBefore' of null
    at forEach.after (https://code.angularjs.org/1.4.9/angular.js:3510:13)
    at Object.JQLite.(anonymous functi

[2016-05-07 02:33] ghost commented on #330
Probably because transclusion happens manually. Not sure how to fix this, I guess we could look at increase priority of breadcrumb and/or move it to prelink.

[2016-05-09 10:20] oviava commented on #256
think this might still be an issue:

[code]

If no option shouldn't it be set to the passed selectedTitle ?!

[2016-05-09 11:00] oviava commented on #256
correction, after checking the code a bit. Would like to be able to set a placeholder for the dropdown directive. I assumed selectedTitle was used like that, but apparently that's not an option. at the moment uif-dropdown doesn't support any sort of placeholder though it would be easy to do that via selectedTitle

[2016-05-09 11:04] oviava commented on #256
one option would be to set the selectedTitle in the preLink function

[code]

and then, if ng-model is null / undefined set it to the attribute set selected-title

[2016-05-10 11:08] andrewconnell commented on #256
Can you please explain this a bit more. I don't understand the issue... is this a bug, enhancement, change... ?

When creating an issue & PR, a template is used that explains what you need to include... please follow the guidelines in the template to help us understand what's going on.

[2016-05-10 12:37] oviava commented on #256
Hi Andrew, apologies, I may have done this in a bit of a rush.

Similar to search box, it would be nice to have something like a placeholder for dropdown components. I've done a pull request, this works for me at the moment, passed all the tests but not sure if it goes with the direction/pattern you see ngOfficeUIFabric.

See https://github.com/ngOfficeUIFabric/ng-officeuifabric/pull/332

[2016-05-10 13:03] andrewconnell commented on #256
Thanks for the update... but you've just changed the directive. I don't see any updates to demos or tests to document the usage and showing an example as well as adding coverage to prove your changes work. I'm going to close the PR for now because it isn't ready for merging, but please feel free to resubmit in the future once these things are addressed.

[2016-05-10 13:05] oviava commented on #256
Fair enough, will try to allocate some time for a proper PR.

[2016-05-10 14:53] andikrueger opened #333 "uif-messagebanner: uif-is-visible does not work correctly"
### Expected Behavior
uif-is-visible attribute should close or show the banner.

### Actual Behavior
uif-is-visible: binding is not correct. The scope variable gets overridden during binding.

### Steps to Reproduce Behavior
https://plnkr.co/edit/B1XV27

[2016-05-10 18:26] jjczopek commented on #331
If that is of any help, I verified the following directives:
- callout
- persona
- persona card
- pivot
- spinner

They all seem to be good - tests pass & demos have no issues.

[2016-05-10 20:36] ghost commented on #256
There is already a solution to do this, just add an uif-dropdown-option with empty value. I don't see the need for another attribute to be honest.

[2016-05-10 20:36] #256 closed

[2016-05-11 18:39] andrewconnell opened #335 "Audit of library for 1.0"
Audit the library to make sure we have full coverage on current Office UI Fabric. Also take stock of code quality, documentation, demos, samples, etc.

[2016-05-11 21:19] #323 closed

[2016-05-11 21:19] #331 closed

[2016-05-11 21:19] #333 closed

[2016-05-13 10:50] andrewconnell opened #336 "Update supported icon list"
Some icons missing from official supported ones in fabric from recent releases:

- [ ] circle (add)
- [ ] onedrive (remove)

[2016-05-17 14:34] andikrueger commented on #328
I think, we can put this issue on hold, as there is an issue with the ngList attribute. ngList does not support dynamic list delimiter, which are a precondition to use the attribute in template.

The corresponding angular issue:
[ngList renders scope variable instead of the value](https://github.com/angular/angular.js/issues/14624)

[2016-05-18 08:54] deval-github opened #338 "ng-model does not work with uif-searchbox"
I have used the uif-searchbox directive in my sharepoint hosted app for filtering data displayed in the uif-table component.
To filter the data on the basis of text in serach box with uif-searchbox directive we need to bind the text in ng-model. So that later a filter can be applied on that basis
But uif-searchbox does not seem to support ng-model.
If this is true then is there a way on how the da

[2016-05-18 12:41] andikrueger commented on #338
If I understand you correctly, you’re saying that uif-searchbox does not support the attribute ngModel. That's true - uif-searachbox uses the attribute `value`, which binds to ng-model.

Have a look at this [plnkr](https://plnkr.co/edit/ewLsq3?p=preview).

Usage:

[code]

[2016-05-18 13:09] deval-github commented on #338
Hello andikrueger,

Thanks a lot for the reply.
It cleared the doubt. :+1:

[2016-05-18 13:09] #338 closed

[2016-05-18 18:10] admanb commented on #330
Any hope on this one? It would be really nice to be able to do dynamic breadcrumbs with this component.

[2016-05-19 22:30] rolandoldengarm opened #339 "Component to create: MessageBar"
MessageBanner is in the latest release (2.6.0) of Office UI Fabric. Not on dev.office.com yet.

See: https://github.com/OfficeDev/Office-UI-Fabric/pull/515 and https://github.com/OfficeDev/Office-UI-Fabric/releases/tag/2.6.0

[2016-05-20 00:30] ghost commented on #330
I've been playing around, and this requires more work. Transclusion is a PITA and in the transclude function I don't seem to be able to grab the ng-repeated items.
This may require a complete rework of this component. Not a 5 minute job...

[2016-05-20 08:27] andikrueger commented on #339
I would suggest the following specs:

[code]

Plnkr with a messagebar demo: [DEMO](https://plnkr.co/edit/o7ZICu?p=preview)

[2016-05-20 10:26] andikrueger commented on #330
Yesterday I built a playground on this topic:
[https://plnkr.co/](https://plnkr.co/edit/XrXAcu7s2V1Td79UyslC?p=preview)

I think this will solve the ng-repeat issue,...

[2016-05-20 18:30] jjczopek commented on #339
I would change `type`to `uif-type`. It should be an enum with following values:
`error|remove|severewarning|success|warning`. By default it's not specified.

I'm ok with the rest.

I could take that one as I actually was missing this feature on my project.

[2016-05-20 18:46] andikrueger commented on #339
Thanks for your input.
I absolutely agree on the `type` as `uif-type` thing. I'm already half way through with the directive. I already started working on it... :)

[2016-05-20 21:05] andikrueger commented on #339
@jjczopek I published my dev-branch. Would you give it a try?

[2016-05-20 21:07] andikrueger commented on #339
I could not use `uif-icon` in the directive, because there are two classes needed to render the icons properly. Mabe this could result in a feature request for `uif-icon`.

[2016-05-20 22:55] andikrueger commented on #330
I updated my branch with my latest changes. The breadcrumb renders now with ng-repeat. There are some minor issues left:
- [x] fixed: test doesn't work properly
- [x] fixed: tabindex for regular renderings is NaN and not the expected value
  See: [Dev-Branch](https://github.com/andikrueger/ng-officeuifabric/tree/issue-%23330-breadcrumb-ng-repeat)
- [x] test for ng-repeat missing

[2016-05-22 13:09] andrewconnell opened #341 "Update dependency for Office UI Fabric 2.6.0"
https://github.com/OfficeDev/Office-UI-Fabric/releases/tag/2.6.0

[2016-05-22 18:51] andikrueger commented on #330
Finally, I pushed my latest changes to this [branch](https://github.com/andikrueger/ng-officeuifabric/tree/issue-%23330-breadcrumb-ng-repeat). By now tests for the regular and ng-repeat rendering are added. The ng-repeat functionality should work as expected...

Could anyone of you guys verify my changes? I will make the PR afterwards.

[2016-05-23 04:22] ghost commented on #330
Just had a look at the source code, looks good to me! Nice work.

[2016-05-23 06:08] andikrueger opened #342 "uif-Breadcrumb: missing responsiveness"
### Expected Behavior
Breadcrumb shows the last 2 or 4 link elements dependent on the screen size:
[Demo Office Ui Fabric](http://dev.office.com/fabric/components/breadcrumb)

### Actual Behavior
uif-breadcrumb renders all link elements. [Breadcrumb.js](https://github.com/OfficeDev/Office-UI-Fabric/blob/master/src/components/Breadcrumb/Breadcrumb.js) code is missing in the directive.

[2016-05-23 12:42] andrewconnell commented on #342
Good find... bugging this.

BTW, we don't include the JavaScript from Office UI Fabric since historically they take dependencies on jQuery (I'm aware this is changing). We want to only require users to reference out JS file, not additional files if possible. In the past we've taken the approach that the JS should be rewritten into our component.

[2016-05-23 12:43] andrewconnell commented on #170
Moving this to the backlog... not critical at this time.

[2016-05-23 12:46] andrewconnell commented on #328
I'm going to close this. Because the underlying Angular directive doesn't support it, it's not something we can address. Would be better if we contributed to the core Angular library to support the interpolation of the condition then we can add support to our library... but for now, doesn't seem like something we can address.

[2016-05-23 12:46] #328 closed

[2016-05-23 12:47] andrewconnell commented on #330
Planning to merge the outstanding PR's later tonight (_12hrs from now my time GMT -0500_). @andikrueger if you want to submit a PR before that, I can get it into the next update.

Nice work!

[2016-05-23 12:50] andrewconnell commented on #307
Let's only consider the addition of the additional panel type in this issue as there's a recognized bug in the Office UI Fabric https://github.com/OfficeDev/Office-UI-Fabric/issues/505 for the animation stuff that's not something for us to handle.

As such, I'm going to modify your comments...

[2016-05-23 12:52] andrewconnell commented on #275
Checking in on this directive as doing a v1.0 release review... can you provide a status on this directive @tobiaswest83 ?

[2016-05-23 12:53] andrewconnell commented on #10
Reassigning to me as previous owner hasn't checked in or updated process in some time...

[2016-05-23 12:53] andrewconnell commented on #57
Reassigning to me as previous owner hasn't checked in or updated process in some time...

[2016-05-23 12:54] andikrueger commented on #330
@andrewconnell Thank you for the reminder. :)

[2016-05-23 13:24] andikrueger commented on #342
That was more kind of a reminder where to find the "responsiveness". Hopefully the Office Ui Fabric guys will make  good progress with this Typescript topic and will save us a lot of time rewriting the code.

[2016-05-23 15:09] andrewconnell commented on #342
But we don’t want to take a dependency on their JavaScript… we haven’t in the past because of issues they’ve faced. As a project principal, all the script they produce is example stuff… it’s not shipped with the components except with their examples. For instance, it’s not included in their CDN updates… they only ship their CSS.

Unless there’s a compelling reason we should keep with our position

[2016-05-24 10:45] #330 closed

[2016-05-24 10:45] #336 closed

[2016-05-24 10:45] #341 closed

[2016-05-24 10:52] ghost commented on #275
hi @andrewconnell, should be done by the weekend - sorry for the slow progress, been super busy

[2016-05-24 10:58] andrewconnell commented on #275
No worries... just checking in. Thanks for the update!

[2016-05-24 16:27] andikrueger opened #345 "Update dependency for Office UI Fabric 2.6.1"
[https://github.com/OfficeDev/Office-UI-Fabric/releases/tag/2.6.1](https://github.com/OfficeDev/Office-UI-Fabric/releases/tag/2.6.1)

[2016-05-24 17:49] andrewconnell opened #346 "Update typings to v1.x"
The Typings project was updated and has some breaking changes for v1. Update our typings usage to reflect this.

[2016-05-24 17:50] andrewconnell opened #347 "Set dependencies to explicit versions"
Update the `package.json` to use explicit package references.

[2016-05-25 12:06] ranjit-singh commented on #20
there is no close event for dialog. is anyone knows that how to close dialog?

[2016-05-25 17:38] jjczopek commented on #342
Is any one looking into this? I wouldn't like to duplicate effort.

[2016-05-25 17:47] andikrueger commented on #342
Though I opened the issue, I haven't had the time to fix it jet.

[2016-05-25 17:52] jjczopek commented on #342
Ok, so I'll start working on it.

[2016-05-26 08:21] jjczopek commented on #342
The way how resposivness for this component works, is that if there are more elements to display than allowed (e.g. 4), some of the lements are moved from breadcrumb link list to contextual menu that is hidden under ellipsis icon.

I'm not sure if that's the best idea to move elements between DOM elements if e.g. ng-repeat is used (not even sure if that's possible).

I think the cleanest solution

[2016-05-26 11:08] andrewconnell commented on #346
Somewhat involved process... as I started to do this, noticed some of our directives don't conform to the latest type definitions in Angular. Steps to address this:
- [x] update `tsconfig.json` to remove the references to `typings/*`
- [x] update `typings.json` to change `ambientDependencies` to `globalDependencies`
- [x] remove `mime` & `yargs` from `globalDependencies` and install from `dependen

[2016-05-26 11:23] andikrueger commented on #342
I like the new specs. On the one hand it makes the uif-breadcrumb even more handy and the transclude function is getting easier. On the other hand this solutions eliminates a hard-coded breadcrumb.

I just opened my vs code and gave a double transclue function a try. There is something I don't like about appending the current transcluded elements twice. The resulting html is way bigger than needed

[2016-05-28 16:42] jjczopek commented on #268
Added support for disabled & ng-disabled to uif-datepicker (commit 13869961158790f654a1cbb45d30591a6a7c31ab).

[2016-05-28 19:13] jjczopek commented on #268
Added support for disabled & ng-disabled to `uif-searchbox` (276ff6789a1ab1b977c39705d6297e286c0fc106)

[2016-05-28 19:18] jjczopek commented on #268
Regarding orgchart - after looking into Fabric CSS, I haven't found any disabled classes for orgchart. I therefore I suggest that this exercise is not applicable to uif-orgchart component.

[2016-05-29 08:44] jjczopek commented on #251
@rolandoldengarm: does this still apply? I have setup a codepen and I'm unable to reproduce:
http://codepen.io/jjczopek/pen/rLNGXR

[2016-05-29 08:51] jjczopek commented on #307
I think there is more to fix on panel directive. I wanted to take a stab at the new panel type, but noticed also one other thing. `uif-type` has following allowed values: `small|medium|large|extralarge|left`.

Inside the directive [L149](https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/master/src/components/panel/panelDirective.ts#L149) value of `uif-type` is used to build the class that

[2016-05-29 08:54] ghost commented on #307
This changed between releases of Fabric, I believe to conform with naming conventions for other sizes. You should just need to change the PanelType enum to reflect this

[2016-05-29 09:22] jjczopek commented on #307
I would say rather add a logic that maps `uif-type` value to proper class names, to stay consistent with other components.

Also wondering how to tackle the new type of panel. I see two options:
- add additional attribute called `uif-panel-fixed` - if present, it would apply additional class to the element if type is `large`
- add additional type value `largeFixed` due to the fact that `fixed` onl

[2016-05-30 14:55] #327 closed

[2016-05-30 14:55] #339 closed

[2016-05-30 14:55] #342 closed

[2016-05-30 14:55] #345 closed

[2016-05-30 14:55] #346 closed

[2016-05-30 14:55] #347 closed

[2016-05-31 10:19] #268 closed

[2016-06-01 18:13] jjczopek opened #354 "Breadcrumb - too many elements on small screen initially"
When page where breadcrumb is placed is accessed and initial screen size is smaller than 640px, 4 elements are displayed instead of 2.

It's working fine when window is resized.

### Expected Behavior
Initial access to a page smaller than 640 pixels in width should display 2 breadcrumb links.

### Actual Behavior
Initial access to a page smaller than 640 pixels in width displays 4 breadcrumb links

[2016-06-01 19:19] andikrueger opened #356 "MessageBar: uif-type binding not working properly"
### Expected Behavior
uif-type should be able to bind to a function or a scope variable value

### Actual Behavior
uif-type binding does not work as expected

### Steps to Reproduce Behavior
https://plnkr.co/edit/wImWYb2UwUn5jF23Wsji?p=preview

[2016-06-01 19:45] jjczopek commented on #356
Honestly speaking none or at least most of the components does not support this. At least those that I have been working on - spinner, callout, persona, personaCard, pivot...

[2016-06-01 20:11] andikrueger commented on #356
This also crossed my mind after I had opened the issue.
I think we should discuss this topic further to have a consistent support/implementation for this kind of issue.

In this certain kind I expected to pass a dynamic message and type into the directive to give the user timely information underneath an input element depending on the input value...

[2016-06-01 20:23] andrewconnell commented on #356
Then let's have the discussion. @andikrueger care to spin up a new issue to discuss it more in general? Personally I think the issue needs to be described & articulated a bit more... just like the `disabled` & jQuery testing issues we ran into earlier... now is the time to have this discussion.

[2016-06-01 20:32] jjczopek commented on #356
I'm wondering if that's actually necessary. IMHO that this kind of attributes (type, size etc) that take string values should have those attributes properly watched in the directive and react to changes of the attribute values. And when it's needed to change the attribute value, change the scope value by a watch expression maybe on a controller level?

[2016-06-01 20:34] andrewconnell commented on #356
So that’s sort of what I was thinking as I read the issue as I was having a hard time remembering a scenario where I bound a function to an attribute rather than just binding the poperty on the model to the attribute.

[2016-06-01 20:59] jjczopek commented on #356
In that particular case, the problem is that the `uif-type` attribute is configured on the directive scope as expression, and angular tries to evaluate it, and fails on `{{}}` construct.

In other directives attributes expect string value (denoted by the `@` on the isolated scope definition), and Angular seeing that first will interpolate value inside `{{}}` and then pass the resulting string valu

[2016-06-02 08:37] andikrueger opened #358 "Ensure all directives using uif-type attribute have test cases to verify the binding of scope variables work"
Some directives use the uif-type attribute to bind a string or a scope property into the directive's scope. As discussed in #356: a change of the scope property or string is reflected in our directives.

We should check our directives whether the binding of uif-type attribute should be watched and tested to confirm uif-type binds and watches scope variables correctly.

What is this good for? For e

[2016-06-02 08:42] andikrueger opened #359 "MessageBanner: Test for responsiveness is missing"
`uif-messagebanner` does not have a test for the responsive rendering with screen width being smaller than 480 px.

An example on how to test responsive elements can be found in https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/master/src/components/breadcrumb/breadcrumbDirective.spec.ts

[2016-06-02 20:11] ghost commented on #275
Sorry for delay on this, had a few issues and then been working away. Will be finishing tests and putting PR together in next day or two

[2016-06-03 08:41] rolandoldengarm opened #361 "$dirty not being set on certain directives"
http://plnkr.co/edit/n642ZGLz8VNgT5RjNO2L?p=preview

When changing the uif-textfield, the $dirty property is not set to true.
It IS set to true for the form, but not for the ng-model property bound to the uif-textfield.

Apparently this also occurs at uif-dropdown.

We need to verify this for all components.

[2016-06-04 10:31] jigargandhi commented on #159
# Methods

$uifDialog.alert()

$uifDialog.confirm()

$uifDialog.prompt()

$uifDialog.show()

$uifDialog.hide()

$uifDialog.cancel()

The parameters of these functions can be similar to $mdDialog

@andrewconnell: Let me know if more detailing is required /cc: @ngOfficeUIFabric/ngofficeuifabric-collaborators

[2016-06-06 21:43] ghost commented on #361
The best solution seems to have the name property on the input element. Right now, this attribute is not copied to the input element. We could do this manually, but that's harder to maintain.
We could use mergeTemplateAttributes https://github.com/angular/angular.js/blob/master/src/ng/compile.js#L2747 to copy all attributes from the directive to the input element.

We need to do this on all direct

[2016-06-07 10:06] andrewconnell commented on #361
Instead of a single issue, can we please create seperate issues for each directive? Found using one issue to track all directives was a PITA and a mess in the commit references... also hard to track if someone was already working on one directive as you couldn't tell who was working on one vs. another.

[2016-06-07 13:18] tobiaswest83 opened #363 "Usage of uifDialog"
Currently the uifDialog has a few issues which need addressing, listed below. Looping in @jigargandhi as the original author and creator of issue #159 relating to creating services
### Opening/Closing dialogs

At the very least, in order to make `uifDialog` usable, suggest we include `uif-is-open` to allow consumers to control the state of the dialog from within their app.
### Markup

The markup r

[2016-06-07 15:08] ghost commented on #307
@jjczopek, I've added the correct panels and taken into account what you said about the mapping logic.

I left out the largeFixed changes you proposed because

a) We didn't decide which was the best approach (`largeFixed`) gets my vote
b) I couldn't find this new panel type in the Fabric repo

if you want to pick that up, then great :)

[2016-06-07 21:46] #275 closed

[2016-06-07 21:46] #307 closed

[2016-06-07 21:46] #354 closed

[2016-06-07 21:46] #356 closed

[2016-06-08 03:12] jigargandhi commented on #363
I know it is difficult to use uifDialog at the moment due to complex markup. That is the same reason, I have created another issue #159 that allows to create dialogs with simple parameters (similar to $mdDialog service).
@ngOfficeUIFabric/ngofficeuifabric-collaborators please comment.

[2016-06-08 09:24] andrewconnell commented on #363
If it's complicated to use the dialog, then we should fix that if possible, not create something else to fix it. I get the idea of a service, but we should fix the issue if there's an issue (I don't have experience in using the dialog so can't speak to it).

[2016-06-08 10:02] ghost commented on #363
IMO, a service is overkill, we're not entirely consistent in other directives which require layering and/or showing and hiding. This may be because some can use `ng-show` or `ng-hide`, whilst others are more complex (`uifPanel` does animation in and out for instance).
- `uifMessageBanner` using `uifIsVisible`
- `uifMessageBar` has no show/hide implementation
- `uifOverlay` has no show/hide impleme

[2016-06-08 10:40] jigargandhi commented on #363
as per comment from @tobiaswest83 it seems that different directives use different attributes.
I am open to use either `uifIsVisible` or `uifIsOpen`.
May be uifDialog is difficult to use and we should definitely fix it by using one of the above attributes.
Which one should be used?
@ngOfficeUIFabric/ngofficeuifabric-members please vote.

[2016-06-08 11:17] andikrueger commented on #363
I would vote for an improved documentation.

e.g. `uifMessageBanner` using `uifIsVisible` provides more information about the status of the message bar. The Message bar's controller sets the value of the `uifIsVisible` scope variable (two-way-binding) and therefore reflects the user's close-event .

[2016-06-09 09:58] weshackett opened #366 "Panel Directive - line 30 close button causes full postback breaking a UI-Router use case"
### Expected Behavior
When showing the 'close' button on the panel clicking the click event only closes the panel and causes no postback

### Actual Behavior
Clicking close does a full postback. Which breaks the UX when Angular UI-Router is in use as the panel may be within a nested ui-view and a full postback takes you back to the root view which is undesirable

Currently the close button is rend

[2016-06-13 13:36] andrewconnell commented on #159
IDK... I think I'd personally like to see more usage of what this would look like from a controller to be sold on this service. Then again, it's an enhancement & I get why MD has it... so if you want to tackle it, I say go for it @jigargandhi

[2016-06-13 13:36] andrewconnell commented on #159
But... need to see more of a spec before you go building so we can all agree :)

[2016-06-15 03:20] rolandoldengarm opened #367 "$dirty not being set on uif-textfield"
Refer to https://github.com/ngOfficeUIFabric/ng-officeuifabric/issues/361 for more information.

[2016-06-15 03:21] rolandoldengarm opened #368 "$dirty not being set on uif-dropdown"
Refer to https://github.com/ngOfficeUIFabric/ng-officeuifabric/issues/361 for more information.

[2016-06-15 03:22] ghost commented on #361
I completely agree, but it does not apply to each directive. I don't want to create an issue for each directive, only if it requires an update.
I've created two issues for uif-textfield and uif-dropdown, and checked a couple that won't have this issue.

[2016-06-20 19:56] andikrueger opened #369 "uif-table: can't select all rows via table header row"
### Expected Behavior
When allowing to select multiple rows it is possible to toggle selection of all rows using the table row selector () in the header row. If not all rows are selected, clicking the table row selector will select all rows. If all rows are selected, clicking it will deselect all rows.

### Actual Behavior
[Demo](http://ngofficeuifabric.com/demos/uifTable/)
See: Selecting multiple

[2016-06-21 04:03] johnnliu opened #370 "UIFDropDown issues with ng-transclude"
I wanted to drop a quick note that for IE11 and Edge, we had issues with the dropdown not working (the LI items were not being transcluded inside the UL).

We fixed this by moving the ng-transclude element inside the parent ul.ms-Dropdown-items as an attribute.
### Problem line: dropdown template

`<ul class="ms-Dropdown-items"><ng-transclude></ng-transclude></ul>`
### Fixed

`<ul class="ms-Dropdo

[2016-06-23 09:38] ghost commented on #369
I can't select _any_ row...
@waldekmastykarz are you able to comment?

[2016-06-23 09:40] ghost commented on #370
We have had other issues with ng-transclude where it did not work properly as an attribute...
Do you recall @andrewconnell  ? Or am I wrong, and did we have issues with ng-transclude as an element?

In any case, happy to change it to attribute if that fixes the issue (needs to be confirmed) and if all test scripts still pass. Would you be able to investigate further @johnnliu ?

[2016-06-23 09:54] andrewconnell commented on #370
I don't recall that issue... sorry :-/

[2016-06-29 18:08] #366 closed

[2016-06-30 08:03] djeffa opened #372 "uif-datepicker unable to handle null values"
I'm having a datasource that returns null in case a datetime field is empty. This results in the following error when the form loads:
angular.js:13236 TypeError: Cannot read property 'getFullYear' of null
    at e.setValue (ngOfficeUiFabric.min.js:9)
    at o.$render (ngOfficeUiFabric.min.js:9)
    at ngModelWatch (angular.js:26472)
    at Scope.$digest (angular.js:16655)
    at angular.js:16859

[2016-06-30 12:40] RG1337 opened #373 "panel directive uif-is-open link is not working correctly"
the panel directive is broken in some situations.

Let's say you have a minimal app, here you can open the panel using the open button. The problem occurs if you press the open button while the panel is still closing. The variable vm.isOpen is set to true but the panel will not reopen.

[code]

[2016-06-30 22:50] andrewconnell commented on #372
As the issue template indicated when you created the issue, could you reproduce it with a plunkr or something? Easier to see what's going on and see if it's a bug / feature request.

But yes, a null check could get added. Why don't you fork & submit a PR?

[2016-06-30 22:51] andrewconnell commented on #373
As the issue template indicated when you created the issue, could you reproduce it with a plunkr or something? Easier to see what's going on and see if it's a bug / feature request.

[2016-07-01 06:56] RG1337 commented on #373
Here is a jsfiddle:

https://jsfiddle.net/owv9fw4f/

if you press the open button during the closing animation the panel will no longer open if you click on open.

[2016-07-01 12:27] ghost commented on #373
Thanks for the jsfiddle @RG1337

I have just been able to repro this, you have to be very quick with pressing the button - but it certainly happens! Feel free to assign to me @andrewconnell

[2016-07-01 12:35] RG1337 commented on #373
@tobiaswest83
The problem is that once the isOpen value is true the 'watch' will no longer trigger in the 'panelDirective`. This is standard angular behavior afaik. There needs to be a way to stop an animation and run the other if the value is changed during the animation.

[2016-07-03 17:59] djeffa commented on #372
Sorry about that, added a plunker link to demonstrate the issue. The problem occurs on first load and after setting the value to null later.

Haven't worked with git before, but i'll figure it out and submit a PR when i have some spare time.

[2016-07-04 10:40] tobiaswest83 opened #374 "Addition of type="button" to directives"
`uifDialog`, `uifPeoplePicker`, `uifFacePile` all use `<button>` elements, but do not set the `type` attribute to `button`.

The issue can be overcome with `uifButton` by adding the attribute to the markup, this is right as we are leaving the behavior to the consumer. However, for the directives above, we do not want a postback to occur - so must add the attribute.

### Expected Behavior

Clicking

[2016-07-04 11:04] andrewconnell commented on #374
OK... let's make sure we get more eyes on this. I think I'm in agreement with you, but implementing this could have some significant impacts so just want more eyes on it. What say you @ngOfficeUIFabric/ngofficeuifabric-members ?

[2016-07-05 10:41] andrewconnell opened #375 "$dirty not being set on uif-choicefield"
Refer to #361 for more information.

### Steps to Reproduce Behavior
http://plnkr.co/edit/p6ltio8T895hjV1YVynK?p=preview

[2016-07-05 10:42] andrewconnell commented on #367
See repo: http://plnkr.co/edit/n642ZGLz8VNgT5RjNO2L?p=preview

[2016-07-05 10:56] andrewconnell commented on #368
See repo: http://plnkr.co/edit/vulKP4uZCmJ6YUiBrwiT?p=preview

[2016-07-05 11:01] andrewconnell opened #376 "$dirty not being set on uif-commandbar"
Refer to #361 for more information.
### Steps to Reproduce Behavior

http://plnkr.co/edit/qzfvrxDRYh0CmVEzPQtH?p=preview

[2016-07-05 11:14] andrewconnell opened #377 "$dirty not being set on uif-datepicker"
Refer to #361 for more information.
### Steps to Reproduce Behavior

http://plnkr.co/edit/2eFYTiJuaitln5K4JMpJ

[2016-07-05 11:16] andrewconnell opened #378 "$dirty not being set on uif-searchbox"
Refer to #361 for more information.

### Steps to Reproduce Behavior
http://plnkr.co/edit/5jdSQEUfLo6yR9zlNAJH?p=info

[2016-07-05 11:17] andrewconnell opened #379 "$dirty not being set on uif-toggle"
Refer to #361 for more information.

### Steps to Reproduce Behavior
http://plnkr.co/edit/WpU79CP7XkcE5NAtFpVb?p=preview

[2016-07-05 11:19] andrewconnell commented on #361
Closing this one as we have seperate issues for each directive that's affected.

[2016-07-05 11:20] #361 closed

[2016-07-05 12:42] Acaspita opened #380 "Adding ng-controller to a ng-officeuifabric directive breaks it. Wrong design?"
Testing on
[code]

And running
[code]

### Steps to Reproduce Behavior
I added an ng-controller to the `<uif-message-bar>` tag at /demos/uifMessageBar/ and it breaks it

### Expected Behavior
This shouldn't happend at all. It should be able to work right straightforward. Wrong design?

### Actual Behavior
Outputs code: {{ name }}

[2016-07-05 13:07] andrewconnell commented on #380
Can you create a plunker showing this repo'd, just like the template mentioned when you created this issue? If all you did was what you describe in the issue, that's not going to be enough as you're also going to need to create a controller and attach it by name.

[2016-07-06 14:33] newq commented on #374
The only significant impact would be that `uifPeoplePicker` etc. would be finally useable in a `form`. Please fix this issue.

[2016-07-06 19:46] andrewconnell commented on #374
But in the case of that one directive, couldn’t that directive be updated to add type=button to the button it generates?

[2016-07-07 10:06] newq commented on #374
Personally it would help me if it got added just for the `uifPeoplePicker` directive. Still the `type=button` should be added to those kinds of buttons in other directives as otherwise it causes troubles with how form submission works in Angular.

[2016-07-07 10:31] andrewconnell commented on #374
Wait @newq... `<uif-button>` isn't even used in the `<uif-peoplePicker>`... it's only used in `<uif-callout>` & `<uif-messageBanner>` directives.

We're [crossing the streams](https://www.youtube.com/watch?v=jyaLZHiJJnE) in this issue... let's stay focused on just adding `type="button"` to directives that use the `<button>` tag.

So let's start this over... any reason why we shouldn't add this to

[2016-07-07 10:42] ghost commented on #374
Hmm, @andrewconnell - my list was created by looking for directives which use `<button>`, not `<uif-button>`. In both cases a consumer of the library would get issues with using these directives in a `<form>`

The list of directives with some kind of `<button>` are now below, the fix in both cases is the same...
- uifDialog (uses `<button>`)
- uifPeoplePicker (uses `<button>`)
- uifFacePile (uses

[2016-07-07 10:44] newq commented on #374
@andrewconnell Okay, I'm sorry. I might be confused on what exactly this issue is supposed to be discussing. Adding `type=button` to `button` or to `uif-button`. For now I'm just strongly in favor of adding it to `button` elements used in directives like the people picker.

[2016-07-07 13:12] andrewconnell commented on #374
Thinking about this more... we've got a few different things to think about... I'm going to cross the streams again because I think it's all part of the same discussion now. Let's start with an agreement that something needs to be addressed... we just need to figure out how.

## Should `uif-button` Always Render `type=button`?

Right now it doesn't, but there are plenty of cases where it should. T

[2016-07-07 13:28] newq commented on #374
In my opinion `uifButton` could have a `type` attribute that's patched through to the actual `button` that is created. Then directives like the `uifPeoplePicker` could just use a `uifButton` where `type=button` is set in the directives template and `uifButton` would behave like a `button` would be expected to behave.

[2016-07-07 13:33] ghost commented on #374
Thoughts here @andrewconnell

# Should Directives with Buttons use `uif-button`?

I don't think we should only be using `uif-button`. Taking `uif-panel` as an example, the markup for the close button is quite divorced from what `uif-button` renders and would break stylings...plunk to follow laterif need be.

# Should `uif-button` Always Render `type=button`?

No, it shouldn't and actually for the

[2016-07-08 16:36] newq opened #381 "uifFacePile always displays overflow text"
uifFacePile always displays overflow text even if limit is not exceeded.

Example: uiOverFlowLimit is set to 5, and we have 3 people in the array. Then the overflow text is _+-2_.

_update: submitted PR with fix._

[2016-07-08 19:08] andrewconnell commented on #381
AUTORESPONSE: Help us help you... do you have a bug you're posting? If you make it easy for us to repo, we can triage and if necessary, address it quicker. Ideally, you submit a PR with a new test that fails demonstrating the issue. Or per the [issue template](https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/master/.github/ISSUE_TEMPLATE.md) that this issue defaulted to when you created

[2016-07-11 12:27] newq commented on #381
Plunker demonstrating the bug: [http://embed.plnkr.co/8IhxbiRKW63ILQnBw6Tv/](http://embed.plnkr.co/8IhxbiRKW63ILQnBw6Tv/)

[2016-07-14 11:28] newq opened #384 "uifButton - value of disabled attribute is ignored"
### Expected Behavior
`disabled="true"` should disable the button.
`disabled="false"` should not disable the button.

### Actual Behavior
button is always disabled if attribute `disabled` is present.

### Steps to Reproduce Behavior
plunker to demonstrate the issue
[https://plnkr.co/edit/JDfb1NEVQBJRBOoPC2vv?p=preview](https://plnkr.co/edit/JDfb1NEVQBJRBOoPC2vv?p=preview)

### Additional Thoughts

[2016-07-16 14:56] andrewconnell commented on #384
That's not how the HTML `disabled` attribute works. If `disabled` is present, that means you want to disable the item... regardless if you set its value. This works as designed:

See: http://www.w3schools.com/tags/att_input_disabled.asp

[2016-07-16 14:56] andrewconnell commented on #384
This works as designed... the HTML spec says that regardless of the value you set, if `disabled` is present, that measn you want to disable it: http://www.w3schools.com/tags/att_input_disabled.asp

[2016-07-16 14:56] #384 closed

[2016-07-16 15:09] newq commented on #384
You are right of course, regarding the HTML spec. That's why I proposed supporting`ng-disabled` like angular does on the `button` tag. Would it be acceptable then if I created an issue for it? How would you implement a uif-button that could be disabled via a scope variable?

[2016-07-16 15:14] andrewconnell commented on #384
If I recall, `ng-disabled` should be respected. You're saying it isn't?

[2016-07-18 14:43] waldekmastykarz commented on #374
If we want to keep flexibility what if `uifButton` would by default render `type="button"`. In cases you wanted to use a different value all you would have to do is to specify your own value explicitly, so:

[code]

The only scenario this wouldn't support, is if you wanted to avoid rendering the `type` attribute altogether but that's error prone as the result depends pretty much on the surrounding

[2016-07-18 14:47] ghost commented on #374
yo @waldekmastykarz, not sure we're ready to close this one. We're all in agreement that we shouldn't add `type="button"` to `uifButton`, this is more about the inclusion of that attribute in directives which use `uifButton`

**edit: you reopened it anyway :smile:**

[2016-07-18 14:51] waldekmastykarz commented on #374
yeah, closed it by accident. my bad 😊

[2016-07-18 17:08] adamrkerr opened #385 "datepicker should support custom date formats"
Currently, the datepicker directive provides no support for custom date formatting. Only the default format of pickadate, 'd mmmm, yyyy' is available.

This is problematic when implementing the datepicker as part of an application which uses a different standard format. Look & feel of the datepicker will be inconsistent with the rest of the application.

It should be straightforward to pass throug

[2016-07-18 18:24] waldekmastykarz commented on #374
@tobiaswest83 if, as you said, all directives that use `uif-button` should also include `type="button"` why not include it ourselves as a safe default if no type is explicitly specified and simplify the markup?

[2016-07-18 21:40] ghost commented on #374
@waldekmastykarz, that approach would work and gets my vote. We'd still need to fix non uifButtons but there are only a handful

[2016-07-19 06:27] jjczopek commented on #367
I had a look into this one and would like you guys to validate the approach. In one of the previous discussions it turned out we are not following exactly the same path as ng-material team, so I thought about going our own way.

Have a look at my fork, where I fixed the issue for the text field so far (not text area). I basically hooked into `ng-change` event on the internal input field and from t

[2016-07-19 14:39] andrewconnell commented on #374
Resolution based on this discussion - no changes to `uif-button`, but anywhere it's used within directives, it should include a `type="button"`. So... we need to add issues for each directive that needs this change. Closing this issue as work should​ continue on those...

[2016-07-19 14:41] andrewconnell opened #387 "Add `type="button"` to `uif-callout` use of `uif-button`"
See issue #374 for discussion

[2016-07-19 14:41] andrewconnell opened #388 "Add `type="button"` to `uif-messageBanner` use of `uif-button`"
See issue #374 for discussion

[2016-07-19 14:42] andrewconnell commented on #374
Resolution: this now

[2016-07-19 14:42] #374 closed

[2016-07-19 21:24] jjczopek commented on #387
@andrewconnell: some clarification is needed here. Callout directive itself does not leverage `uif-button` directive. `uif-button` is used in demos for the callout, but not on the directive itself. If callout is supposed to have close button, it's added to the markup of the directive on runtime like this:

[code]

And when it comes to action buttons, I think it should be the responsibility of the

[2016-07-19 22:31] ghost commented on #387
Looking at the code, and my original post in #374, no change to the directive is required here. Changing the demo would be a good idea though

[2016-07-19 22:33] ghost commented on #388
Preparing fix for this now

[2016-07-19 22:53] ghost commented on #381
Looks like @newq has submitted a PR for this in #383

[2016-07-19 22:55] tobiaswest83 opened #390 "Add type="button" to uifFacePile"
See #374 for more information, `type="button"` needs adding to the `<button>` elements

[2016-07-19 22:57] tobiaswest83 opened #391 "Add type="button" to uifPeoplePicker"
See #374 for more information, `type="button"` needs adding to all `<button>` elements.

[2016-07-19 22:58] tobiaswest83 opened #392 "Add type="button" to uifDialog"
See #374 for more information. `type="button"` needs adding to the `<button>` elements

[2016-07-25 11:44] andrewconnell commented on #380
Closing due to no response...

[2016-07-25 11:44] #380 closed

[2016-07-25 11:46] andrewconnell commented on #387
Agreed... seems like this issue was created but wasn't necessary.

[2016-07-25 11:46] #387 closed

[2016-07-25 19:50] andrewconnell commented on #363
Seems this one has stalled out... restarting the discussion to reach a resolution...

## consistent open / close across all directives

This is a bigger topic, but one we should standardize on. I personally think the `ng-show` and `ng-hide` should be used, but not within the directive... this should be something the user could implement. The reason for this is maybe they want the component to disa

[2016-07-25 20:41] andrewconnell commented on #367
I really like this... seems very simple and easy to implement. Any downsides?

[2016-07-25 20:48] andrewconnell commented on #370
@johnnliu Can you replicate the issue with a plunk & post here? If so, we can flag this as a bug...

Have you seen any other impact from making this change?  If not, do you want to submit a PR fixing it?

[2016-07-25 21:01] #381 closed

[2016-07-25 21:01] #385 closed

[2016-07-25 21:01] #391 closed

[2016-07-25 21:01] #390 closed

[2016-07-25 21:01] #388 closed

[2016-07-26 04:16] jigargandhi commented on #363
After short research, I found that `.ms-dialog` has a property of `font-size:0` specified within it.
Due to this, we are not able to use the ms-Dialog-header, ms-Dialog-content or ms-Dialog-actions.
See this [plunk](http://plnkr.co/edit/bTKE1YMjEkyX1NdM5DrM?p=preview) for details where the `p` tag mentioned inside the `.ms-Dialog-content`.

If we simplify the markup currently, user will have to
1.

[2016-07-26 09:36] andrewconnell commented on #363
@jigargandhi Strange... maybe post a question as to why they do that with Office UI Fabric...

[2016-07-26 12:53] andrewconnell commented on #358
`uif-button` isn't necessary to check... while we could add code to monitor changes, it doesn't make sense as the case of changing a button from one type to another (primary, compound, command, hero) isn't a use case we need to support.

[2016-07-26 22:10] sivarajanr opened #401 "Context menu demo is not working"
http://ngofficeuifabric.com/demos/uifContextualMenu/

[2016-07-27 05:58] jigargandhi commented on #363
Added an [issue](https://github.com/OfficeDev/office-ui-fabric/issues/744) in OfficeUI repo.

[2016-07-27 08:12] s-KaiNet commented on #401
angular-animate and anuglar-sanitize inclusions are missing for this page.
Should be exactly the same as for [http://ngofficeuifabric.com/demos/uifNavbar/](http://ngofficeuifabric.com/demos/uifNavbar/)

@andrewconnell  can you please take a look?

[2016-07-27 08:14] s-KaiNet opened #402 "Animation issues in demo for contextual menu and navbar"
Animating sample for [http://ngofficeuifabric.com/demos/uifNavbar/](http://ngofficeuifabric.com/demos/uifNavbar/) and [http://ngofficeuifabric.com/demos/uifContextualMenu/](http://ngofficeuifabric.com/demos/uifContextualMenu/) is broken with recent version of ui fabric.

[2016-07-27 11:42] andrewconnell commented on #401
My bad... I'll fix in the next demo site update...

[2016-08-01 11:35] #402 closed

[2016-08-01 11:41] andrewconnell opened #404 "uif-icon - directive not respecting changes to uif-type"
Changed `uif-type` binding on isolated scope to @ to allow string interpolation.

References #358

[2016-08-03 13:21] #401 closed

[2016-08-05 11:14] andrewconnell opened #405 "Big changes to Office UI Fabric (MDL1>MDL2, v2.6.1>v3, New Libraries & More)"
Spinning this issue up as a place to have a discussion. Recently the Office UI Fabric guys made some big changes with their project that you can see posted on their blog (http://dev.office.com/fabric/blog)... look for the July 27, 2016 post.

I've summarized it here on my blog:
http://www.andrewconnell.com/blog/updates-to-office-ui-fabric-and-ngofficeuifabric-roadmap

At the end of that post, I pi

[2016-08-05 14:27] waldekmastykarz commented on #405
Would you use Angular 1.x or Angular 2 for ngOfficeUIFabric v2?

[2016-08-06 10:35] andrewconnell commented on #405
@waldekmastykarz Seems ng1 because it won't require a whole rewrite. Updated my original issue with what I said in the blog post about Angular 2.

[2016-08-08 04:30] waldekmastykarz commented on #405
If I understand the impact correctly then what we would need to do is to include CSS in our components (basically copy & paste what MS have in React components) and check if there is any functionality that we haven't implemented. Agreed that with Angular 1 it would be less work than with Angular 2 where we would need complete rewrite.

[2016-08-08 07:13] sandves commented on #20
I also want to know how to close the dialog without using ng-show and a custom button.

[2016-08-08 10:35] andrewconnell commented on #405
That’s pretty much it for the ngOfficeUIFabric v2… v1 would be based on Fabric’s v2.6.1 which really isn’t any change.

[2016-08-08 11:03] s-KaiNet commented on #405
Very good post, @andrewconnell. I understood only a small piece of info from the original post (from MS in July) . Now the direction for Office UI Fabric is much more clear.
I absolutely agree with your plans to have v1 for current 2.6 version and v2 for "MDL2". Since you commented that ngOfficeUIFabric v2 stands for angular 1, how to name the library for angular 2? ng2OfficeUIFabric? Also may be

[2016-08-08 11:21] andrewconnell commented on #405
I'm sort of thinking the same thing @s-KaiNet ... We've already lost a lot of momentum with this project in the recent months, so I think for the time being we should just focus on pushing through with v1.

Having a v2 that is based on Angular 1 & MDL2 would be great, but I'm with you that it might make more sense starting the ng2 implementation that uses MDL2. Maybe two separate code paths...

At

[2016-08-08 17:59] waldekmastykarz commented on #405
Is Angular 2 still a moving target or are the current builds stabilized? Otherwise we would have two moving targets (Angular 2 and Office UI Fabric) which could make it complex to provide a stable release.

[2016-08-08 18:34] andrewconnell commented on #405
Ng2 is very stable… it’s currently in RC but from my POV its strong enough to build against. With that being said, we need to have all focus on our v1 release with ng1 before we start working on ng2.

[2016-08-08 18:49] jjczopek commented on #367
I haven't found any :) for text field it was easy enough because the events where already in scope, for other directives it might be necessary to add some events to the input, but I don't consider this as a downside.

Will raise PR for this soon and start working on other directives to have this covered as well.

[2016-08-15 03:35] zavier-sanders opened #406 "grid column not working"
Hi,

I'm using ng-OfficeUIFabric to create a custom SharePoint 2013 form. For some odd reason, I can only get one "uif-" directive to render within a **column**. This should be pretty straightforward since it's just a grid system, but I'm completely stuck. I can use multiple fields in a column with bootstrap, but with ng-OfficeUIFabric I'm stuck with one.

Expected Behavior:
I should be able to ha

[2016-08-15 09:10] ghost commented on #406
Don't use self-closing tags for e.g. uif-textfield. Please try that :)

[2016-08-15 14:54] zavier-sanders commented on #406
Thanks @rolandoldengarm !  Removing the self-closing tags worked.

![image](https://cloud.githubusercontent.com/assets/11600582/17668255/0394930c-62ce-11e6-8e34-03d29af4c2b2.png)

[2016-08-15 14:55] #406 closed

[2016-08-15 14:58] andrewconnell commented on #406
This project actually schooled me on that... self-closing tags aren't typically legit. There are a few in HTML that is always shown that way, but Angular exposed that thinking as bad...

[2016-08-20 06:05] johnnyongesa opened #407 "Set ngofficeuifabric dropdown selected value dynamically"
Hi I have following dropdown
[code]
and the following angularjs code
[code]
how do i set dropdown value from the function setDropdownvalue above

[2016-08-20 08:29] ghost commented on #407
Just set the value of the variable of your ng-model : SubProcessNG

[2016-08-20 08:29] #407 closed

[2016-08-20 08:41] johnnyongesa commented on #407
Do you mean just the function below is enough;

[code]

[2016-08-20 08:45] ghost commented on #407
Sorry, but this is not a support forum. This is a very basic angular question.
If you had tried your code you would have found it is indeed working like that.

[2016-08-30 03:56] ghost commented on #251
Just checking again @jjczopek and indeed does not seem to apply anymore. Closed.

[2016-08-30 03:56] #251 closed

[2016-09-06 14:45] brannmar commented on #378
Any updates on this one?

[2016-09-06 15:24] andrewconnell commented on #378
ATM no… sorry but the team is working through various bugs & adapting to changes from the Office UI Fabric team…

[2016-09-13 11:42] patrick904 opened #410 "datepicker set form (ngForm) $dirty=true on initial load"
When initialising my ngForm with data (async) the datepicker set the form $dirty flag to true.  Without the datepicker the form stays $dirty=false, $valid=true etc. as expected.

This happends because after setting the ngModel value in the compile function the onSet trigger of the datepicker is fired and sets this initial value again to ngModel and so the form becomes dirty.

This could be solved

[2016-09-13 20:35] ghost commented on #410
Related issue: https://github.com/ngOfficeUIFabric/ng-officeuifabric/issues/377

@patrick904 Could you please confirm whether your issue is a different one, or a duplicate?

[2016-09-13 21:13] jjczopek commented on #368
Actually it seems that $dirty is working correctly for the uif-dropdown. If you add `name` attribute to the drop-down, it will show up in the JSON output in the plunk. When you change value, `$dirty` is set properly on the underlying ngModel. However `$touched` is not set properly. Refer to forked plunk: http://plnkr.co/edit/MQWaFsOi12dVD63O239y?p=preview

I will submit PR soon that takes care of

[2016-09-14 10:45] #368 closed

[2016-09-16 18:09] jjczopek commented on #376
Should command bar actually be considered as a component used in forms? For me at least it  does not make much of a sense.

Also on the demos we have right now on the website, it doesn't look like the component even intends to be leverage ng-model. It's leveraging ng-click and custom binding of the search term.

IMHO this $dirty not being set issue is not applicable to uif-commandbar.

[2016-09-19 11:45] patrick904 commented on #410
It is related, but not a duplilcate. In #377(#361) $dirty ist NOT set to true. In this case $dirty is set to true when data ist loaded (initial load the form data). All my other controls (Input, select etc.) are not set to dirty but the datepicker is.
So: no duplicate but a related issue.

[2016-09-23 07:06] Abrissirba commented on #405
Ng2 has been released and I would love to see v2 based on Ng2.

[2016-09-23 10:44] andrewconnell commented on #405
@Abrissirba While we feel the same way, it's not a trivial undertaking. Open source so you can always jump in and help :)

[2016-09-29 07:20] calin1611 opened #413 "The documentation for <uif-searchbox> is incorrect"
On the website, it says to use the "uif-value" attribue but in the implementation, "value" must be used.
I spent a lot of time until I saw that i was using the wrong attribute.

![pasted image at 2016_09_28 05_58 pm](https://cloud.githubusercontent.com/assets/16622833/18944392/01d3d22a-862e-11e6-8d27-6417c9597f95.png)

[2016-09-29 20:00] aaronhamilton commented on #62
This is great stuff!
One thing I can't figure out: how to set default sort for first render. When my page loads, it just loads the data based on data item index. Is there a way to specify a default sort field and direction?
Thanks!
Aaron

[2016-09-30 05:27] waldekmastykarz commented on #62
Thanks! Have you checked out the sample at https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/master/src/components/table/demoSortableColumns/index.html? Default sorting is passed through the ng-repeat directive with the initial data set.

[2016-09-30 18:46] aaronhamilton commented on #62
I don't see default sort in your ng-repeat, but I was able to get it
working:

<uif-table-row ng-repeat="data in vm.currentRows | orderBy:'FullName' |
orderBy:table.orderBy:!table.orderAsc">

Can you add the default orderBy to your example?

Aa

On Fri, Sep 30, 2016, 1:27 AM Waldek Mastykarz notifications@github.com
wrote:

[2016-09-30 18:50] aaronhamilton commented on #62
I take it back.. my solution is not default sorting...

On Fri, Sep 30, 2016, 2:46 PM Aaron Hamilton aaronster@gmail.com wrote:

[2016-09-30 19:07] aaronhamilton commented on #62
My bad. It _is_ working :-)

On Fri, Sep 30, 2016, 2:50 PM Aaron Hamilton aaronster@gmail.com wrote:

[2016-10-03 15:42] asigmund opened #414 "Dropdown jumps to the upper right corner if screen is too small"
The dropdown jumps to the upper right corner if the screen gets to small. You can reproduse the issue with the demo example. See the picture below.

![image](https://cloud.githubusercontent.com/assets/4354697/19043459/8889b1e4-8990-11e6-8b10-bf69a47f8bba.png)

[2016-10-03 15:58] #367 closed

[2016-10-03 15:58] #379 closed

[2016-10-03 16:44] andrewconnell commented on #413
Want to submit a PR for this to give us a hand?

[2016-10-04 09:17] calin-stan commented on #413
I could try. I hope I can manage to find the time for this today after work. :)

[2016-10-04 17:12] calin-stan commented on #413
I tried to push my branch with the fix but I don't seem to have the correct access rights.

[2016-10-04 17:13] andrewconnell commented on #413
You shouldn't have a problem forking the repo, making the change & submitting a PR. This explains it: https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/master/docs/guides/PULL-REQUESTS.md

[2016-10-06 10:43] sjclemmy commented on #405
I'm currently developing an Office add-in for a client and I like the direction and purpose of this library. Sorry for my comments being a bit negative it's not meant to be critical. Some things I have noticed / experienced...

I submitted a PR for the toggle component a while back, which passed tests etc, but since using it I notice that it doesn't work as expected. I think that as it depends on

[2016-10-07 11:39] andrewconnell commented on #405
@sjclemmy There's no debating everything you say. We had good momentum bashing bugs from people using the library, but Microsoft's switch to MDL2 & only focusing on the React implementation frankly has hurt that quite a bit.

You're reiterating what we've already said in this thread IMHO... #1 on your list is what we're doing.

The problem with #2 is that is a SIGNIFICANT amount of work. Even the

[2016-10-07 12:09] andrewconnell commented on #405
BTW, your last statement is key: there’s never been funding for this. People have dedicated their free / personal time.

[2016-10-09 14:21] andikrueger commented on #414
This is an OfficeUiFabric Issue: https://github.com/OfficeDev/office-ui-fabric-core/issues/552

[2016-10-10 08:17] calin1611 opened #416 "Issue with <uif-choicefield> (inconsistency)"
There is an inconsistency regarding the way a uif-choicefield responds to clicks.
The "radio" type will accept a click on the entire width of the <uif-choicefield-option> whereas the "checkbox" type will only accept the click on the label and check-box. This can be reproduced on the [live demo](http://ngofficeuifabric.com/demos/uifChoicefield/)

I believe that it would be a good idea to allow choo

[2016-10-11 10:47] andrewconnell opened #417 "Build throwing errors after TypeScript v2 release, yet seen as a green build"
Errors with the build… looks like it happened when v2 TypeScript was released. What’s strange is errors in tests aren’t failing the build so need to dig into this. Appears it all started about 8 days ago… if you look at this build, it shows that there were errors in the build, yet build is green.

Ref: https://circleci.com/gh/ngOfficeUIFabric/ng-officeuifabric/184

[2016-10-11 14:07] andrewconnell commented on #417
I've isolated the issue down to something we were getting away with that wasn't allowed, but upgrading to the latest TypeScript & ts-lint exposed it. The fix I applied in @0f1749a22e8f1cef2880ed3dba1776262d54bbe8 got the project to compile, but the tests are throwing errors (see [CircleCI build 184](https://circleci.com/gh/ngOfficeUIFabric/ng-officeuifabric/184)).

The problem was that we were set

[2016-10-11 14:33] s-KaiNet commented on #417
For testing `navbar` in mobile mode I've used the following:

[code]

You can take a look under [navbar specs](https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/master/src/components/navbar/navbarDirective.spec.ts#L241)
I believe this should work, since `navbar` tests are passing.

[2016-10-11 14:38] andrewconnell commented on #417
Awesome... thanks @s-KaiNet ... I'll take a look.

I did figure out why the failed tests were not generating red builds... gulp was always returning a 0 return code! How we got this far like that I don't know, or if some dependency was recently "fixed" so it did what it should have done... but modified the `test` gulp task so it returns either a zero (on good) or non-zero (on bad) test runs.

[2016-10-12 06:48] andikrueger commented on #369
I'll open a PR as soon as the test error has been fixed #417.

[2016-10-12 13:04] andrewconnell commented on #369
I'm stuck on the issues with breadcrumb tests... see the message I left in Slack today. I'm thinking about just commenting the failing tests out so it doesn't block anyone else, like you submitting a PR for this.

[2016-10-12 16:45] andikrueger commented on #359
I'm working on this.

[2016-10-12 20:09] jjczopek commented on #417
@andrewconnell breadcrumb dependency on `window` object AFAIR was implemented the same it was in native Office UI Fabric back in that time. We can move out from that dependency, just we have to remember it's a braking change for anyone who already is using this component.

The other thing is, how we would actually like to get rid of window dependency:
- introduce a wrapper element inside the direc

[2016-10-12 20:18] andrewconnell commented on #417
I'm not sure we need to go that far... esp since it's a breaking change. Considering the component works just fine today, I don't think we need to change it.

I've had a dialog in the Slack **general** channel about this today. Thinking more, the `resize` event is really not something you want to unit test for, rather I think it's more of an integration test and thus, warrants protractor. That's s

[2016-10-12 20:23] jjczopek commented on #417
sounds legit. I have finished fixing searchbox but will wait for your fixes to put proper PR for this.

[2016-10-12 20:27] andrewconnell commented on #417
Feel free to submit PR... as long as your PR has errors for vetting & tests for the breadcrumb directive, it should be fine. The `dev` branch has the updates to the gulp `test` task that had to get fixed... so as long as you resync your local fork's `dev` branch & branch from that, you should be ok on the PR.

The only outstanding thing I have to do is fix the breadcrumb tests to get back to green

[2016-10-13 09:25] andikrueger opened #419 "uif-MessageBanner: Resizing hides the chevrons"
### Expected Behavior
The chevron to open or close the message banner is visible after resizing the window

### Actual Behavior
The chevron disappears after resizing the window

### Steps to Reproduce Behavior

1. Go to [Demo Site](http://ngofficeuifabric.com/demos/uifMessageBanner/)
![Chevron visible](https://cloud.githubusercontent.com/assets/15608729/19343735/ad9d47da-9137-11e6-8b56-13a639beaee

[2016-10-17 19:01] #359 closed

[2016-10-17 19:01] #413 closed

[2016-10-17 19:01] #419 closed

[2016-10-17 19:01] #417 closed

[2016-10-18 01:07] #378 closed

[2016-10-20 20:23] douglasware opened #424 "Nuget dependency can't be fulfilled"
The latest stable package requires OfficeUIFabric >= 2.6.2, but the latest published on Nuget is 2.6.1.

[2016-10-20 21:30] ghost commented on #424
Hmm, 2.6.2 is a Node only release
https://github.com/OfficeDev/office-ui-fabric-core/releases/tag/2.6.2
Don't know why they didn't push it to Nuget.

[2016-10-20 21:49] andikrueger commented on #424
2.6.2 was a fix for an issue which prevented the build: https://github.com/OfficeDev/office-ui-fabric-core/issues/821#issuecomment-252625060
And the original issue:
https://github.com/OfficeDev/office-ui-fabric-core/issues/808

I think it's save to change the package.json and require 2.6.1.

[2016-10-20 23:59] andrewconnell commented on #424
Fixing now... this is so stupid. Why issue a release and not publish it? If you bump the version, BUMP THE VERSION.

So wait.. they pushed it to NPM, but not NuGet. Is this really a bug for ngOfficeUIFabric?

[2016-10-21 00:01] andrewconnell commented on #424
Nevermind... confirmed by the Office UI Fabric guys in https://github.com/OfficeDev/office-ui-fabric-core/issues/824. We won't fix... they screwed up and are fixing it so closing this as a a wontfix.

[2016-10-21 00:01] #424 closed

[2016-10-21 05:59] ghost commented on #424
Chill @andrewconnell  👍  :)

[2016-10-21 17:58] jjczopek commented on #410
@patrick904 : do you have a working example of the issue or a plunk like we have for other issues? That would be very helpful.

[2016-10-21 20:56] Jahnp commented on #424
Sorry guys, honest mistake when publishing.

[2016-10-21 21:01] andrewconnell commented on #424
NP... caught us off guard but glad it's getting resolved :)

[2016-10-21 21:03] Jahnp commented on #424
For sure. I mentioned it in [#824](https://github.com/OfficeDev/office-ui-fabric-core/issues/824), but the package has been uploaded now--hopefully this should be resolved. Please let us know if you hit any other issues with this version.

[2016-10-22 11:34] andikrueger commented on #416
Here is a plunkr: [Demo](https://plnkr.co/edit/kYYiumTmZvn0yTUcotsM)

The demo for type radio uses the `uif-choicefield-group` element to wrap the `uif-choicefield-option` elements. This enables the elements to accept the click on the full width (Does not depend on radio or checkbox).
If you use radios without the `uif-choicefield-group` element the type radio accepts the click only on the label a

[2016-10-24 00:20] #375 closed

[2016-10-24 00:20] #369 closed

[2016-11-23 18:47] #377 closed

[2016-11-23 18:47] #410 closed

[2016-12-08 16:12] darkocolak opened #427 "uif-facepile mouse hover issue"
Mouse hover on any face in face-pile will change css cursor to Pointer.
It should not do that since there is no action to perform on a face in face-pile.

### Expected Behavior
Mouse hover over face: cursor: Pointer
### Actual Behavior
Mouse hover over face: cursor: auto

### Steps to Reproduce Behavior
Hover mouse over face in Basic Usage (http://ngofficeuifabric.com/demos/uifFacepile/)

[2016-12-09 21:03] andrewconnell commented on #427
It shouldn't be hard coded to a Pointer, but it should default to cursor:pointer when not linked. However, when a persona is linked, it should use the finger cursor. That's how it behaves in the Office UI Fabric demos: http://dev.office.com/fabric#/components/facepile

[2016-12-09 21:10] andrewconnell commented on #416
I'm not sure any action is required here... I think the `<uif-choicefield-option>` is designed to be wrapped with `<uif-choicefield-group>` element. If you look at the Office UI Fabric, they only list the group option, they don't even have an option for a stand alone choice field option.

As such, I think the our demo should just get up dated to show the intended use.

Thoughts? @andikrueger ?

[2016-12-09 21:14] andrewconnell opened #428 "Move NuGet package repo => CircleCI"
Currently, the repo for the NuGet distribution of this repo, [nuget-ngofficeuifabric](https://github.com/ngOfficeUIFabric/nuget-ngofficeuifabric), is using AppVeyor for creating the package and CD to NuGet.org. The only reason this was done is because the NuGet CLI only worked on Windows.

Now it works well enough on Linux / macOS so we should standardize this repo to be like the others and move i

[2016-12-09 21:20] andrewconnell opened #429 "Update NuGet distribution keywords"
Within Nuget.org's search, if you type in “OfficeUIFabric” your project shows up as one of the options but if I type “officeuifabric” (all lowercase) it doesn’t.  The official packages show up either way.

We should add extra tags to help with discovery in NuGet.org

Reported by @manndave.

[2016-12-09 22:42] #429 closed

[2016-12-09 23:31] #428 closed

[2016-12-09 23:49] andrewconnell commented on #404
Can't repo...

[2016-12-09 23:49] #404 closed

[2016-12-11 13:21] andrewconnell opened #431 "Update repo to support Angular 1.6.x"
### Expected Behavior
All tests pass by updating dependency to Angular 1.6.*.

### Actual Behavior
Lots of tests fail, seems to be due to the fact there was some jQuery standardization in Angular 1.6. They updated jqLite to be more in sync with the jQuery v3.* release.

### Steps to Reproduce Behavior
Update `package.json` so all Angular packages are 1.6.*, update (`npm install` | `yarn`), then ex

[2016-12-11 22:16] andrewconnell commented on #376
Agreed with @jjczopek ... closing this as not relevant.

[2016-12-11 22:16] #376 closed

[2016-12-11 22:18] andrewconnell commented on #373
Hey @tobiaswest83, I know been a long time since we had this opened, but do you still want to tackle it?

[2016-12-12 08:38] andikrueger commented on #416
The checklist model is more a comfort feature than a real requirement.

We should showcase the intended usage in the demo and work on with the initial design.

[2016-12-12 10:20] andrewconnell commented on #427
Looked at this for a while and can't figure out where the `cursor:pointer` is coming from... We aren't using an `<a>` and the CSS specifies it should use a pointer.

Anyone else want to jump in?

[2016-12-12 10:44] andrewconnell commented on #414
As @andikrueger says, unfortunately, this isn't something we can fix. It's a CSS bug from Office UI Fabric. They fixed it in v3, but they didn't go back and fix it in v2.6.2. Since v3 is really a fork with a TON of other CSS changes to support MDL2, and because we get the CSS from their library, we can't just upgrade out dependency to their latest version in this iteration. We aren't currently shi

[2016-12-12 10:48] sjclemmy commented on #427
In the Office Fabric (React) version you linked to, the facepile is a `div` when it isn't a link and a `button` when it is a link.
The css styles come from `.ms-Facepile-itemBtn` for the div and `button.ms-Facepile-itemBtn` for the button. The styles for `button.ms-Facepile-itemBtn` includes `cursor:pointer` whilst the class `.ms-Facepile-itemBtn` does not.

The issue is that the styles used for n

[2016-12-12 11:01] #372 closed

[2016-12-12 11:01] #416 closed

[2016-12-12 11:19] sjclemmy opened #434 "Panel: clicking on overlay shouldn't automatically close the Panel (enhancement)."
### Desired Behavior
Provide boolean option to indicate whether clicking on the overlay should automatically close the Panel.

I'm happy to do the PR.

[2016-12-12 11:21] andrewconnell commented on #434
While they are focusing on React, I think that the behavior & public signature of our directives in this version of the library (and future versions) should mirror the public signature & behavior of the official Office UI Fabric, like this for panel: http://dev.office.com/fabric#/components/panel

Does theirs behave the same way ours does? If not, we need a solid use case as to why we should devia

[2016-12-12 14:34] sjclemmy commented on #434
Their React implementation is very different with regards to the public signature.
They provide an `isLightDismiss` boolean property that is `false` by default. When set to `true`, clicking on the overlay closes the panel: [https://github.com/OfficeDev/office-ui-fabric-react/blob/master/packages/office-ui-fabric-react/src/components/Panel/Panel.tsx#L110](https://github.com/OfficeDev/office-ui-fabr

[2016-12-12 16:02] andrewconnell commented on #427
The one I linked to above is the React version that uses the most current CSS... which we don't use. We can't because of conflicts with MDL1 & MDL2 (see #405).

But that does make sense that they switch between using an `<a>` and `<div>` when a link is provided or not. Under the covers, we are using our own `uif-persona` directive for the little circles... I think that's where the underlying contr

[2016-12-12 16:06] andrewconnell commented on #434
LGTM... if you'd like to tackle this one and submit a PR with the changes you outline, I'm game.

To the point about their public signatures being different from ours... that isn't surprising and frankly to be expected. We started this project when they were just CSS with some example JS, but since then they started with a whole React version that they needed for the rest of SharePoint & Office.

[2016-12-12 16:08] ghost commented on #434
sorry been so slow on this guys, various factors. I'll leave it with you @sjclemmy

*edit* getting wires crossed here, would agree with @andrewconnell  here about marrying up the public sigs :)

[2016-12-12 16:11] andrewconnell commented on #434
You referring to #373 @tobiaswest83 ?

[2016-12-12 16:12] ghost commented on #373
I'll tackle this still, sorry for confusing things!

[2016-12-12 20:47] andrewconnell commented on #414
Whoa... stop the presses!

Looks like the Fabric guys are going to fix this for us. Reopening this issue to track: https://github.com/OfficeDev/office-ui-fabric-js/issues/261

Once they close it I'll close this issue out. Still listed as `wontfix` because we aren't the ones fixing though.

[2016-12-13 11:53] #434 closed

[2016-12-14 01:35] tuanjinn opened #437 "Is there anyway to disable a list item (uif-list-item)??"
I have a list using
<uif-list uif-item-select-mode="single" ...>

There are a bunch of <uif-list-item>, and a few of them need to be visible but not-selectable (hence disabled). I tried ng-disabled, disabled etc but it doesnt work? Do we support that?

Thanks

[2016-12-14 10:23] andrewconnell commented on #437
No, the library doesn't support that use case. We try to follow the same things that the official Office UI Fabric supports and this is not one of those cases.

[2016-12-14 10:23] #437 closed

[2016-12-14 11:59] andrewconnell commented on #358
Revisiting this issue... I'm in bug squashing mode!

My take is that for directives where it makes sense, they should monitor changes to the `uif-type` attribute and re-render the directive accordingly. For instance, if a `uif-textfield` changes from a *text* to an *email* type, the control should get updated... right?

While I see some of these items have been addressed, I don't see a single one

[2016-12-14 12:49] sjclemmy commented on #358
I just had a play with the `uif-messagebar`, manually and the $watch on `uifType`worked correctly.
It does depend on the value being supplied as an angular expression. e.g. `uif-type="{{vm.myType}}"`

[2016-12-14 14:42] andrewconnell commented on #358
Maybe that's my issue then... let me have another play with it... how do you verify it with a test? In the current tests for `uif-messagebar`, it doesn't change the value on the scope within a test from one value to another. This is how I was doing it with `uif-textfield`... would this not be correct?

[code]

In that test, the first `expect()` passes, but not the second as the value of the type a

[2016-12-14 15:12] sjclemmy commented on #358
uifType is not bound to the scope in the textFieldDirective. That is the issue.
[code]
Explicitly it needs `uifType: '@'` adding to it.

[2016-12-14 15:20] andrewconnell commented on #358
Not in the code that's currently in the repo, but in my local fork it does... at this point trying to make sure I have a test that can reflect what SHOULD be happening.

[2016-12-14 15:44] sjclemmy commented on #358
I see it now. There are two issues:
1. You are assigning `element` after the first compile : `element = jQuery(element[0]);`  and then recompiling using this, so it's not the same content. Setting `element = angular.element(html);` before the second `$compile` will fix it.
2. You don't need to recompile it anyway. You just need a $digest loop. Remove the second `$compile(element)(scope);`

Actuall

[2016-12-15 00:43] ghost commented on #392
picking back up @andrewconnell, can you change label?

[2016-12-15 10:59] #373 closed

[2016-12-15 11:24] andrewconnell opened #440 "TextField: uif-type binding does not work properly"
### Expected Behavior
`uif-type` should be able to bind to a function or a scope variable value

### Actual Behavior
`uif-type` binding does not work as expected

References #358

[2016-12-15 11:44] andrewconnell opened #442 "Add @sjclemmy to contributors list in package.json"

[2016-12-15 11:53] andrewconnell opened #443 "Icon: uif-type binding does not work properly"
### Expected Behavior
`uif-type` should be able to bind to a function or a scope variable value

### Actual Behavior
`uif-type` binding does not work as expected

References #358

[2016-12-15 11:55] andrewconnell commented on #370
Hey @johnnliu - it's been a while since this was filed... any chance you recall the details around it and what we can do to duplicate / repo the issue? Pushing hard on bug squashing & would love to close this one out...

[2016-12-15 11:56] andrewconnell commented on #442
Somehow I missed he was already added... closing.

[2016-12-15 11:56] #442 closed

[2016-12-16 11:53] andrewconnell opened #445 "Choicefield: verify uif-type binding responds to changes"
Verify that the `uif-type` binding is responding to changes on the bound scope. May just need to add a demo & test case.

References #358

[2016-12-16 11:54] andrewconnell commented on #358
IMHO it does not make sense to change the type of a dialog on the fly given the options we support (none, header, multiline), thus removing that from the list.

Same is true for a panel.

[2016-12-16 11:56] andrewconnell opened #446 "ListItem: verify uif-type binding responds to changes"
Verify that the `uif-type` binding is responding to changes on the bound scope. May just need to add a demo & test case.

types to monitor changes:
- [x] list type (grid / list)
- [x] list selection type (single / multiple)
- [x] list item rendering type (item / item with image / item with icon)

References #358

[2016-12-16 11:59] andrewconnell opened #447 "PeoplePicker: verify uif-type binding responds to changes"
Verify that the uif-type binding is responding to changes on the bound scope. May just need to add a demo & test case.

References #358

[2016-12-16 21:41] andrewconnell commented on #447
Changed to bug as directive doesn't respect changes to `uif-type`.

[2016-12-17 12:21] andrewconnell commented on #447
Rethinking... use case for changing the type of people picker doesn't make sense. Complicated refactoring required to support it (with `uif-facepile` dependency), so marking as `wontfix` and closing.

Later if feature request is submitted, need use case to justify supporting changing type.

[2016-12-17 12:21] #447 closed

[2016-12-18 11:58] andrewconnell commented on #446
Switching to bug... three different type options within this directive are not monitored for changes when bound to scope.

[2016-12-20 11:13] andrewconnell opened #449 "Add JavaScipt LINTing to project vetting task"
Today we only vet TypeScript code. Many demos are written in JavaScript, not TypeScript. This code should also be vetted.

[2016-12-20 14:22] Rus7am opened #450 "Callout: unable to close by button inside"
I'd like to be able to close a callout with **uif-close** attribute by clicking a button located inside **uif-callout-actions** component. Please see the [codepen](http://codepen.io/Rus7am/pen/rWReJY): after the **Close** button is clicked the `ctrl.show` property is being reset and the callout stays open.

I was hoping to fix this myself but everything is in TypeScript and I don't really understa

[2016-12-20 15:09] darkocolak opened #451 "uif-table scrollable table body"
If I wish to have a scroll-able table body in a fixed size panel, I have to add `display: block` to uif-table-body. This is due to `uif-table-body` being inline element by default (as suggested by @waldekmastykarz )

If this can't or won't be change, maybe documentation should have an example with scroll-able body.

Codepen example:
http://codepen.io/dspery/pen/PbLPBK

[2016-12-21 03:09] #358 closed

[2016-12-21 03:09] #440 closed

[2016-12-21 03:09] #443 closed

[2016-12-21 03:09] #445 closed

[2016-12-21 03:09] #446 closed

[2016-12-21 15:57] andrewconnell opened #455 "uif-dialog should implement same functionality as React sibling"
### Expected Behavior
Have the same public signature & behavior as the React component by MSFT: https://dev.office.com/fabric#/components/dialog. Presently the `uif-dialog` functionality is very limited & leaves a lot to be desired.

### Actual Behavior

### Steps to Reproduce Behavior

[2016-12-21 15:58] andrewconnell commented on #450
~~ATM the `uif-dialog` directive's functionality is very limited. This was one of the very first directives & ideally it would match the same signature and behavior the Office React version would have: https://dev.office.com/fabric#/components/dialog.~~

~~The right thing to do is to not fix this issue, rather to improve the directive to have feature parity with it's React sibling. Going to close

[2016-12-21 16:01] andrewconnell commented on #451
Respectfully I don't see what the action item is here. Need more info... please share what would be expected and what you think is wrong... or suggest a solution.

What your codepen shows is that you can achieve what you're looking to do... so to me, this I can't see what the action item is.

[2016-12-21 16:05] andrewconnell commented on #363
I'm going to close this issue... now that we have an actual spec and working example from the Office UI Fabric guys @ MSFT and a working React version, that should be used as the spec.

See #455.

[2016-12-21 16:05] #363 closed

[2016-12-21 16:06] andrewconnell commented on #392
I'm going to close this... I think fundamentally we need to revisit the dialog... see #455 ... I think our initial implementation is flawed and overly complex... we should bite the bullet and redo it to match the way the react component works.

[2016-12-21 16:06] #392 closed

[2016-12-21 16:08] andrewconnell commented on #159
Closing... see #455

[2016-12-21 16:08] #159 closed

[2016-12-21 16:18] andrewconnell commented on #370
Closing due to no response... feel free to re-open @johnnliu with a link to repo so we can take action on it.

[2016-12-21 16:18] #370 closed

[2016-12-21 16:38] draconnus commented on #451
I'd just extend documentation with additional example if you think it can be helpful.
Documentation seems a bit basic.

[2016-12-21 16:44] andrewconnell commented on #451
That's true... if we have a bug / lack of functionality, then we can act on that. But if it's an issue related to just showing how to use it with a common use case, then that works. IMHO, this one example doesn't really warrant another demo in the repo. In the year this project has been out there, this is the first time it's come up.

Maybe if you created a separate demo... see the other directive

[2016-12-21 16:51] draconnus commented on #451
Sure, I'll wait for merge.
From discussion on slack I got impression that maybe this was wanted. Nevertheless I'll close the issue. Thx for responses.

[2016-12-21 16:51] #451 closed

[2016-12-21 17:02] #449 closed

[2016-12-22 14:39] andrewconnell commented on #450
Nixing my previous comment... I got my wires crossed got `uif-dialog` & `uif-callout` backward. This appears to be a similar issue to #358 in the sense that the binding isn't being respected.

Reopening this and flagging as a bug to be investigated. I believe it's the binding defined here that's the root cause: https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/master/src/components/callou

[2016-12-22 15:56] andrewconnell opened #457 "Update wallaby config for default browser size"
### Expected Behavior
If all tests pass in the console with `npm run test`, they should also pass when using WallabyJS.

### Actual Behavior
One test fails in Wallaby... the breadcrumb has a single test that fails (two `except` statements fail). The issue is related to the default size of the test browser in Wallaby (800x600). The wallaby config needs to default to a smaller size.

REF: https://gi

[2016-12-22 19:45] #457 closed

[2016-12-22 19:57] andrewconnell opened #458 "CD: Deployment script fails when `master` updated with same version"
### Expected Behavior
When updating the `master` branch, if the version listed in `package.json` is the same version as the most recent tag in the repo, abort the deployment script. This implies that while `master` was updated, no release should happen.

### Actual Behavior
Build fails... for example: https://circleci.com/gh/ngOfficeUIFabric/ng-officeuifabric/240

### Steps to Reproduce Behavior
U

[2016-12-28 22:58] panigrah opened #460 "Support for the Nav Component"
Hi,
I am unable to find the Nav Component as described here https://dev.office.com/fabric#/components/nav

Looking for a vertical menu bar.

thanks

[2016-12-29 12:27] andrewconnell commented on #460
This library was based on the first version of Fabric (MDL1) which is the Office UI Fabric v2.6.x release branch. That version does not include the nav component and thus, this version of the library won't / can't implement it as we don't ship CSS, just JS... hence why I'm marking this as _wontfix_ and closing the issue.

#### More info...
In version 3 of Office UI Fabric, they updated their desig

[2016-12-29 12:27] #460 closed

[2016-12-29 15:53] andrewconnell commented on #460
BTW... this isn't being dismissive... when we wrap this project up & move onto the next two phases for Fabric v3 (MDL2) for Angular 1 & Angular 2, we'll take stock of what Fabric controls there are & make sure we have coverage for them in our library. The goal is to have 100% parity between the version of Fabric & ngOfficeUIFabric... once that's done, I'm personally interested in new components as

[2017-01-05 10:55] #450 closed

[2017-01-05 14:44] angex opened #461 "People picker - disabled"
http://ngofficeuifabric.com/demos/uifPeoplePicker/
'All demos based on ngOfficeUIFabric v0.13.1'

People Picker - disabled
Should it work so that if you first search and select one or more people and then disable the field - you should not be able to click the x to remove items from the picker list?

### Expected Behavior
When disabled you should not be able to remove items

### Actual Behavior
Wh

[2017-01-16 11:28] andrewconnell commented on #461
Good catch... doesn't look like the intended behavior.

[2017-01-16 14:17] marbetschar opened #462 "uif-choicefield-option not selected after load"
I've added a `uif-choicefield-group` with multiple `uif-choicefield-option`'s on my page as follows:

[code]

and this is how the corresponding controller looks like:

[code]

### Expected Behavior
After page load, the corresponding `uif-choicefield-option` should be preselected:
![expected](https://cloud.githubusercontent.com/assets/392542/21986191/cc2a9ba0-dbfe-11e6-8d31-91a48af4b64d.png)

### A

[2017-01-22 11:47] San-Jeevan opened #465 "BUG and A FIX"
Dropdown doesnt set value on the view to be the selected value.

faulty line:
instanceElement.find('span').html()

 instanceElement
	            .on('click', function (ev) {
	            scope.$apply(function () {
	                **dropdownController.setViewValue(instanceElement.html(), attrs.value, ev);**
	            });
	        });

[2017-01-22 12:22] andrewconnell commented on #465
Can you be more specific where this is? Is this in the source / demo? Specific line number & file would be helpful ;) or even a PR would be really helpful... ;)

[2017-01-29 21:51] ericivarsson commented on #462
Hi @marbetschar,

Looks like the ui-choicefield-group expects a string value for the ng-model binding.
When setting the value to doccacc: "false" the correct option is selected on init:
[code]

I´m not sure if this is the expected behavior or a bug and I haven´t looked deeper into creating a fix but from having a quick look at the current source I do believe it could support Boolean values with a

[2017-01-30 14:09] andrewconnell commented on #462
Not sure it's a bug, but if that is the case @ericivarsson then we should check if the value passed in is a valid boolean value and respect it, not requiring a text value. IMHO it should expect a boolean, not a string. Need to investigate further...

[2017-01-30 20:21] ericivarsson commented on #462
The docs at https://docs.angularjs.org/api/ng/input/input%5Bradio%5D states that `value` only supports string values and that you should use ng-value instead for non-string values like boolean in this case.

I´ve verified that this component works as expected when using ng-value for the uif-choicefield-option elements.

What do you think @andrewconnell, not a bug then right? Perhaps update the dem

[2017-01-30 21:56] andrewconnell commented on #462
Agreed... good catch @ericivarsson

[2017-01-30 21:56] #462 closed

[2017-01-31 10:56] marbetschar commented on #462
@ericivarsson this indeed solved my problem! Thank you both very much for this hint!! Updating the demo page would be fantastic!

[2017-02-05 15:43] Rus7am commented on #465
I guess this is the same problem I've just [experienced](http://codepen.io/Rus7am/pen/vgrpaz) with AngularJS **1.6.0/1**: no selected value is shown. Works **fine** with **1.5.9**

If I update **angular** dependency in the source code to **1.6.1** (in package.json) I get **19 failed tests**.

[2017-02-06 11:50] andrewconnell commented on #465
@Rus7am - We're aware of that issue with upgrading to 1.6.1... see #431. There were some jQuery updates in that version of Angular that impact our tests, but not our underlying codebase. However we won't rev until all tests pass so we need to fix that issue...

[2017-02-06 11:57] andrewconnell commented on #465
Closing this issue as the OP didn't follow up with more detail & can't find the code they reference or the exact problem. Please submit a repo per the issue template instructions if you want to resubmit.

[2017-02-06 11:57] #465 closed

[2017-02-08 12:03] emilverwoerd opened #468 "Incomplete checkin of pull request #464"
Due to the multiple commits it was forgotten to update the spec file 'tableDirective.spec.ts' this issue is to still incorporate those changes.

[2017-02-08 23:02] andrewconnell commented on #468
Merged to `dev` branch in 139f653cd882cacedfea5a097223577a9dab5f59. Will get merged into `master` when we bump for next rollout. Not necessary to bump for test update.

[2017-02-14 09:16] Rus7am opened #473 "People picker single mode"
I'd like to be able to select **only one person** in people picker. I think the simplest implementation would be to change the current selected person when you select another one.

Probably this mode should be enabled by special attribute (**single**?).

### Expected Behavior
Allow only one person can be selected. Change current person when another one is selected.

### Actual Behavior
Multiple pe

[2017-02-15 09:47] angex opened #474 "Json object in uif-dropdown"
I have have a json object with name and id which I'd like to populate on uif-dropdown with initial selected value. I don't not know why this behaves like it does but the selected id is modified incorrectly.
See a plunker sample here: http://plnkr.co/edit/UvGKRTOKXcFYCzdbH8tW
(second uif-dropdown )

Initial selection is set fine (selected id: 0) but after you select an other item and select 'initia

[2017-02-15 11:26] andikrueger commented on #474
In your script.js you are using a reference of the original scope object.
`$scope.SiteTemplate = $scope.SiteTemplates[0];`

 If you change this line of code to this:
`$scope.SiteTemplate = angular.copy($scope.SiteTemplates[0]);`
everything should work as expected.

(Sorry I was not able to test it, as there is currently an connection error: Refused to display 'http://run.plnkr.co/TfUjbPT3msfTqFps/

[2017-02-15 11:41] angex commented on #474
Thnx - it works. I suspected it was something wrong with my code - I am not so familiar with angularjs yet. Tried to implement it according to angular dropdown samples.

[2017-02-15 11:41] #474 closed

[2017-02-19 20:19] vi-verrone opened #475 "[uif-table] uif-sort-order icon issue on Angular 1.6.x"
It seems that since Angular 1.6 the `ng-transclude` directive is not wrapping anymore the transcluded content with a `span` element (as you can see here: https://github.com/angular/angular.js/issues/15223).
For this reason the `uif-table` component has a strange behavior when setting `uif-sort-by` by duplicating the sorting icon when clicked more than once (plunker: https://plnkr.co/edit/148dylPMR

[2017-02-20 11:30] andrewconnell commented on #475
I can't see the issue in the plunker you've provided. Can you please clarify what's wrong and how to dupe it?

BTW, we don't support Angular 1.6+ yet. See #431 ... there were changes with how Angular uses jQuery and it's caused a lot of our tests to fail... that needs to be resolved before we can move to 1.6.

So... if you can clarify / update the issue with a Plunker that shows the issue & also s

[2017-02-20 11:49] vi-verrone commented on #475
Ok, i updated the plunkr leaving only the 'Sorting table' example. You can dupe the issue by  clicking on the first header 'File name', in a first approach you can already see that the sorting icon is freezed to be caret-down, then when you click another Header with sorting feature (like 'Modified') and after that you click again 'File name' you have the duplicated sorting icon. As already said, t

[2017-02-20 12:37] andrewconnell commented on #473
While there's no match for this in the ReactJS version (https://dev.office.com/fabric#/components/peoplepicker), still a nice feature to have but on the backlog.

[2017-02-20 12:42] #461 closed

[2017-02-20 12:42] #468 closed

[2017-02-20 12:42] #475 closed

[2017-02-20 12:59] andrewconnell commented on #414
Closing the loop on this... this has been fixed upstream in Fabric 2.6.3. Will update our dependency to 2.6.3 once it reaches the CDN.

See this for reference: https://github.com/OfficeDev/office-ui-fabric-js/issues/261#issuecomment-280957153

[2017-02-20 12:59] #414 closed

[2017-02-22 20:33] armhil opened #477 "Callout should have a 'none' enum defined for the arrow to not appear."
The current behaviour requires the developers to specify a direction (up / down / left / right). We have to have the option of 'none'.

[2017-02-23 11:41] andrewconnell commented on #477
Good catch... looks like this is supported by fabric 2.6.3. We should make the `arrowDirection` attribute on the scope optional so if you leave it off, you get no decoration.

[2017-02-27 10:55] biapar opened #478 "Do it work with Angular 2+?"
Do it work with Angular 2+?

[2017-02-27 12:00] andrewconnell commented on #478
No, this is an Angular 1 implementation at the moment. Angular 2 is on our roadmap.

[2017-03-01 15:04] bhosalemahesh899 opened #479 "uif-searchbox is not working with ngOfficeUiFabric v0.14.0"
uif-searchbox is not working with ngOfficeUiFabric v0.14.0

with ngOfficeUiFabric v0.14.0
https://jsfiddle.net/bhosalemahesh899gmailcom/owv9fw4f/14/

with ngOfficeUiFabric v0.11.0
https://jsfiddle.net/bhosalemahesh899gmailcom/owv9fw4f/15/

[2017-03-06 22:20] jjczopek commented on #479
Hi @bhosalemahesh899
As of now, `uif-searchbox` component uses ng-model to set & retrieve value.
I have made necessary correction in the demo.

[2017-03-07 19:41] mahaloatchaboy opened #482 "Uif-choicefield - check boxes behaving like radio buttons"
https://codepen.io/chanm003/pen/bqBrzm

### Expected Behavior

User should be able to check more than one check box.   Model should be an array reflecting which boxes the end user has checked.

### Actual Behavior

Checkbox group behaves like a radio button group.
Model is a string.

### Steps to Reproduce Behavior

[2017-03-12 20:40] jjczopek commented on #427
As per @sjclemmy - `cursor:pointer` comes from the `.ms-Facepile-itemBtn` class. That's how it is for Office UI Fabric 2.6.2 which we are using (according to the demo on ngofficeuifabric.com).

I also don't think we are able to do anything about it, as at that point of time it was required to wrap persona with this class and thus the pointer.

If we want to align what we have with React implementa

[2017-03-21 07:11] angex opened #484 "DatePicker allows input date string?"
Feature request if not existing yet.
Is input for DatePicker implemented?
https://dev.office.com/fabric#/components/datepicker (see 'DatePicker allows input date string')

[2017-03-21 11:07] andrewconnell commented on #484
Yup... see #385 & #386.

[2017-03-21 11:07] #484 closed

[2017-03-24 05:22] bhosalemahesh899 commented on #479
Thank you jjczopek

[2017-03-27 17:29] jskvoll opened #485 "[DatePicker] Year changes unexpectedly after selecting a month"
Issue found by my team member.

Reproduces:
http://ngofficeuifabric.com/demos/uifDatepicker/

### Expected Behavior

Selectiion of a month not reflects on the selected year

### Actual Behavior

Selected year changes after selecting a month

### Steps to Reproduce Behavior

http://i.imgur.com/8qxpbel.gifv

[2017-03-27 17:39] jskvoll opened #486 "[DatePicker] - value of Reference button is not updated"
Issue found by my team member.

Reproduces:
http://ngofficeuifabric.com/demos/uifDatepicker/

### Expected Behavior
Value of Reference button contains current month and current year

### Actual Behavior

Value of Reference button contains year you previously selected
### Steps to Reproduce Behavior
1.Open Date picker
2.Click Reference button with month and year label
3.Click Reference button with

[2017-04-01 21:22] #431 closed

[2017-04-01 21:22] #477 closed

[2017-04-01 21:22] #479 closed

[2017-04-03 21:45] nightullr opened #487 "Encoded ampersand displays in selected option of dropdown"
The selected value of uif-dropdown displays an encoded ampersand, "&amp;amp;", rather than the character. The model value contains the &amp; character as do the options in the drop down list - only appearance of this issue seems to be in the display box.

Plunk: http://embed.plnkr.co/C4RnVQrgtHfD8DBBjuGE/

![image](https://cloud.githubusercontent.com/assets/26512780/24631726/6d621076-188f-11e7-871

[2017-04-04 14:19] bhosalemahesh899 opened #488 "ng-change event doesn't get triggered when using uif-searchbox"
Hi,

I am using uif-searchbox and I want to do something on ng-change of uif-searchbox.
but the ng-change event doesn't get triggered on change
ng-cahnge event called on click on close button of uif-searchbox

 <uif-searchbox value="vm.searchTerm" ng-model="vm.searchTerm" ng-change="vm.onSearch()" />

please see in the following js
https://jsfiddle.net/bhosalemahesh899gmailcom/owv9fw4f/27/

[2017-04-04 14:37] schmkr commented on #478
@andrewconnell Can we view this roadmap somewhere? Has development already started? Can we track progress somewhere or could you give a rough estimate on when to expect this?

[2017-04-06 18:02] jjczopek commented on #487
I suspect the problem is with the following line:
https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/master/src/components/dropdown/dropdownDirective.ts#L132

We have to evaluate if it's safe to remove the `.html()` call.

[2017-04-09 16:55] nightullr commented on #487
This line, as well: https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/master/src/components/dropdown/dropdownDirective.ts#L71

The one you linked is hit on initial load to set the value, but the postLink click event seems to be the one executed when changing it. This directive is using interpolation for `selectedTitle` and not ng-bind-html, so I don't think I see an impact in changing tho

[2017-04-14 10:27] andrewconnell opened #489 "Update guidance on using the Fabric Core CSS CDN & Angular versions"
See: https://github.com/OfficeDev/office-ui-fabric-core/issues/944

Also update library docs to recommend Angular 1.6.+

[2017-04-14 20:40] vrndeva opened #490 "People Picker close event not firing"
This is the sample code:  uif-person-close="removeClicked"

On my HTML:
<uif-people-picker` uif-people="getUsers" ng-model="Test" uif-type="compact"  uif-person-close="removeClicked"  uif-selected-person-click="personClicked"  data-ng-click="getSelectedGetUsersId(user)" uif-search-delay="300" placeholder="Search for people">

<uif-people-search-more>
        <uif-secondary-text>Showing {{asyncgetU

[2017-04-14 20:41] vrndeva commented on #490
The issue is when I add any person and click on Close after adding the person.

[2017-04-27 19:24] kbrimington opened #491 "Upgrading Angular JS to version 1.6.x causes the uif-dropdown to display incorrectly"
Upgrading Angular JS to version 1.6.x causes the uif-dropdown directive to break.

### Expected Behavior

Selecting an option in the uif-dropdown should update the model and also update the display value presented within the drop down.

### Actual Behavior

The initial value of the dropdown is presented correctly. Selecting an option in the uif-dropdown does update the model correctly, but does no

[2017-04-29 17:03] nightullr commented on #491
The issue no longer occurs if you use the most recent version of ngOfficeUIFabric - it was recently updated to 0.15.0, which fixed the issue for me when using AngularJS 1.6+. See pull request #483 .

[2017-04-29 17:16] nightullr commented on #487
@jjczopek - I can confirm that the change to `.text()` on lines 71 and 132 does not cause any impacts, especially considering that attempting to properly utilize `.html()` with HTML content just displays it as plaintext anyway. I made the switch in my local dev copy a couple weeks ago and it behaves correctly. Can I get a pull request submitted? I attempted to submit one myself but Github does not

[2017-04-29 20:41] andrewconnell commented on #491
@nightullr is correct... see this fork of your plunk. All I did was replace your version of ngOfficeUIFabric with the v0.15.0 copy in CDNJS:

http://plnkr.co/edit/d7k83IQSDuY9XZqs5eH4?p=preview

[2017-04-29 20:41] #491 closed

[2017-04-29 20:44] andrewconnell commented on #487
@nightullr - We'd welcome your PR!

If you're trying to create a branch off your cloned copy of THIS repo, then you are correct you won't be able to submit a PR. We aren't doing anything special here... submit the PR from your fork like all other OSS projects :)

The proper process is:

- fork this repo
- clone the fork from your account locally
- create a branch & apply your fix
- push your branc

[2017-05-01 15:36] kbrimington commented on #491
Ah. I see. Thanks for the help!

[2017-05-04 00:35] nightullr commented on #487
Yep, that's what I did! Thanks for the clarification. Submitted the PR.

[2017-05-08 12:46] #487 closed

[2017-05-15 18:34] iconix opened #493 "AngularJS DatePicker is not accessible (like the other Fabric UI implementations)"
The AngularJS implementation of the Office UI Fabric DatePicker has broken component accessibility somehow.

I have an Office Add-In built with Angular that _needs_ to be accessible - so I might have to abandon this library in favor of the vanilla Fabric JS one...

### Expected Behavior

When the DatePicker calendar is rendered, I should be able to navigate with my keyboard to select dates, like t

[2017-05-16 13:00] spcfran commented on #478
Perhaps this could be made clearer on some places (particularly the project description and the  `README.md`) by using **AngularJS** instead of **Angular**, which is how Angular2+ is meant to be known onwards.

[2017-05-16 14:16] andrewconnell commented on #478
Agreed @spcfran ... the docs could definitely be updated. Care to log this as an issue and take ownership contributing to the docs?

[2017-05-16 14:17] andrewconnell commented on #478
@schmkr Sorry for the delay... while I said it above, there isn't an official roadmap... we're in a state of flux. The closest we have is here: https://github.com/ngOfficeUIFabric/ng-officeuifabric/issues/405

But even that is outdated...

[2017-05-16 17:05] spcfran opened #494 "Update docs to reflect new Angular naming conventions"
As per official guidance from Google, Angular 2 is now known as just **Angular**, and Angular 1.x is now widely referred to as **AngularJS**.

The current documentation makes multiple mentions to **Angular** meaning actually AngularJS, which can lead to confusion. This issue is meant to track those corrections as discussed in #478

There are also mentions to Angular 2 which could also be renamed f

[2017-05-18 09:01] gonadn opened #495 "How can i have two tables on same page with different row-select-mode"
HI

Iam using uif-table component from ng-office-ui-fabric in my application.
And i have problom understanding how i can seperate select-mode behavior on my tables.
I have two table on the page, table on left side have to be with multiple select mode, and table on rigth side have to be with "none" select mode.

My problom is that if i set my table on rigth side to uif-row-select-mode="none", then

[2017-05-18 11:38] michal-husak opened #496 "uif-list is missing in ngOfficeUiFabric.min.js v.0.2.0"
I am trying to use [https://cdnjs.cloudflare.com/ajax/libs/ngOfficeUiFabric/0.2.0/ngOfficeUiFabric.min.js](https://cdnjs.cloudflare.com/ajax/libs/ngOfficeUiFabric/0.2.0/ngOfficeUiFabric.min.js) and there is **uif-list** missing. Therefore I can't use [uif-list directive](http://ngofficeuifabric.com/demos/uifList/) in this version.

Did you forget to export it?

[2017-05-18 12:11] andrewconnell commented on #496
No... it didn't exist in v0.2.0... that's a VERY old version of the library. Use 0.15.1 for latest. Looks like you grabbed the link from the homepage of the repo... that's just an example.

See:
https://cdnjs.com/libraries/ngOfficeUiFabric

[2017-05-18 12:11] #496 closed

[2017-05-24 14:32] juliemturner commented on #473
I just did a [blog post](http://wp.me/p7UKup-5v) on using the People Picker in SharePoint. I found a hacky workaround for this issue using a $watchCollection... that said, I agree it would be a nice feature.

[2017-05-26 20:53] andrewconnell commented on #490
Do you have a repo like a jsfiddle you can share to make it easier to see the issue @vrndeva ?

[2017-05-26 21:05] andrewconnell commented on #493
Unfortunately, the MDL1 version of Office UI Fabric took a dependency on [pickadate.js](https://github.com/amsul/pickadate.js) which has numerous accessibility issues. Looking at that project, I see the author hasn't contributed to it in quite a while and is only merging PR's (which is still good)... in fact the owner is looking for someone else to maintain it looking at the repo's README. We are

[2017-05-26 21:06] andrewconnell commented on #493
BTW, I'm closing this issue but feel free to continue the discussion. I am tagging with **wontfix** because it's not something ngOfficeUIFabric can address as it's out of scope for our other components.

[2017-05-26 21:06] #493 closed

[2017-05-26 21:07] #478 closed

[2017-05-26 21:09] andrewconnell commented on #495
Hey @waldekmastykarz do you recall if this is supported or how it's done? I know it's been a while since you built the control...

[2017-05-27 04:49] waldekmastykarz commented on #495
It seems like at this moment we're not supporting it as we keep track of it on the parent scope.

[2017-05-27 08:22] andrewconnell commented on #495
@gonadn Looks like that isn't supported at the moment.

[2017-05-27 08:22] #495 closed

[2017-05-27 08:51] andrewconnell commented on #485
Unfortunately, this bug is coming from the [pickadate.js](https://github.com/amsul/pickadate.js) library which we take a dependency on because that's what Office UI Fabric v2.6.* takes a dependency on... just as I explained in #493. Therefore this bug needs to be addressed in that library as it's not something we can fix in this project.

[2017-05-27 08:51] #485 closed

[2017-05-27 08:52] andrewconnell commented on #486
Unfortunately, this bug is coming from the [pickadate.js](https://github.com/amsul/pickadate.js) library which we take a dependency on because that's what Office UI Fabric v2.6.* takes a dependency on... just as I explained in #493. Therefore this bug needs to be addressed in that library as it's not something we can fix in this project.

[2017-05-27 08:52] #486 closed

[2017-05-27 09:08] #335 closed

[2017-05-27 09:23] andrewconnell commented on #488
Correct... ATM this control like many others does not emit this event. It does use it internally to change the `$isDirty` flag on the component. Therefore this would be an enhancement.

[2017-05-27 09:29] andrewconnell commented on #490
This isn't an event we currently support... I think you're looking for the event `removePersonFromSelectedPeople` that we have on the scope. Refer to the source of the scope's interface for this: https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/master/src/components/peoplepicker/peoplePickerDirective.ts#L180-L220

[2017-05-27 09:29] #490 closed

[2017-05-30 15:49] #489 closed

[2017-05-30 15:49] #494 closed

[2017-05-30 17:17] andrewconnell opened #500 "uif-choicefield: throwing lots errors on dirty setting"
### Expected Behavior
No errors thrown

### Actual Behavior
Lots of errors thrown

### Steps to Reproduce Behavior
Go to live demo http://ngofficeuifabric.com/demos/uifChoicefield, open dev tools & try last demo.

[2017-06-13 10:39] angex opened #502 "Editable datepicker"
Is there an option to set uif-datepicker editable?

[2017-06-13 15:03] andrewconnell commented on #502
Not sure I know what you mean... all controls by their nature are usable / editable.

[2017-06-14 21:51] architshukla commented on #500
This seems to be happening due to a missing check for the absence of `ng-model`  [here](https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/master/src/components/choicefield/choicefieldDirective.ts#L233). Making the change locally fixes the issue for the third and the last examples.

I have two questions though:
1. In the last example, it's possible to select multiple radio buttons. Is this

[2017-06-15 10:23] andrewconnell commented on #500
Thanks for the suggested fix... want to submit a PR and help out?

For the other thing you mention, seems a dupe of #482

[2017-06-15 10:46] angex commented on #502
I mean typing in the date with keyboard. Keyboard input is disabled and I don't find option for enabling it for this control.

[2017-06-15 12:25] andrewconnell commented on #502
Unfortunately not... Office UI Fabric took a dependency on http://amsul.ca/pickadate.js/ to implement this control which applies to us as well. Doesn't appear it supports manually entering the date so unfortunately, we can't do that at this time.

[2017-06-15 12:36] angex commented on #502
amsul has editable: true
This prevents popup from opening but it can be overridden:
https://github.com/amsul/pickadate.js/issues/542

[2017-06-15 12:41] andrewconnell commented on #502
I stand corrected... warrants additional research to see if this is supported as the issue on their repo is open and only resolved by a fork... which we aren't based on... so not sure if the underlying version of the library supports it.

[2017-06-21 06:43] rrciisc opened #504 "Breadcrumb component's menu is not rendered properly in RTL"
Put **dir="rtl"** attribute on html dom element of breadcrumb [demo page]
Breadcrumb UI's flyout menu is broken in RTL

### Expected Behavior
flyout menu should render properly

### Actual Behavior
![image](https://user-images.githubusercontent.com/4797003/27370614-f937f920-567a-11e7-852c-ce3864168312.png)

### Steps to Reproduce Behavior
Put **dir="rtl"** attribute on html dom element of breadcru

[2017-06-21 11:37] #500 closed

[2017-07-12 20:36] architshukla commented on #502
It seems to be supported by the library and there is an example at http://amsul.ca/pickadate.js/date/#editable. I've also checked that setting `editable: true` in the existing directive prevents the picker from launching.

The change would require conditionally applying a change/focusout listener on the input field. I can prepare a PR for this if no one else is working on it.

As my local changes

[2017-07-25 15:11] frizar opened #505 ""Go to today" close datepicker?"
How can i close datepicker on click "Go to today"?

[2017-07-25 17:46] SoftTimur opened #506 "Don't hide items when there are still space"
I am  trying to use the command bar of [ng-office-ui-fabric](http://ngofficeuifabric.com/demos/), here is a [code](https://jsbin.com/soyohajowi/2/edit?html,output)

    <!DOCTYPE html>
    <html>
    <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui

[2017-07-27 02:21] nightullr commented on #485
Actually, I believe this specific bug is caused by the ngOfficeUIFabric implementation... I'm still working through understanding how the component works with pickadate.js, but the events that handle month and year navigation in the datepicker component are sending the `.day` (day of the week) picker property while pickadate is expecting the `.date` (day of the month) picker property to set the ne

[2017-08-14 14:58] andrewconnell commented on #506
The code that handles this is here:
https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/c92a5847b232a40976a06e8e1a98eb37f8498d59/src/components/commandbar/commandBarDirective.ts#L328-L336

If the offset is less than with width - 200px, it's hidden. Not sure where the logic originated from or if it was arbitrary. @tobiaswest83 was original author... maybe he has thoughts...

[2017-09-06 17:42] krishna15873 commented on #405
@andrewconnell Any progress for Angular 2 ? Workaround on Integrating existing fabric version with Angular 2/4 would be of great help.

[2017-09-06 18:18] andrewconnell commented on #405
Not at this time... hopefully, we'll have a bit of clarity at the end of October / early November.

[2017-09-21 15:48] nightullr commented on #482
I have worked on this a bit and nearly done, just need to iron out an issue with a test failing.

[2017-10-16 14:58] #473 closed

[2017-10-16 14:59] andrewconnell commented on #473
Implemented in v0.16.0

[2017-10-18 01:36] Mcdull731 opened #509 "Can't find icon ShowResults"
Having an issue? Please give us as much information as possible, provide repo steps & ideally a [plunker](https://plnkr.co/), [jsfiddle](https://jsfiddle.net/) or [CodePen](https://codepen.io) that demonstrates the issue.

Not an issue? Feel free to delete this template & create an issue from scratch.

### Expected Behavior

### Actual Behavior

### Steps to Reproduce Behavior

[2017-10-27 12:03] Rus7am opened #510 "Command button does not display text inside <uif-button /> tag"
### Expected Behavior
Text inside `<uif-button />` tag displayed when **uif-type** attribute set to **command**

### Actual Behavior
Text inside `<uif-button />` tag is removed if **uif-type** attribute is set to **command** (see the [pen](https://codepen.io/Rus7am/pen/QOLzVm/)).

[2017-10-27 15:31] andrewconnell commented on #510
You're using an old version of Angular that this library doesn't support. You must use a version 1.6+. When I updated your codepen to use 1.6.4, it worked.

[2017-10-27 15:31] #510 closed

[2017-10-27 15:34] andrewconnell commented on #509
This library takes a dependency of the MDL1 of the Office UI Fabric which is the 2.6.3 branch. That branch does not include this icon as you can see here: https://github.com/OfficeDev/office-ui-fabric-core/blob/release/2.6.3/src/sass/Fabric.Icons.Output.scss

[2017-10-27 15:34] #509 closed

[2017-10-27 15:37] Rus7am commented on #510
Oh, apologies, my mistake.

[2017-10-31 08:56] GaryWenneker commented on #482
Is it fixed yet?

[2017-11-01 16:57] andrewconnell commented on #482
Since the issue is still open, looks like it's still pending.

[2017-11-10 00:13] ptrzyna commented on #405
It's October/November now, any progress on this?

[2017-11-21 03:30] Alex-Torres commented on #405
Any updates on Angular 5 UI Support?

[2017-11-21 16:07] andrewconnell commented on #405
@The-Meek-Developer Yup... writing it all up today actually. Watch [my blog](http://www.andrewconnell.com) for plans...

Sneak peek: we aren't ready to start dev just yet, but the story has firmed up significantly.

/cc: @krishna15873

[2017-11-22 07:40] Splaktar opened #511 "AngularJS vs Angular naming confusion"
Hello. Thank you for your efforts building Fabric UI for AngularJS!

I just noticed some very confusing inconsistencies on the following sites:
https://github.com/ngOfficeUIFabric/ng-officeuifabric
https://developer.microsoft.com/en-us/fabric#/angular-js
http://ngofficeuifabric.com/
https://developer.microsoft.com/en-us/fabric

There are quite a number of references to Angular, however this projec

[2017-11-22 11:47] andrewconnell commented on #511
Fully understand all that... and in the properties we own & have control over (those you list in your issue that do not have `*.microsoft.com` in them) the version names are correct and only refer to AngularJS.

However, we can't control what Microsoft does and they have mixed AngularJS and Angular together in many places creating this confusion. We can only control our messaging.

This project is

[2017-11-22 11:47] #511 closed

[2017-11-22 17:05] andrewconnell commented on #405
SEE: http://www.andrewconnell.com/blog/future-of-the-ngofficeuifabric-project-office-ui-fabric-components

It's still a bit too early to get started on it... we need Angular Elements to be finalized. We may be a few months to further out than that. Have to see...

[2017-11-23 10:55] StfBauer commented on #405
I will already use the time to create a Fabric version that makes it usable with Angular Elements/Web Components. Through the move of Office UI Fabric moving away from HTML/CSS first to fast run an  React Component Library it lacks of proper CSS/SASS.
The HTML code spit out by Office UI Fabric sadly needs to be cleaned up too.

Through a development approach on creating CSS this should be easier a

[2017-11-30 16:01] nightullr commented on #482
My changes work when I test them in Plunkr, but the specs testing with gulp still fails and I'm not sure why - it's actually my first time working with gulp tests so I'm learning as I go. I'll push my branch to my fork this evening, though, if anyone would like to take a look about how to wrap it up.

Edit: https://github.com/nightullr/ng-officeuifabric/tree/uifchoicefield-482

[2018-03-22 21:22] #505 closed

[2018-06-04 17:47] temka1234 commented on #405
Is there any chance to use it with angular 2+?