[2015-09-19 20:53] StfBauer opened #1 "Live Demo of UI Elements on the web site"
It would be nice if the web site would show a live demo of all available components.

[2015-09-19 21:11] #1 closed

[2015-12-20 12:14] andrewconnell opened #3 "Update existing docs in wiki & migrate to repo"
After recent commit & project setup structure, docs need updating... specifically things related to code checking, how to get a dev machine setup, how to contribute, testing the project, project organization, etc... all needs to get updated.

In addition, we will shut down the wiki & move docs to the repo to make it easier for community contrib.

- [ ] Build
- [x] Contributing
- [x] Contributing W

[2015-12-23 14:15] andrewconnell opened #9 "Setup build process for releases"
Setup a build process to compile all directives => minified & unminified JavaScript library. This also needs to be published to the various package management systems such as:

- [x] bower
- [ ] npm
- [ ] nuget
- [x] cdnjs

Ideally this should be automated upon a tagged release.

Tasks:
- [x] create script for **ng-officeuifabric** to help with updating package release
- [x] cdnjs & bower will get

[2015-12-23 14:19] andrewconnell opened #10 "Setup example site with dynamically built examples"
Create an example site that will live in the repo [ngofficeuifabric.github.io](https://github.com/ngOfficeUIFabric/ngofficeuifabric.github.io) & live at the site http://ngofficeuifabric.com/

Ideally this will get updated automatically on new library releases & dynamically pull examples from each component's folder.

[2015-12-29 13:28] #3 closed

[2015-12-29 13:29] waldekmastykarz opened #12 "Support for required text fields is not a part of Office UI Fabric and should be removed"
Currently the TextField directive supports defining required fields (https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/544333a6bc2b004330e26d11f1968bb3fde01d97/src/components/textfield/textBoxDirective.ts#L24). This is however a custom implementation that isn't a part of Office UI Fabric.

As there are many different ways in how required fields can be marked in applications and there is n

[2015-12-29 14:03] andrewconnell opened #13 "Component to create: breadcrumb"
Official link to component description & demo: http://dev.office.com/fabric/components/breadcrumb

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:04] andrewconnell opened #14 "Component to create: button"
Official link to component description & demo: http://dev.office.com/fabric/components/button

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:04] andrewconnell opened #15 "Component to create: callout"
Official link to component description & demo: http://dev.office.com/fabric/components/callout

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:05] andrewconnell opened #16 "Component to create: choicefield"
Official link to component description & demo: http://dev.office.com/fabric/components/choicefield

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:05] andrewconnell opened #17 "Component to create: commandbar"
Official link to component description & demo: http://dev.office.com/fabric/components/commandbar

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:05] andrewconnell opened #18 "Component to create: contextualmenu"
Official link to component description & demo: http://dev.office.com/fabric/components/contextualmenu

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:05] andrewconnell opened #19 "Component to create: datepicker"
Official link to component description & demo: http://dev.office.com/fabric/components/datepicker

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:05] andrewconnell opened #20 "Component to create: dialog"
Official link to component description & demo: http://dev.office.com/fabric/components/dialog

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:05] andrewconnell opened #21 "Component to create: dropdown"
Official link to component description & demo: http://dev.office.com/fabric/components/dropdown

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:06] andrewconnell opened #22 "Component to create: label"
Official link to component description & demo: http://dev.office.com/fabric/components/label

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:06] andrewconnell opened #23 "Component to create: link"
Official link to component description & demo: http://dev.office.com/fabric/components/link

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:06] andrewconnell opened #24 "Component to create: list"
Official link to component description & demo: http://dev.office.com/fabric/components/list

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:06] andrewconnell opened #25 "Component to create: listitem"
Official link to component description & demo: http://dev.office.com/fabric/components/listitem

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:06] andrewconnell opened #26 "Component to create: navbar"
Official link to component description & demo: http://dev.office.com/fabric/components/navbar

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:06] andrewconnell opened #27 "Component to create: orgchart"
Official link to component description & demo: http://dev.office.com/fabric/components/orgchart

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:07] andrewconnell opened #28 "Component to create: overlay"
Official link to component description & demo: http://dev.office.com/fabric/components/overlay

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:07] andrewconnell opened #29 "Component to create: panel"
Official link to component description & demo: http://dev.office.com/fabric/components/panel

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:07] andrewconnell opened #30 "Component to create: peoplepicker"
Official link to component description & demo: http://dev.office.com/fabric/components/peoplepicker

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:07] andrewconnell opened #31 "Component to create: persona"
Official link to component description & demo: http://dev.office.com/fabric/components/persona

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:07] andrewconnell opened #32 "Component to create: personacard"
Official link to component description & demo: http://dev.office.com/fabric/components/personacard

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:08] andrewconnell opened #33 "Component to create: pivot"
Official link to component description & demo: http://dev.office.com/fabric/components/pivot

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:08] andrewconnell opened #34 "Component to create: progressindicator"
Official link to component description & demo: http://dev.office.com/fabric/components/progressindicator

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:08] andrewconnell opened #35 "Component to create: spinner"
Official link to component description & demo: http://dev.office.com/fabric/components/spinner

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:08] andrewconnell opened #36 "Component to create: table"
Official link to component description & demo: http://dev.office.com/fabric/components/table

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:08] andrewconnell opened #37 "Component to create: textfield"
Official link to component description & demo: http://dev.office.com/fabric/components/textfield

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 14:09] andrewconnell opened #38 "Component to create: toggle"
Official link to component description & demo: http://dev.office.com/fabric/components/toggle

*Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://imgur.com/gallery/buUcyQv*

[2015-12-29 15:31] andrewconnell commented on #37
This has currently been implemented & submitted by @rolandoldengarm, but needs some things to be addressed...
- [ ] converted from an attribute => element directive
- [ ] add support for multiline
- [ ] add support for placeholder
- [ ] add support for underline
- [ ] add more robust docs to directive

[2015-12-29 15:33] andrewconnell commented on #16
~~Originally submitted by @rolandoldengarm, but needs some additional work:~~
- [x] ~~converted from an attribute => element directive~~
- [x] ~~add support & examples for checkbox~~
- [x] ~~add support for placeholder~~
- [x] ~~add support for underline~~
- [x] ~~add more robust docs to directive~~

[2015-12-29 15:33] andrewconnell commented on #19
Started by @rolandoldengarm...

[2015-12-29 15:34] andrewconnell commented on #21
Started by @rolandoldengarm

[2015-12-29 15:34] andrewconnell commented on #38
Started by @rolandoldengarm ...

[2015-12-29 15:48] andrewconnell commented on #14
Spec:

[code]

~~This would require the creation of two dependent element directives... **uif-icon** & **uif-description**. Need to research if it makes sense to create attribute directives too (**uif-type**)?~~ _resolved in comments below_

The Office UI Fabric supports creating buttons using `<a>`, `<div>` & `<button>` where the last one, `<button>` is recommended. This directive will render the

[2015-12-29 15:50] andrewconnell commented on #12
Agreed... for now let's have strict adherence to OOTB Office UI Fabric or if there's a common "required" visual indicator used in Office\* (O365 / clients / etc), let's implement that.

@rolandoldengarm is this something you want to address being your component?

[2015-12-29 19:40] andrewconnell opened #39 "Component to create: SearchBox"
Official link to component description & demo: http://dev.office.com/fabric/components/searchbox

Screenshot of web analytics for the original http://officeuifabric.com site by @andrewconnell. Use this to see what are the most popular components: http://codepen.io/andrewconnell/pen/YyGzRv

[2015-12-29 19:41] andrewconnell commented on #39
Started by @jigargandhi

[2015-12-29 20:04] andrewconnell opened #40 "Create component: icon"
This isn't in Office UI Fabric, but would be used by multiple directives as well as outside the components. See issue #14 for reference.

**Spec**:
[code]

This would render out the HTML that uses the icon for a PLUS.

[2015-12-29 20:47] andrewconnell commented on #35
Claimed by @jjczopek

[2015-12-29 21:44] jjczopek commented on #14
After short research I'm not sure how about **uif-description**, but I think it should be OK to create **uif-icon** - it looks like other components are using that as well, e.g. ListGrid example (https://github.com/OfficeDev/Office-UI-Fabric/blob/master/src/components/List/List.Grid.html), with icons assigned to ListItem (therefore I also assume it would work for ListItem).

[2015-12-29 23:01] andrewconnell commented on #14
I struggle with the description as well... But how else to address it? Looks like a span with a class nested within it is how material does it at times

[2015-12-29 23:26] jjczopek commented on #14
It's a bit tricky after all. My previous example is not the best one, as button wraps `<i>` element in a `<span>`, but for List.Grid, it wraps it in a `<div>`.
In best case scenario **uif-icon** should output only the **`<i>`** element with appropriate class, but then it would take a lot of effort (or I'm wrong?) to adjust icon handling for different components (assuming putting that logic in the

[2015-12-29 23:30] andrewconnell commented on #14
I don't see the icon directive being different across different directives... they all seem to render the same thing out... just the `<i>`.

For other components, I'd have to look at how the material guys handled it...

[2015-12-29 23:44] jjczopek commented on #14
I agree - icon directive in outputs `<i>` in the end, but from what I saw different components can put some additional wrapping around icons, e. g. for button:

[code]

 and for list item:

[code]

I'm just thinking aloud how to handle those different 'wrapping' scenarios - I might be over-thinking the whole thing however.

[2015-12-29 23:52] andrewconnell commented on #14
No i don't think you are... good observation here. I'll do some investigation in ngmaterial... need to find some instances where they have to deal with it... like if you can have some context to your container

[2015-12-30 08:52] waldekmastykarz commented on #14
Looking at the examples above, the ListItem icon is wrapped in a div.ms-ListItem-action which seems like a part of ListItem action rather than an icon wrapper. As for the button: why shouldn't the button be responsible for correctly rendering its icon? In that way you would add a button with an icon inside and the button figures out how that icon should be properly wrapped to be rendered as design

[2015-12-30 10:59] andrewconnell commented on #14
While I see your point, one of the ideas of the directives is to make implementation a bit easier. In the case of list item, agreed... it's part of the action so that's not something you'd add to the icon. But in the case of the button, it's icon+button specific so I would think it would make sense to have either the button / icon know about the wrapper that needs to be rendered.

[2015-12-30 11:27] waldekmastykarz commented on #14
To what extent is this scenario different than for example handling a textfield with placeholder which also requires additional markup? What if we added an attribute you can set on the button directive which would render the icon markup? I'm not sure if this would allow us to reuse the existing icon directive but it would abstract away the icon markup and make it easier for devs to use buttons wit

[2015-12-30 11:41] andrewconnell commented on #14
Are you proposing...

[code]

I think that's what you're saying. We wouldn't do this... if it's content within the button, which the icon is, then that would be done as you see above in my spec. Doing it this way ^^^ is not great for reuse.

[2015-12-30 11:50] waldekmastykarz commented on #14
That's what I was thinking about indeed. I've had a quick look at ngMaterial and it seems like they don't have the challenge because Material doesn't use icon wrappers.
Given that icons are reused in different components in Fabric, each having their own wrappers, it would be better if the icon wrapping logic was a part of the component rather than the icon. The latter would require a long switch s

[2015-12-30 11:57] andrewconnell commented on #14
I'll look at a few different options... we've collectively gone way off topic talking about icons here... there's an issue for icons :) #40

I've got the simple icon directive working locally... worst case any wrapping can be manually added but I'll look at what wrapping options there are... ideally at the container level (ie: button) and not at the child level (ie: icon).

[2015-12-30 11:59] waldekmastykarz commented on #14
I've been looking into the possibility of accessing child elements of a directive template. If it worked we could use it to examine the contents of <uif-button> and wrap any <uif-icon> found with additional markup.

[2015-12-30 12:39] waldekmastykarz opened #41 "Element vs. attribute directives"
Looking at @andrewconnell Pen @ http://codepen.io/andrewconnell/pen/MaedKX I've noticed that buttons are defined as a &lt;button>, &lt;div> and &lt;a>. If we use an element directive won't we be dictating which element is rendered rather than allowing developers to choose what makes the most sense for their application? The confusing part is that if you look at the current Fabric samples @ http://

[2015-12-30 13:04] waldekmastykarz commented on #36
Shall I pick this up?

[2015-12-30 14:08] andrewconnell commented on #36
This is going to be a big one... A really big one as we want more than just what fabric gives us... We want sortable columns, selectable rows, etc... Functionality that is expected in a directive... You sure you want to bite this off as your first one?

This one def needs a spec agreed upon before someone starts building it out.

[2015-12-30 14:29] waldekmastykarz commented on #36
I thought I'd do the basics first so that we can align with the Fabric for the basic use cases. If you'd rather see it all done at once then it would be definitely better to get the specs in place first to have a common understanding what we're after. We could then split it into separate items for easier tracking.

[2015-12-30 15:01] andrewconnell commented on #36
Can always release iteratively…

p1 – feature equivalent
P\* - selectable rows / cells
P\*  -– sortable columns
p\* - etc

You still want it? :)

[2015-12-30 15:03] waldekmastykarz commented on #36
How about I take p1? Others are still welcome to jump in and help with pX :)

[2015-12-30 15:04] andrewconnell commented on #41
I'm just going to implement the `<button>` way of doing it... not the other two ways. No one is using those other options from what i heard from the UI fabric teams.

If the need & justification arises for others, we'll deal with it at that time.

[2015-12-30 15:04] #41 closed

[2015-12-30 15:05] andrewconnell commented on #36
You own `<uif-table>`... first up, spec it :)

[2015-12-30 15:17] waldekmastykarz commented on #36
Spec for p1 (based on http://dev.office.com/fabric/components/table):

[code]

**Table**, **tablerow** and **tablecell** directives denote respectively a table, table row and a table cell. **Tablerowcheck** renders the checkbox in the first column. A row can be marked as selected using the **selected** attribute.

Please note that currently Office UI Fabric doesn't offer any support for interactiv

[2015-12-30 15:37] andrewconnell opened #42 "Change to Guidance in Building Directives"
After a healthy discussion in our Slack group, we've decided to make a few changes early on before we have too many directives built. These changes are going to be implemented immediately before we have our first release of the library. The motivation behind these changes are for following what the Angular team is doing, making it easier to build & consume directives & following general guidance.

[2015-12-30 16:02] andrewconnell commented on #36
OK... so while we do want to stay with the spirit of fabric, we also want to keep in mind these are going to be components in applications. One of the main goals here is to ensure that these directives are not just "save me time from writing all the CSS classes that fabric needs" but also to make the developer more productive. To me, looking at the spec as is, I just see "so this just rewrites the

[2015-12-30 17:29] waldekmastykarz commented on #36
In some scenario's the Fabric is more than CSS. If you for example take a look at Spinner or People Picker the interaction is already covered for by the Fabric. All we need to do is to fill the component with data. With that I wonder what the odds are that things such as sorting table or selecting rows will be provided as a part of the Fabric and we would be able to leverage it rather than buildin

[2015-12-30 18:30] waldekmastykarz commented on #12
FWIW: looking at Fabric, the visual identification for required fields is implemented on Labels rather than on fields. See http://dev.office.com/fabric/components/label for an example of a Label for required field.

[2015-12-30 19:52] andrewconnell commented on #36
**RE: Fabric being more than CSS...**

Sorry but that's not accurate... actually Fabric **is just CSS**. I know this seems like splitting hairs, but this is a very important point for our library to understand. There are some components where they have created some _sample_ JavaScript; it is added just to show how the CSS can be used If you talk to the team, they are emphatic that the JS is not pa

[2015-12-30 20:03] andrewconnell opened #43 "Each component in it's own module?"
Question for everyone to weigh in... actually two...

**Q1: Should each component be in it's own Angular module?**
Today it looks like we're doing two... `fabric.ui.components` is defined in `core.ts` that is the root of the entire library, but we also have things like `fabric.ui.components.choicefield` for each one.

**Q2: Should we publish the library as a single entity, or each component as it'

[2015-12-30 20:42] jjczopek commented on #43
Answering in reverse order. Following the project philosophy, if we want to follow patterns from Angular Material, in the long run I think we should go for it - have packages for each component plus all-in-one. But maybe to keep things simpler at the beginning, let's target one package and then split it up to multiple packages. There are discussions around many aspects and I think this could wait

[2015-12-30 21:05] s-KaiNet commented on #43
On **Q1** agreed that every component should goes in a single module. This will be in line with angular material, which is very good example, imho, and in line with this great [style guide](https://github.com/johnpapa/angular-styleguide#modularity) (_Modularity_)
On **Q2** agreed with @jjczopek that we can skip it for a while. If resulting package won't be very heavy, then why do I need to think a

[2015-12-30 21:36] waldekmastykarz commented on #43
:+1: on @s-KaiNet

[2015-12-30 21:55] waldekmastykarz commented on #36
Fell for it again: you're right: Fabric is CSS only. We've discussed this before.

**RE: Shorter table notation**: let me check if I can find anything about it

**RE: Templating vs. Repeat**: :+1: on ng-repeat approach for p1

**RE: Header row**:
Just to double check: we want it to be obvious from the markup that the particular row is a header row rather than using some directive cleverness throug

[2015-12-30 22:22] jjczopek commented on #35
I've drafted initial spec for the spinner component:

[code]

**Open topics:**
**Normal/Large spinner**
Fabric defines two types of spinners - normal (`ms-Spinner`) and large (`ms-Spinner ms-Spinner--large`). I'm wondering what would be the best approach to differentiate:
- create separate element directives `uif-spinner` and `uif-spinner-large` (example 1. & 3.) - hopefully it could reuse the sam

[2015-12-31 07:27] waldekmastykarz commented on #35
**RE: Size**: Given that the only thing different between the large and the small spinner is its size, I'd vote for an attribute such as `uif-spinnersize` that would default to **small** and optionally could be set to **large**, eg.

[code]

**RE: Message**: A message could theoretically contain HTML so with that it would be better to define it in content rather than using an attribute (options 2,

[2015-12-31 08:04] waldekmastykarz commented on #36
**RE: Shorter table notation**:
I've had a look at a couple of bootstrap and ngMaterial components but haven't found a single case of using the same directives for different purpose in different components. In all cases it's either a unique name or a name prefixed with the component (ie. `md-grid-title`): I assume this is to avoid name conflicts in the future.

Another thing I've noticed is that r

[2015-12-31 10:51] andrewconnell commented on #36
You def don't have to create attribute directives for each thing... like you see, it's simply an easy way to pass values to & from the element directive & the way to go. If it's a custom attribute we are defining, prefix it with **uif-** but don't create a directive for it.

[2015-12-31 11:10] waldekmastykarz commented on #36
Based on the latest findings, how about we proceed with the following:

[code]

[2015-12-31 11:38] andrewconnell commented on #36
works for me

[2015-12-31 13:17] waldekmastykarz commented on #42
Trying to run `$ gulp test` using the new ROE I'm getting the following PhantomJS error:

[code]

Transpiled core.js:

[code]

Is there anything else that should be included in the sample?

[2016-01-01 07:40] ghost commented on #12
Yes, I will fix this. Please assign this issue to me @andrewconnell

[2016-01-01 07:42] ghost commented on #38
Will work on it next week :)

[2016-01-01 07:42] ghost commented on #21
I already implemented this, but it was too restrictive we've found. So I'm refactoring it but that takes quite some time.
Work in progress.

[2016-01-01 07:47] ghost commented on #43
Also agreed with @s-KaiNet and @jjczopek . I created separate modules to follow Angular Material.
I made up this name fabric.ui.components, but there may be a better name of course :). @andrewconnell  new naming suggestions are fine with me.

[2016-01-01 13:03] andrewconnell commented on #43
Good to see everyone is in agreement... cool... thanks folks!

@rolandoldengarm - I am updating the module naming scheme to be more inline with what the Angular Material guys have done for their library.

[2016-01-01 13:03] #43 closed

[2016-01-01 13:14] andrewconnell commented on #42
@waldekmastykarz I'm going to get this working first before troubleshooting other stuff... big update and need to get it done ASAP to unblock folks.Thanks for being patient here...

[2016-01-01 13:38] andrewconnell opened #44 "Fix CONTRIB-WORKFLOW doc - submit PR against dev, not master"
https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/master/docs/guides/CONTRIB-WORKFLOW.md

[2016-01-01 13:43] waldekmastykarz commented on #42
@andrewconnell sure, let me know if I can help with anything

[2016-01-01 20:53] jjczopek commented on #35
Following @waldekmastykarz input, have a look at second draft of spinner specification:

**Normal spinner without message**

[code]

**Normal spinner with message**

[code]

**Large spinner without message**

[code]

**Large spinner with message**

[code]

**Additional points**
- spinner logic (animation) that is handled by sample JS file in Fabric, will be adapted and incorporated into the direct

[2016-01-02 08:39] waldekmastykarz commented on #35
Looks good to me.

[2016-01-02 10:43] andrewconnell commented on #35
:+1:

WRT the animation point, we do want to avoid any requirement to add another JS library just to make our stuff work. Ideally there are only two dependencies that ngOfficeUiFabric should take:
- CSS from Office UI Fabric
- JS from Angular

[2016-01-03 12:35] andrewconnell commented on #42
The problem you were running into is that `require()` is not known by browsers as it's a ES6 thing (modules). What you need is something to wrap it up... that's one of the things webpack is doing for you. So you needed to inject webpack between karma & your tests...

I just pushed working webpack including testing to branch **issue42-webpack** in [my fork](https://github.com/andrewconnell/ng-offic

[2016-01-03 14:16] waldekmastykarz commented on #42
I've just tried including your changes in my fork but still can't get it to work. The error that I'm getting now is:

[code]

Any ideas what I might be missing? I've pushed my changes to my [fork](https://github.com/waldekmastykarz/ng-officeuifabric/tree/issue-36).

[2016-01-03 17:00] s-KaiNet commented on #42
@waldekmastykarz , `npm install karma-sourcemap-loader --save-dev`
@andrewconnell this dependency is missing under `package.json`

[2016-01-03 19:38] andrewconnell commented on #42
Good catch… not sure why that didn’t get committed.

[2016-01-03 20:11] waldekmastykarz commented on #42
w00t! Got me some failing tests. That I can fix. Thanks guys!

[2016-01-03 20:57] andrewconnell commented on #42
Just pushed lot of doc updates to my fork, same branch. Includes a directive checklist we'll follow.

I'm waiting to submit this PR until I have a working directive that matches it (<uif-icon />).

[2016-01-04 08:09] waldekmastykarz commented on #42
:+1:

[2016-01-04 16:25] waldekmastykarz commented on #42
I've fixed the tests in my fork. It turns out I forgot to pass the scope to the compile function. All tests passing now. https://github.com/waldekmastykarz/ng-officeuifabric/blob/c058cdbc78479a853b454d001ed5f685944da808/src/components/table/tableDirective.spec.ts

[2016-01-04 17:26] #40 closed

[2016-01-04 17:26] #42 closed

[2016-01-04 17:26] #44 closed

[2016-01-04 17:37] CodeMoggy commented on #21
Hi Rolando...do you have a spec on what you are planning to implement? Thanks

[2016-01-04 17:54] waldekmastykarz commented on #40
Shouldn't the directive have set

[code]

at https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/a4247e56f3bbab011877d48adaf7d8d664d0ac9a/src/components/icon/iconDirective.ts#L29? Currently if you look at the rendered DOM in the browser the `<i>` element is wrapped with the `<uif-icon>` element from the directive. Shouldn't the output be simply the template HTML without it being wrapped in

[2016-01-04 18:23] s-KaiNet commented on #40
That's interesting, because in official docs `replace` is [deprecated](https://docs.angularjs.org/api/ng/service/$compile#-replace-deprecated-will-be-removed-in-next-major-release-i-e-v2-0-) since angular 1.3. But there are still many [debates](http://stackoverflow.com/questions/24194972/why-is-replace-deprecated-in-angularjs) why it's deprecated and some folks from angular team reported that this

[2016-01-04 18:27] waldekmastykarz commented on #40
Another thing that's curious is that ngMaterial directives use replace: true too, eg. https://github.com/angular/material/blob/8ef798f0fe242c555ef7c11fa0abe762fb218a02/src/components/button/button.js#L68

[2016-01-04 19:11] andrewconnell commented on #40
I saw the same debate going back and forth... for now I left it as is because it's working just fine... but open to changing it later.

[2016-01-04 19:25] ghost commented on #21
@CodeMoggy I'm going to implement it similar to Angular material. So, a <uif-select> "main" element and <uif-option> child elements. Full spec to follow.

[2016-01-04 19:26] waldekmastykarz commented on #40
:+1:

[2016-01-04 20:34] andrewconnell opened #47 "Fixup documentation issues"
Handful of 404's and typos in docs:

- [x] README.md
  - Usage ALINK broken
  - add a link to minimal path to awesome
- [x] CONTRIBUTING.md
  - PULL REQUESTS
  - CODING
  - DIRECTIVE CHECKLIST
- [x] CODING.md
  - update nodetree to show a demo folder
  - tslint.json
- [x] DIRECTIVE CHECKLIST
  - Angular Material
  - organize tests
- [x] PULL REQUESTS
  - CONTRIBUTING
  - include complete demo - ch

[2016-01-04 21:24] andrewconnell opened #48 "Update dependencies, cleanup console outputs"
- [x] Update module dependencies to be current
- [ ] ~~Remove debug message from webpack executions unless `--verbose` is specified~~ not possible
- [x] Update karma so only warnings & errors are listed unless `--verbose` is specified

[2016-01-04 21:26] andrewconnell opened #49 "Create gulp task to facilitate TDD"
Currently developers must manually run builds of the library, manually vet code & manually run tests. Create a gulp task(s) that will watch for code changes and automate the above stuff.

[2016-01-05 11:24] #47 closed

[2016-01-05 11:24] #48 closed

[2016-01-05 15:48] andrewconnell opened #52 "Resolve code coverage report"
Currently no coverage on `core.ts` & `components.ts` which is hurting coverage...

Might not be necessary as all they do is define & import modules... so need to add istanbul ignore comments. However I think current transpilation process from TypeScript => JavaScript strips all comments and thus, we'd lose all code coverage reporting so this would need to get resolved.

[2016-01-05 15:49] andrewconnell opened #53 "Centralize all configuration files"
Currently located in different spots for webpack, karma & build process. Need to centralize these in a single spot.

[2016-01-05 22:59] andrewconnell commented on #52
Updated: issue is the majority of the issues we have in coverage is in the generated JS by webpack that is used to polyfil module loading. This is code we don't write and thus we don't test.

There's a [webpack loader](https://npmjs.com/package/istanbul-instrumenter-loader) that can run after all the other loaders (like [the one that transpiles TypeScript => JavaScript](https://github.com/ngOffice

[2016-01-06 11:12] #52 closed

[2016-01-06 11:13] #37 closed

[2016-01-06 11:13] andrewconnell commented on #12
Addressed in pr #55

[2016-01-06 11:13] #12 closed

[2016-01-06 14:21] andrewconnell opened #57 "Setup automated builds for documentation"
Model process after what the Angular Material guys have done. See https://github.com/angular/material/tree/master/docs

[2016-01-06 14:22] andrewconnell commented on #10
Tightly coupled with #57

[2016-01-06 20:52] #35 closed

[2016-01-06 20:53] #53 closed

[2016-01-07 18:22] jjczopek commented on #15
I would like to take this one as my next component ;)

[2016-01-08 11:56] andrewconnell commented on #14
Made a few tweaks to the spec:
- removed **uif-** prefix from the `disabled` attribute... there's already a valid HTML element for disabling controls so why not reuse it as it's less to learn for consumers as it will do the same thing
- added support for telling the directive to render the button using `<button>` or `<a>`

[2016-01-08 15:43] waldekmastykarz commented on #24
Shall I take this one? List doesn't do much on its own other than setting layout either as a list or grid. I know Office UI Fabric shows ListItem as a separate component but shouldn't we combine #24 with #25?

[2016-01-08 19:55] andrewconnell commented on #24
Shouldn’t the table get finished off with the functionality we want to add? I thought that was the whole discussion was that we could have multiple releases of the table, but we’d get to the point where we had sortable columns & selectable rows?

[2016-01-09 07:12] waldekmastykarz commented on #24
I thought we wanted to get p1 across the suite done first and then start extending the specific components with new capabilities. That way devs could use more components (even if with less functionality) rather than having only a few fully baked ones. It would also make it easier for other folks to jump in and help with specific features rather than having to build a complete directive.
Either way

[2016-01-09 07:20] waldekmastykarz opened #61 "Add support for selecting rows in table"
Extend table with support for sorting using the following specs:
- [x] table supports three row selection modes: *none*, *single* and *multiple*
- [x] table selection mode is set using the `uif-row-select-mode` attribute on the `uif-table` directive
- [x] clicking on the header row doesn't do anything
- [x] selected items can be retrieved using the `table.selectedItems` property
- [x] for `uif-row

[2016-01-09 07:25] waldekmastykarz opened #62 "Add support for sorting table using column headers"
Add support for sorting table using column headers based on the following specs:
- [x] sorting is supported only for columns where the header cell has the `uif-sortable` attribute set to `true`
- [x] default sorting order is ascending. Clicking the header cell again toggles sorting order. Sorting order is tracked in a property on the header cell
- [x] sorting direction is indicated using an arrow

[2016-01-09 10:26] andrewconnell commented on #24
Personally I think we want to knock one out before we move on to the next one. When we were talking about P1, P2 etc, in my mine I was thinking only about the table component.

[2016-01-09 10:33] andrewconnell commented on #61
The way I read this is that the _user_ dictates single / multiselect... it should be controlled by the _developer_, not the _user_.

I think there should be something about enabling / disabling multirow selection within the opening `<uif-table />` directive. This way when you select a row by clicking anywhere on it it will either add to the selection or toggle existing selected rows based on the s

[2016-01-09 10:34] andrewconnell commented on #62
:+1:

[2016-01-09 11:15] jjczopek opened #63 "Fix spinner display"
Spinner is not aligned properly within the containing div - circles are placed outside the container box.

Additionally defining large spinner does not take effect - it's always rendered as small one.

[2016-01-09 13:54] waldekmastykarz commented on #24
:+1:

[2016-01-09 13:57] waldekmastykarz commented on #61
Don't you think this might be confusing and could lead to two tables being implemented differently in different applications offering users different user experiences? Is there perhaps an office application that uses tables that we could take a look at to see how it's working?

[2016-01-09 20:10] jjczopek commented on #63
**Circles misplacement**
After comparing outputs from the Fabric spinner and ours, spinner circles are misplaced by 2 pixels. It was because the circle is appended to spinner container before calculating it's position. In Fabric code position is calculated, applied to circle and then circle is appended to container.

**Spinner size always small**
Initialization logic of the circles is triggered in

[2016-01-09 20:50] jjczopek commented on #61
I think the following when it comes into row selecting:
- developer should define whether users can select rows or not - on table level (like @andrewconnell suggested).
- if selecting is enabled, developer defines if it's single- or multi-select.
  - if single-select is enabled, when user clicks row, this row gets selected and other row is deselected
  - if multi-select is enabled, when user click

[2016-01-09 22:47] andrewconnell commented on #61
@waldekmastykarz I don't think it would be confusing... sure the two tables might behave differently on selection, but how is that any different from a single / multi select dropdown control? It isn't. It's worse if I as the developer have to keep unselecting something because the user selected a row already and I only allow for them to select one.

[2016-01-10 07:41] waldekmastykarz commented on #61
Support for both single- and multiselect scenarios would be useful indeed. What if we would do it this way:
- if you want support for multiselect, you include the `uif-table-row-select` directive in both the header and regular rows. Clicking on the rendered control in the header toggles selection of all rows and clicking it in a regular row toggles selection of that particular row
- if you want su

[2016-01-10 11:32] jjczopek commented on #15
Due to it's characteristics, callout component should have four element directives:
- main component directive: `<uif-callout></uif-callout>`
- callout header directive: `<uif-callout-header></uif-callout-header>`
- callout content directive: `<uif-callout-content></uif-callout-content>`
- callout actions directive: `<uif-callout-actions></uif-callout-actions>`

**Main directive `<uif-callout></ui

[2016-01-10 12:42] andrewconnell commented on #61
... and if you don't want any selection, you don't use the `uif-table-row-select` at all, correct?

[2016-01-10 12:49] andrewconnell commented on #15
:+1: I like this

[2016-01-10 15:17] waldekmastykarz commented on #61
In my suggestion I assumed that `uif-table-row-select` would be used for selecting rows in multiselect scenarios. In single select scenarios rows would be selected by clicking on the row. If we wanted to support disabling selecting rows altogether we would need additional property (eg. `uif-disable-row-selection` on the `uif-table` directive). Additionally we would need to override the standard Of

[2016-01-10 15:24] waldekmastykarz commented on #15
:+1: looks good

[2016-01-10 16:18] andrewconnell commented on #61
IMHO I think no selection (and just use the table for displaying data) should be the default. Then have options for selecting. Maybe a `uif-table-row-selectMode` = `"none (default) | single | multiple"` on the `uif-table` directive

[2016-01-10 17:24] waldekmastykarz commented on #61
For `selectMode = single` are we okay with the `uif-table-row-select` directive in the header row not to do anything (whereas for `selectMode = multiple` it toggles selection of all table rows)?
For `selectMode = none`: since we're not shipping any CSS, are we okay with inline overriding of the cursor to _pointer_ to avoid confusion (by default row:hover changes the cursor to _hand_ which suggests

[2016-01-10 17:26] waldekmastykarz commented on #62
I've included a slight change in the specs: instead of using the `uif-sortable="true"` attribute, we use `uif-order-by="property"` where the property is the name of the property used to sort data.

[2016-01-10 18:54] jjczopek commented on #61
I agree with both points.

[2016-01-10 19:31] rolandoldengarm commented on #38
Submitted PR. https://github.com/ngOfficeUIFabric/ng-officeuifabric/pull/65

[2016-01-10 19:39] rolandoldengarm opened #66 "Code coverage textfield"
inputBlur and inputFocus are not covered by unit tests.

[2016-01-11 07:09] ghost commented on #21
Okay, the full spec:

[code]

That's about it I think, agreed? What do you think @CodeMoggy @andrewconnell

[2016-01-11 11:38] andrewconnell commented on #61
LGTM... BTW I'm not against shipping CSS in our library if its warranted for anything. The only concern I have with an inline style is if someone would want to change the cursor. If they did, there's really no way to do that with an inline style.

[2016-01-11 11:44] andrewconnell commented on #21
:+1: LGTM

[2016-01-11 14:29] #63 closed

[2016-01-11 14:46] #38 closed

[2016-01-11 14:46] #66 closed

[2016-01-11 17:13] waldekmastykarz commented on #61
@andrewconnell good point. How about we go with inline styles initially and see if anyone raises it as a blocking issue for their scenario? If they do we could always change it to use external styles.

[2016-01-11 19:18] andrewconnell commented on #61
works for me

[2016-01-11 19:22] waldekmastykarz commented on #61
:+1:

[2016-01-11 19:23] jjczopek opened #70 "Missing demo scripts for toggle"
For toggle component, index.js files are missing for both demos.

[2016-01-11 19:34] waldekmastykarz commented on #61
Based on the previous discussions I've updated the specs in the first comment

[2016-01-11 21:50] jjczopek commented on #15
Updated progress on the callout.

[2016-01-11 22:17] #62 closed

[2016-01-11 22:58] andrewconnell opened #73 "Enforce each custom attribute have a uif- prefix?"
Seeking input... we had casually set a rule that any directive that created a custom attribute would have that attribute prefixed with our namespace `uif-`. However I'm seeing a lot of inconsistency in the implementations.

For instance, on the icon you set the type of icon you want to use. That's done with:

[code]

But I see other components that aren't doing that like the textfield where you ca

[2016-01-11 23:03] andrewconnell opened #74 "Pull local copies of supported versions of Angular & Office UI Fabric?"
Right now our demos are pulling CDN references for Angular & Office UI Fabric. While it works, it can also be problematic. For instance, the Office UI Fabric guys shipped 1.2 late last week, but it won't be in the CDN for another 1-2 weeks. As such @jjczopek had to self-host it and reference that link.

I propose we add two NPM dependencies on Angular 1.4.8 & Office UI Fabric 1.2.0 (both of which

[2016-01-11 23:05] andrewconnell commented on #73
Seeking input from @ngOfficeUIFabric/ngofficeuifabric-members

[2016-01-11 23:05] andrewconnell commented on #74
Seeking input from @ngOfficeUIFabric/ngofficeuifabric-members

[2016-01-12 03:53] jigargandhi commented on #73
Angular material prefers to have md-\* prefix to custom attributes.
For example the [icon](https://material.angularjs.org/latest/api/directive/mdIcon) directive attribute has `md-svg-icon` attribute that specifies the icon

Another example is [autocomplete](https://material.angularjs.org/latest/api/directive/mdAutocomplete), it has the following html specified

[code]

You can see several instance

[2016-01-12 04:08] ghost commented on #73
I'd say for custom attributes, use a prefix. Icon type = custom => prefix.
Text value = default => no prefix

E.g. label-off and label-on in the toggle are custom, and should get a prefix too.

[2016-01-12 04:11] jigargandhi commented on #73
Might be confusing for users as some attributes are with prefix and some are without

[2016-01-12 10:37] andrewconnell commented on #73
@rolandoldengarm so that's how I have been thinking about it, but I'm starting to wonder. I looked at what Material was doing.

@jigargandhi Good find... I was looking at others like [card](https://material.angularjs.org/latest/demo/card) and noticed some flex & layout attributes that were not familiar to me nor in any list of valid HTML attributes. I noticed Material does use the **md-** prefix a

[2016-01-12 10:52] #70 closed

[2016-01-12 11:24] andrewconnell commented on #74
NM... exec decision to do this. I've got a seperate `release-0.1.0` branch going with some minor updates to the repo, including this, that will be pushed out when I cut the release on JAN-13. Went ahead and updated all demos

[2016-01-12 11:24] #74 closed

[2016-01-12 12:08] waldekmastykarz opened #76 "Add jsdoc for the ITableScope interface"
The ITableScope interface is missing jsdoc. Let me add it.

[2016-01-12 17:32] waldekmastykarz commented on #73
I would opt for prefixing custom attributes. In cases when things don't work as expected makes it easier to figure out what is being handled by the directive and what isn't.

[2016-01-12 17:33] jjczopek commented on #73
I think we should prefix our custom attributes. Attributes that are well-known HTML attributes or which are standard Angular directives, should not be prefixed, but their purpose in specific component should be consistent with initial purpose of the attribute, e.g `disabled` should always mean that input element is disabled.

[2016-01-12 17:52] jjczopek commented on #15
@ngOfficeUIFabric/ngofficeuifabric-members, I need your input.

Callout can have something you could call a separator, just above actions element:
![image 2](https://cloud.githubusercontent.com/assets/865473/12271691/af4acbba-b95c-11e5-86d7-6241bdb317f6.png)

Basically that's just a CSS class that gets added to the main div element of the callout, nothing more. And the CSS class is called `ms-Call

[2016-01-12 18:06] andrewconnell commented on #73
Thanks for the input everyone... I think there's a consensus then.

So there are a few controls that need to get updated (I can do these before we cut the release):
- [x] **textfied**: `underline` => `uif-underline`
- [x] **textfield**: `label` => uif-label`
- [x] **textfield**: `description` => uif-description`
- [x] **toggle**: `label-off` => `uif-label-off`
- [x] **toggle**: `label-on` => `uif-

[2016-01-12 18:15] andrewconnell commented on #15
While I agree that we want to not deviate from Fabric's implementation / naming of things, I think in this case what you suggest makes a heck of a lot more sense. I'd name it `uif-callout-separator`.

Random - what do you think about implementing both? Would it be trivial or a lot of work to support either  custom attribute & document it for users? Say "we used this because that's what it is, but

[2016-01-12 18:23] jjczopek commented on #15
There is not a lot of logic behind it, so I think supporting both makes a lot of sense.

[2016-01-12 18:24] waldekmastykarz commented on #15
If you look at the example at http://dev.office.com/fabric/components/callout it seems like the element wraps actions which explains why it's called _actions_ rather than only _separator_.
![screen shot 2016-01-12 at 19 23 19](https://cloud.githubusercontent.com/assets/11164679/12272692/ff497364-b961-11e5-995c-33d33d26650f.png)

[2016-01-12 18:32] jjczopek commented on #15
@waldekmastykarz all other examples have _actions_ as well, but they don't have separator (due to lack of `ms-Callout--actionText` on the main callout div), and there is going to be directive for rendering this  actions div with `ms-Callout-actions` class.

[2016-01-12 18:41] waldekmastykarz commented on #15
Check, I misunderstood it. So what if we could have the directive responsible for rendering the actions div add the `ms-Callout--actionText` class to `div.ms-Callout`? On the actions directive we could include an attribute such as `uif-separator` that would add the css class responsible for the separator.

[2016-01-12 18:46] jjczopek commented on #15
That also makes a lot of sense, and would not pollute the main directive so much with unnecessary logic. I'll wait a bit for other opinions, but I like that one.

[2016-01-12 18:48] waldekmastykarz commented on #15
:+1:

[2016-01-12 19:02] andrewconnell commented on #9
Tabling for now... will automate once I have the manual process down...

[2016-01-12 21:29] andrewconnell commented on #61
WOW... that's a lot of checkboxes... you sure your next control isn't going to be #16 ? :smirk:

[2016-01-12 23:15] ghost commented on #73
:+1:

[2016-01-13 05:46] waldekmastykarz commented on #61
;)

[2016-01-13 10:13] #76 closed

[2016-01-13 10:25] #18 closed

[2016-01-13 10:43] #21 closed

[2016-01-13 10:46] #73 closed

[2016-01-13 11:00] SteenMolberg commented on #27
@andrewconnell : Hi AC, I would like to take a shot at this one

[2016-01-13 11:26] #39 closed

[2016-01-13 11:32] andrewconnell commented on #27
:+1: you got it!

[2016-01-13 19:11] waldekmastykarz commented on #61
Looking at the number of these checkboxes, who would've thought implementing row selection in a table would be so complex ;-)

[2016-01-13 19:39] andrewconnell opened #82 "Remove Angular as a `devDependency` in `package.json`"
It's already a dependency so no need to dupe. Not a blocker... just creates a message on `npm install`

[2016-01-13 19:40] andrewconnell opened #83 "Update `package.json` to use `-ros` on the script `dev-install`"
Current setup isn't grabbing the latest...

[2016-01-14 03:16] jigargandhi commented on #20
Thought could work on this one.. require help with specs before I get started

[2016-01-14 07:28] ghost commented on #19
The Office UI Fabric component uses pickadate.js which requires jQuery. Our rule is that we don't have jQuery dependencies.
If I would write this from scratch, this would be quite time consuming. Does anyone have tips, e.g. another datepicker I can use as a reference? All tips welcome.

[2016-01-14 08:05] rolandoldengarm opened #86 "Broken link on homepage"
[Homepage](https://github.com/ngOfficeUIFabric/ng-officeuifabric) has a link to [package-ngofficeuifabric](https://github.com/andrewconnell/package-ngofficeuifabric/blob/release-v0.1.0/README.md). This results in a 404 error...

[2016-01-14 08:23] ghost commented on #16
@andrewconnell The todo items here were for the textfield component :)
Specs:

[code]

[2016-01-14 10:40] andrewconnell opened #87 "Update release to include CDNJS"
100 stars baby... now library can exist in CDNJS!

[2016-01-14 10:49] andrewconnell commented on #19
This one bums me out... to the best of my understanding, this is the only one that has a tight coupling on jQuery. I agree... it's too much at this stage to rewrite. I'm personally OK with making this exception saying we can tell the user to have a dependency on jQuery... maybe one day someone can rewrite the whole thing to strip jQuery... but not today. Maybe with inspiration from https://materia

[2016-01-14 10:51] andrewconnell commented on #20
All you @jigargandhi! Take a look at how we did the specs for table #36 & button #14 as examples for the specs... but let's have the convo here and if you want to draw attention to get folks to chime in, post something to slack to get them to come here and comment

[2016-01-14 10:54] andrewconnell commented on #16
Arg... good point... nixed those.

What about just a stand alone one... would it simply be (no group wrapping)?

[code]

[2016-01-14 11:29] andrewconnell opened #88 "Standardizing error messages from directives in the console"
I'm adding some logic to the 'uif-icon' directive to check if the developer requested an invalid icon that isn't supported within the fabric fonts. If they didn't I'm logging an error to the console... Which brings up: how should we standardize this?

Long term I like how angular does it where they link to their site, but that's long term. I think now we just do something like:

'''
Error [ngOffic

[2016-01-14 11:35] s-KaiNet commented on #88
For me all good

[2016-01-14 11:39] andrewconnell commented on #88
Here's how it renders:

![image](https://cloud.githubusercontent.com/assets/2068657/12323475/81601204-ba89-11e5-88ed-5714f33cf18e.png)

[2016-01-14 12:43] johnmeilleur commented on #28
I will take this one on.

[2016-01-14 14:12] #82 closed

[2016-01-14 14:12] #83 closed

[2016-01-14 14:12] #86 closed

[2016-01-14 14:22] johnmeilleur commented on #28
**SPEC**

This one should be simple and I guess it is intended to be incorporated with other components (e.g. dialog)

main component directive: `<uif-overlay></uif-overlay>`
optional boolean attribute uif-overlay-dark.  Defaults to false and when true adds the --dark class to the overlay.

examples:
`<uif-overlay> Hello World </uif-overlay>`
`<uif-overlay uif-overlay-dark="true"> Hello World </ui

[2016-01-14 15:49] tdwhite0 commented on #23
Give this to me: tdwhite0

[2016-01-14 17:07] jjczopek commented on #19
**TL;DR;**
Option 4 from @andrewconnell sounds more reasonable;

**Long story**
Regarding first option, we definitely don't want just to include jQuery in our library, because we will likely create conflicts with other jQuery versions that are on the page (which can happen). On the other hand we could ship it with jQuery, but hide _our_ jQuery in other namespace, e.g. uifjq.

As for other options,

[2016-01-14 17:14] jjczopek commented on #88
Looks nice. Should we consider this kind of validation for every _typed/enumerated_ option, e.g. in spinner component I can have following logic:
- if `uif-spinner-size="large"` - spinner is considered large
- if `uif-spinner-size="small"` or `uif-spinner-size` without value or anything different than small or large, then I render small spinner.

Should I then consider only `"small"` and `"large"`

[2016-01-14 18:42] jjczopek commented on #15
Quick question to everyone:

When callout coponent can be closed, a button element with nested icon element is rendered - have a look [here](https://github.com/OfficeDev/Office-UI-Fabric/blob/master/src/components/Callout/Callout.Close.html)

Question: should I append this button as plain element - basically appending `<button>` tag with an `<i>` tag, or it would better to leverage `uif-icon` and

[2016-01-14 19:20] ghost commented on #15
My 2 cents: no dependencies. At this stage, yes, the HTML for the icon inside the callout component is the same as the separate icon. But this may change in the future. E.g. it may require an additional attribute/element/... which only makes sense in the callout.
I think Angular Material does have dependencies though, but at this stage I don't see the benefit for us.

[2016-01-14 19:22] ghost commented on #16
Yes, it is possible to use it stand-alone. There is a ?^dependency on uif-choicefield-group.

[2016-01-14 19:22] ghost commented on #19
Yes, I agree with option 4 too!

[2016-01-14 19:24] ghost commented on #88
Looks good to me too. We will probably need more validation.

[2016-01-14 20:19] andrewconnell commented on #15
My $0.02: I don't think it's bad to depend on other directives in the library that are already there. In fact, I think it's preferred. If things need to be split out later, then that's something that could be addressed.

[2016-01-14 20:23] s-KaiNet commented on #19
Option 4 may be a tricky under some circumstances. For example what if jquery is loaded dynamically, or by `require`-ing, in that case on a moment of checking, window.jQuery may be null....we will include our version and after that page's version will be loaded.
I'm not sure how to deal with that. May be take a look at option 5 - add dependency on angular's pickadate implementation - [angular-pick

[2016-01-14 20:52] andrewconnell commented on #19
oooo... option 5 warrants more investigation...

[2016-01-14 20:57] andrewconnell commented on #28
IMHO I think this would make more sense:

`<uif-overlay uif-mode="[light | dark]">Hello World</uif-overlay>`

No need to include the name **overlay** in the attribute name as it's not going to be a directive. Also, one of the modes would be the default if omitted.

[2016-01-14 21:00] andrewconnell commented on #88
@jjczopek Personally I think so... anything that has deterministic options, if one out-of-bounds thing is thrown, it should throw an error in the log.

[2016-01-14 21:18] jjczopek commented on #15
@andrewconnell ok, so I'm waiting for the `uif-button` directive from you then ;)

[2016-01-14 21:23] ghost commented on #17
Hi Andrew, would love to get involved & help out with this having done a commandbar directive for my own benefit quite recently. Let me know if you're interested!

[2016-01-14 21:26] andrewconnell commented on #17
hell yeah we're interested!!!! invite sent....

[2016-01-15 03:54] jigargandhi commented on #20
Spec:
 **Dialog**

[code]

**Update** Modified as per [comment](https://github.com/ngOfficeUIFabric/ng-officeuifabric/issues/20#issuecomment-171882589) from @waldekmastykarz

**Update 2** included overlay in the spec

**Update 3** added uif-close as a separate attribute

[2016-01-15 06:20] waldekmastykarz commented on #88
:+1:

[2016-01-15 06:30] waldekmastykarz commented on #20
Since the dialog types are exclusive what if we would do: `uif-type="close|header|multiline"`. Since the `uif-type` is not a directive, we don't need to include the `dialog` part in it which will keep it shorter.

One thing that I think it's missing in the spec is the overlay which is include in dialog's HTML.

Another thing that I'm wondering about is the `subtext` part. In the current spec how w

[2016-01-15 10:18] andrewconnell commented on #20
Agree with @waldekmastykarz 100% on all three points.

RE `uif-type`... the way the spec is originally written mirrors the CSS classes in fabric... we want to get away from that.

[2016-01-15 10:38] jigargandhi commented on #20
I have updated the specs with `title` and `subtext`
I do not get the purpose of the `overlay` empty div in the sample site. As removing it does not change the UI
If anyone has any better idea please comment.

[2016-01-15 10:58] waldekmastykarz commented on #20
Isn't it supposed to grey out the page while showing the dialog?

[2016-01-15 11:05] jigargandhi commented on #20
try this:
- Go to dialog sample page http://dev.office.com/fabric/components/dialog
- Open chrome developer tools
- inspect the dialog element
- delete the node `<div class='ms-Overlay'></div>`
- See that nothing happens

[2016-01-15 11:07] andrewconnell commented on #88
closing the loop... used angular's `$log` instead of `console.log` ... the main demo shows it now & you can see it here in dev for now until next drop: https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/dev/src/components/icon/iconDirective.ts#L69-L74

[2016-01-15 11:07] #88 closed

[2016-01-15 13:54] SteenMolberg commented on #27
Would like comments please:)

[code]

Have I missed something? I that what you @andrewconnell had in mind?

[2016-01-15 14:06] waldekmastykarz commented on #20
Overlay is defined as a separate component, take a look at http://dev.office.com/fabric/components/overlay. If you look closely at the samples you see that it uses separate CSS which perhaps aren't properly included in the dialog sample. I would suspect that the way it's supposed to be working is shown in the Overlay sample and we should try to get the same result in the dialog component.

[2016-01-15 14:21] waldekmastykarz commented on #27
Shouldn't the `uif-presense` attribute be called `uif-presence` instead?

Office UI Fabric refers to Org Chart as OrgChart rather than Orgchart. For consistency should we use `uif-org-chart` as the directive name?

A minor detail: shouldn't properties names begin with a lowercase letter (in case this sample ends up in the documentation :))?

[2016-01-15 14:26] andrewconnell commented on #27
:+1:  to all @waldekmastykarz's comments.

Also, any attributes that have multiple words (`uif-scondarytext`) should be broken out (ie: `uif-secondary-text`).

[2016-01-15 14:30] SteenMolberg commented on #27
OK to all above. Thx

[2016-01-15 14:30] waldekmastykarz commented on #27
One more: why is _selectedpersona_ bound as an expression while items are bound by name? Wouldn't it better if both properties worked the same? Wouldn't _selected_ be a property of objects in the _employees_ collection and could it be therefore bound the same way as other properties such as _primaryText_?

[2016-01-15 14:37] SteenMolberg commented on #27
You are right @waldekmastykarz ... actually that was my intention. I would like to be able to provide a simple name or bind to a property.

Yes selected would be an object in the employees. It was not clear from my spec. By selecting a person the object would be assigned to a property. Is there a better way?

[2016-01-15 14:41] waldekmastykarz commented on #27
Each persona could have a selected property:

[code]

Then in the directive we could simply point to that property to render selected personas. Whether a persona is selected or not would be tracked in the persona object rather than on orgchart.

Speaking of which: how about we support support for three selection modes: none, single and multiple similarly as we will do in the table directive #61?

[2016-01-15 14:47] SteenMolberg commented on #27
@waldekmastykarz agree to all... we save a property that way.  I take a look a table directive to keep consistent with the selection mode

[2016-01-15 14:47] andrewconnell opened #93 "Update guidelines & add issues for new directive guideline"
New guideline for directives: if a public property / attribute on a directive takes a finite set of options, even if it is optional / default, the directive must:

- include an enum with the options
- validate the value of the attribute passed in is valid & if not, log an error in the console using `$log.error()`

This was [recently implemented](https://github.com/ngOfficeUIFabric/ng-officeuifabri

[2016-01-15 14:49] waldekmastykarz commented on #27
:+1:

[2016-01-15 14:53] andrewconnell commented on #49
Putting this back in the pool. It's needed and I won't get to it for a few days due to other work. So, if someone wants to tackle it between now & then, go for it.

The idea here is that you can create a new gulp task... something like `gulp live-dev` that does the following:
- [ ] watch for changes to any `*.ts`, `*.js` or `*.html` file... if anything changes...
- [ ] run all tests & vetting: 'gu

[2016-01-15 15:18] s-KaiNet commented on #49
I can do that for a day or two. If that acceptable estimate I'm ready to go)

[2016-01-15 15:24] andrewconnell commented on #49
thx!

[2016-01-15 17:48] #23 closed

[2016-01-15 20:10] johnmeilleur commented on #28
I think that makes sense as well.  I've submitted a pull request to review.

[2016-01-15 20:14] andrewconnell commented on #28
Since you're looking at an enum, the next merge of PR's to `dev` will introduce two new directive guidelines which will affect this directive. Specifically check [guideline 007](https://github.com/andrewconnell/ng-officeuifabric/blob/doc-guidelineupdate/docs/guides/DIRECTIVE-CHECKLIST.md#directive-attribute-validation)... it's in PR #94... guideline 008 is also related.

To be clear, theses aren't

[2016-01-15 20:19] johnmeilleur commented on #34
**SPEC**

First thoughts...

main component directive: `<uif-progressindicator />`
optional string attribute `uif-name`: renders the name above the progress indicator
optional string attribute `uif-description`: renders the description below the progress indicator
optional string attribute `uif-percentcomplete`: a number between (inclusive) 0 and 100 that renders the progress bar

examples:
`<uif-

[2016-01-15 20:20] johnmeilleur commented on #28
Thanks.  I'll review and update accordingly.

[2016-01-15 20:24] estruyf opened #98 "Dropdown directive error: self.$element.find(...).width is not a function"
When you are using the dropdown directive an error is returned every time you click on the dropdown. The following error gets returned: self.$element.find(...).width is not a function (line 45).

The Angular documentation mentions to make use of angular.element(document).find(...) or $document.find().

[2016-01-15 20:24] andrewconnell commented on #34
I take it you want to grab this after `uif-overlay` is done?

Also, should be `uif-percent-complete`... this should also raise an error if it's outside the 0-100 range & if it's not a number that's passed in (your spec says _string_)

Otherwise looks good.

[2016-01-15 20:25] johnmeilleur commented on #34
Yes.  Just getting my feet wet. :)

[2016-01-15 20:42] ghost commented on #17
I've gone through the repo and made a start on this. I'm thinking of following a similar pattern to the dropdown directive in that there will be a directive for each commandBarItem and the commandBar itself. Should the overflow command be optional by parameter, or be baked in?

What (if anything), do you want me to do before getting too far into this?

[2016-01-15 20:45] andrewconnell commented on #17
Start with a spec here...

See how other directives have a spec on the usage in their issue list like #36 or #14 or #35 ... how you implement it is really up to you... it's more that the signature is consistent with the other directives in the library.

[2016-01-15 20:47] waldekmastykarz commented on #28
:+1: on the spec @andrewconnell suggested

[2016-01-15 20:49] waldekmastykarz commented on #34
Shouldn't it be `uif-progress-indicator` by the way?

[2016-01-15 20:51] andrewconnell commented on #34
IMHO makes more sense to use `uif-percent-complete` to indicate how full the bar is if we're using numbers.

[2016-01-15 20:53] waldekmastykarz commented on #34
Oh I meant naming the directive `uif-progress-indicator` rather than `uif-progressindicator` to consistently separate words. Progress should be indicated using the `uif-percent-complete` attribute on the directive as you mentioned.

[2016-01-15 20:59] andrewconnell commented on #34
oh yes... good call @waldekmastykarz

[2016-01-15 21:12] waldekmastykarz commented on #34
:+1:

[2016-01-16 09:49] #98 closed

[2016-01-16 09:56] andrewconnell opened #99 "Update - uif-contextual-menu attribute validation"
The v0.2.0 will introduce two new directive guidelines, [007 & 008](https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/dev/docs/guides/DIRECTIVE-CHECKLIST.md#directive-attribute-validation), that address error message format & validating directive attributes with deterministic values (boolean, enum, number). Please update the directive to add error checking and ideally where appropriate, a

[2016-01-16 09:59] andrewconnell opened #100 "Update - uif-spinner attribute validation"
The v0.2.0 will introduce two new directive guidelines, [007 & 008](https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/dev/docs/guides/DIRECTIVE-CHECKLIST.md#directive-attribute-validation), that address error message format & validating directive attributes with deterministic values (boolean, enum, number). Please update the directive to add error checking and ideally where appropriate, a

[2016-01-16 10:01] andrewconnell opened #101 "Update - uif-table attribute validation"
The v0.2.0 will introduce two new directive guidelines, [007 & 008](https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/dev/docs/guides/DIRECTIVE-CHECKLIST.md#directive-attribute-validation), that address error message format & validating directive attributes with deterministic values (boolean, enum, number). Please update the directive to add error checking and ideally where appropriate, a

[2016-01-16 10:03] andrewconnell opened #102 "Update uif-spinner attribute name"
The attribute `uif-spinnersize` should really be `uif-spinner-size`. Can this get renamed & the demo updated?

[2016-01-16 10:03] #93 closed

[2016-01-16 11:11] waldekmastykarz commented on #101
:+1:

[2016-01-16 11:12] waldekmastykarz commented on #102
Since the directive is called `uif-spinner` and size is not a directive but a regular attribute how about we called it `uif-size` to keep it short and consistent with other attributes?

[2016-01-16 16:45] andrewconnell commented on #102
Much better suggestion… make it so :)

[2016-01-16 18:22] johnmeilleur commented on #28
I've submitted the PR to follow the guideline for attribute validation and error messages.  I took a slightly different approach to injecting the logService.  Not sure if one method is better then another.

@andrewconnell can you change the label of this issue to work in progress?

[2016-01-16 20:13] johnmeilleur commented on #34
Submitted PR with incorporated feedback.

Would like to see if I can animate the progress bar when moving between states (e.g. 10% to 30%).

@andrewconnell please change label to work in progress

[2016-01-17 08:16] jigargandhi commented on #20
You were right @waldekmastykarz, I had to include the components file in the sample to see the overlay effect.

I have updated the spec with `uif-overlay` attribute which will default to `light`.

If @ngOfficeUIFabric/ngofficeuifabric-members agree and finalize the spec then I can start developing it.

[2016-01-17 18:20] s-KaiNet commented on #20
For me all good, but I would divide `close` as separate attribute `uif-close=true|false`. For example, what if I want multiline with close button?
Close button `<button class="ms-Dialog-button ms-Dialog-button--close">` presents in all types of dialogs and can be visible by including `ms-Dialog--close` class. However it's not visible for large header (explicitly hidden by fabric's css).

Taking th

[2016-01-17 21:25] ghost commented on #17
# Spec

[code]

Fabric allows for the inclusion of search bars, and for commandBar buttons to be positioned on the right. Search bar behavior is different in OneDrive, Video portal and http://dev.office.com/fabric/components/commandbar, for P1, will build a search bar which matches the behavior of http://dev.office.com/fabric/components/commandbar

## Parameters

### uif-items

defines the collect

[2016-01-17 21:54] rolandoldengarm opened #106 "Remove jQuery dependency from tests?"
jQuery is loaded with the unit tests, to make DOM manipulation easier. However, when a directive depends on jQuery (which they should not), this error is not detected by the unit test. This has already caused issues like [this one](https://github.com/ngOfficeUIFabric/ng-officeuifabric/issues/98).

I think we should remove jQuery from the test runners, except if there is a better solution.

[2016-01-18 02:03] s-KaiNet commented on #106
This can be problematic, because we are using `jasmine-jquery` (which, in turn relies on jquery, correct me if I'm wrong) for convenient things like `toBeInDOM`, `toHaveClass` etc.
Without this writing tests and assertions, in particular, becomes harder.

[2016-01-18 03:36] jigargandhi commented on #20
Good find @s-KaiNet , have update the specs to reflect the same.

@andrewconnell I think the current specs are good to go for development

[2016-01-18 06:06] waldekmastykarz commented on #17
What's the difference between `uif-items` and

[code]

I suggest we use `uif-icon` instead of `uif-commandicon`. Although we have the `uif-icon` directive, the `uif-icon` wouldn't collide because the directive can be used only as an element. Removing the _command_ part would be consistent in how attributes are used in other directives.

Also I'd suggest we call the _show more_ attribute `uif-show-

[2016-01-18 06:08] waldekmastykarz commented on #17
Re sidecommands: I'd vote for a separate element just as you included in your spec.

[2016-01-18 07:51] ghost commented on #17
uif-items should be removed from the parameters list, I removed it from the spec but didn't tidy up the parameters list.

Agree with other comments regarding naming conventions - will await further feedback before adjusting spec

[2016-01-18 08:46] rolandoldengarm opened #107 "Rename uif-option to uif-dropdown-option"
The uif-option, implemented as part of the dropdown directive, should be renamed to uif-dropdown-option. It can only be used inside the dropdown, and it's not consistent with the uif-choicefield-option as part of the uif-choicefield-group directive.

[2016-01-19 02:17] andrewconnell commented on #20
LGTM... you guys seem to cover lot of bases...

[2016-01-19 02:22] johnmeilleur commented on #34
Ready for review - PR #104

[2016-01-19 02:22] johnmeilleur commented on #28
Ready for review PR #103

[2016-01-19 10:43] andrewconnell commented on #106
I've got feelings on both sides of this... since a lot of our tests need to check for the existence of stuff in the DOM & presence of CSS classes, this comes in quite handy. What's the alternative? Maybe someone can research how Material does it?

[2016-01-19 10:49] andrewconnell opened #109 "Add TypeScript typings to source; remove dynamic pull from TravisCI build"
Currently TravisCI builds frequently fail on PR submissions. This is because TSD uses the GitHub API to pull down all type definition files. This is done in an anonymous way and there's a limit of 50-60 API calls in an hour by anon requests. The fix is to use a GitHub API token, but this is not included by TravisCI on PR builds because it's considered a secret thing.

Including the type definition

[2016-01-19 11:04] #28 closed

[2016-01-19 11:18] #34 closed

[2016-01-19 11:36] #16 closed

[2016-01-19 11:48] #109 closed

[2016-01-19 13:51] andrewconnell opened #110 "Remove console.log from uif-contextual-menu"
When clicking on a menu item, a message is written to the console that's not necessary. This should be removed.

[2016-01-19 14:09] s-KaiNet commented on #110
`console.log` is using only in demo - to demonstrate how you can attach `click` handler on menu, it's not used in contextual menu source. Should I really remove it? Or maybe replace in demo with `$log` service?

[2016-01-19 14:44] andrewconnell commented on #110
Oh my bad... I thought it was coming from the library... fine as is.

When doing a merge of a PR, I usually open the console to see if there are any errors... when I saw this, I just jumped to the conclusion. My bad.

[2016-01-19 14:44] #110 closed

[2016-01-19 14:45] andrewconnell commented on #106
Thinking more about this, I agree with @rolandoldengarm ... this should be removed. Otherwise we could have false positives when running our tests. Yes, this will make tests more complicated as @s-KaiNet mentions above.

Warrants further investigation how Angular Material handles this... maybe it means we need a test library to help us if someone hasn't already done this...

[2016-01-19 14:54] s-KaiNet commented on #106
What we need to do is just push `angular.js` inclusion in the page above `jasmine-jquery.js`. In that way angular will think that there is no jquery, but tests can be written with help of `jasmine-jquery`. But how to do this? According karma config, `files` always inlcuded after `frameworks` on the page.

One option which I'm thinking about is to drop `jasmine-jquery` from karma config and load it

[2016-01-19 17:36] jjczopek commented on #106
In general I'm supportive of the idea as I have run into some trouble based on that. However the trade-off of loosing all the help and helpers is big.

If we were to drop jQuery from unit tests, in order to keep writing tests efficiently, we probably should come up with some helpers as substitute for the lost jQuery helpers. Question is whether we want to put effort into that  and when should that

[2016-01-19 19:39] andrewconnell commented on #17
For the icon, isn't the icon rendered just an `<i>`... like the normal icon? If so, is it not possible to reuse that? Regardless, make sure you use the enum in `uif-icon` for validation.

I'm not sure I get the sidecommand question... to me if it's part of the command bar, it should be a child to that element.

[2016-01-19 19:50] andrewconnell commented on #106
IMHO we need to do this sooner rather than later. We aren't half-way through implementing the directives so now is the best time.

I don't see the Angular Material guys using `jasmine-jquery`... so we should be able to do this. Curious how bad of an impact this will be when removing this framework...

[2016-01-19 20:14] ghost commented on #17
The icons are rendered using an `<i>`, and I'll reuse that.

Regarding the sidecommand, i'll keep it as a child element. Will update spec this evening

[2016-01-19 22:19] jjczopek commented on #15
Discussion point/advice needed.

If you take a look into the specification I made, I came up with three additional directives for header, content and actions. My intention when it comes to usage is something like that:

[code]

If you have a look into Fabric examples, you will notice that inside the main div there is another div with class main (`div.ms-Callout-main`), however content and actions

[2016-01-19 22:58] ghost commented on #15
Hmm.
I'd say option 2, as this would be the easiest / cleanest from a user point of view.

[2016-01-20 01:38] andrewconnell commented on #15
I don’t have strong feelings either way, but agree that #2 is slightly better from my POV.

[2016-01-20 10:56] andrewconnell commented on #87
Submitted, merged & now in CDNJS! It _should_ get pulled into CDNJS when we issue a new release automatically based on how I submitted it.

PR: https://github.com/cdnjs/cdnjs/pull/6760

Link to our library in the CDN master branch:
https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/ngOfficeUiFabric

Link to current version: https://cdnjs.cloudflare.com/ajax/libs/ngOfficeUiFabric/0.2.0/ngOfficeUi

[2016-01-20 11:07] #87 closed

[2016-01-20 11:09] andrewconnell commented on #106
Ouch... just removed `jasmine-jquery` and ran the tests... 67 of 80 tests _failed_ ...

[2016-01-20 11:29] s-KaiNet commented on #106
I believe something following should work (don't have time to test right now):
under `config/karma.ts` remove `jasmine-jquery` from `frameworks`, then under `files` add `jquery.js` and `jasmine-jquery.js` after `angular.js`
In `.spec` files you need something like this:

[code]

[2016-01-20 14:12] andrewconnell commented on #106
If this worked, that would be ideal because then we don’t have to change anything in the tests… they would all keep working… just a config tweak.

What would be a great test (adding to my backlog) is to (1) jump back to the commit –1 that fixed a bug in the dropdown that was impacted by jQuery vs sqlite (https://github.com/ngOfficeUIFabric/ng-officeuifabric/commit/a24e51dd5663f612616566f3850540f3b

[2016-01-20 22:08] s-KaiNet commented on #106
So I tested this and here is the results:
I didn't revert to commit, but made it in a slightly different way. I removed all directives except dropdown, add folowing spec:

[code]

When runing `gulp test` it fails because `expect(dropdown instanceof jQuery).toBe(false);` is true (jQuery included before angular in tests).
Then I created another karma config - `karma.jqueryless.ts`, created option to

[2016-01-20 22:17] andrewconnell commented on #106
Nice work... I'll take a look. I like being able to use this, but I think when we see PR's submitted, we have to do a code review to ensure they aren't missing this fundamental thing... or just put it in the guidelines.

[2016-01-20 22:56] andrewconnell commented on #106
I've tried your steps when i forked your repo but regardless of which one (commenting 99-100 / 101-102) I see 6 failing tests.

I _really_ don't want to move to Chrome... we can't get rid of Phantom because it kills our TravisCI tests.

[2016-01-20 23:11] s-KaiNet commented on #106
Did you run `gulp test --jq`?
Also please make sure to run `npm install`

[2016-01-20 23:30] andrewconnell commented on #106
Yup... clean clone, `npm install` and `gulp test --jq`... I'll give it another shot when I get home (slow connection where I am so npm install will take a while).

[2016-01-21 06:46] s-KaiNet commented on #106
Yep... this is my bad.. forgot to add jquery as deps (in my node_modules it was for some reason).
Pushed fixed `package.json`. To be clear:

[code]

Should be green this time :)

[2016-01-21 11:12] andrewconnell commented on #106
OK, that fixed it… I think this is perfectly fine to require the things you’ve listed for the requirements & workaround for PhantomJS.

Do you want to update the guideline doc adding some information about it with the samples (make sure to reference this issue within the guideline so people can see a history) & submit a PR? Then we should likely create issues for each directive that needs to be up

[2016-01-21 20:15] s-KaiNet commented on #106
I added one more script for karma config which fix `click` problem in `Phantomjs`, pushed that commit in my branch. The file is under `build/jquery.phantomjs.fix.js` (hmm not sure where to put this, `build` folder not looks like good one, but no other options). This file included under `karma.jqueryless.ts` in `files` section. In this way no need to worry about fixing `Phantnomjs` in every spec, f

[2016-01-21 21:00] ghost commented on #17
Updated, sorry for delay...comments welcome

# Spec

[code]

Fabric allows for the inclusion of search bars, and for commandBar buttons to be positioned on the right. Search bar behavior is different in OneDrive, Video portal and http://dev.office.com/fabric/components/commandbar, for P1, will build a search bar which matches the behavior of http://dev.office.com/fabric/components/commandbar

## P

[2016-01-21 23:05] ghost commented on #106
Great work @s-KaiNet !
I'm more leaning towards option 2. option 1 has a couple of 'hacks' and fixes that may work now, but may cause issues longer down the road. In most of the projects where we implemented hacks in any form things started acting weird.

As we want to mimic Angular Material, I think option 2 is the way to go.

[2016-01-21 23:51] andrewconnell commented on #106
Let me ask this... @s-KaiNet the way I understand your option 1, if we change the karma config which avoid any false positives in tests where the directive takes a dependency on jQuery. If they want to use jQuery via jasmine-jquery in their tests, they have to do this little extra work that you've documented. Is that correct?

**If so, then I'd say we let developers do either one.**

However, if o

[2016-01-21 23:54] andrewconnell commented on #106
BTW, I'd put that `*.js` file in the `src/core/` folder. It's a testing resource and since it won't get referenced in any of the directives, webpack won't suck it into the bundle.

[2016-01-21 23:58] johnmeilleur commented on #31
**SPEC**

First revision

main component directive: `<uif-persona></uif-persona>`
optional enum attribute uif-style = round, square.  Defaults to round
optional enum attribute uif-size = tiny, xsmall, small, medium, large, xlarge.  Defaults to medium
optional enum attribute uif-presence = available, away, blocked, busy, dnd, offline.  Defaults to offline
optional string attribute uif-image-url.  I

[2016-01-22 00:01] johnmeilleur commented on #27
Suggestions:

`uif-style` - enum round, square (default to round)
`uif-presence` - enum available, away, blocked, busy, dnd, offline (default to offline)

See issue #31

[2016-01-22 00:09] johnmeilleur opened #116 "Common namespace for enums"
Looking at the various components I believe there will be some commonality with the enums.

For instance Persona and OrgChart will share enums like presence and style.

What does everyone think about putting them (or all enums for consistency) in either the core namespace or one dedicated for these datatypes?

[2016-01-22 00:09] andrewconnell commented on #31
LGTM!

[2016-01-22 00:37] andrewconnell commented on #17
_thinking..._

got a lot of feedback on this one... I'll follow up in the next 12hrs

[2016-01-22 02:51] andrewconnell commented on #17
This isn't sitting right with me. I think my comment about the `<i>` tag were misunderstood, I meant you should leverage the `uif-icon` directive... one thing we're trying to do with directives is remove the mental baggage people using the fabric need to know with the classes they implement. This `<i ng-if="showmore" class="ms-CommandBarItem-chevronDown ms-Icon ms-Icon--chevronDown"></i>` goes aga

[2016-01-22 04:51] ghost commented on #19
I think it is cleaner to depend on another Angular module instead of jQuery entirely. However, it will obviously take (much) more time as I cannot reuse any of the scripts.
But I'd like to go down the path of using the angular pickadate implementation as that is much cleaner than depending on jQuery entirely plus an additional library pickadate.js
How do we implement dependencies on other Angular

[2016-01-22 05:48] s-KaiNet commented on #106
@andrewconnell you are correct in your understanding `#1`.
In any case we are removing jQuery from angular, because it generates false positives in tests. The question is actually: should we allow to use jQuery in tests through this "hacks" or not.
I'm also agree with @rolandoldengarm and have some doubts.

[2016-01-22 06:25] waldekmastykarz commented on #31
:+1:

[2016-01-22 06:27] waldekmastykarz commented on #116
Could OrgChart reuse the Persona directive making it unnecessary to duplicate the enums?

[2016-01-22 06:40] waldekmastykarz commented on #17
:+1: on what @andrewconnell said. I think it would also be helpful to extend the spec with handling clicks on the different menu items.

One thing that I wonder about whether this implementation won't get overly complex: if you look at Office UI Fabric's HTML for commands, the label is wrapped in a separate span:

[code]

If we structure the `commandbar-item` directive as follows:

[code]

won't i

[2016-01-22 07:20] s-KaiNet commented on #17
Jumping into conversation...
@andrewconnell you mentioned that this is possible to reuse `uif-searchbox`, but search box for [`CommandBar`](http://dev.office.com/fabric/components/commandbar) has different markup than [`SearchBox`](http://dev.office.com/fabric/components/searchbox) component. Looking into [`NavBar`](http://dev.office.com/fabric/components/navbar), there is also a search box which

[2016-01-22 07:39] waldekmastykarz commented on #17
@s-KaiNet just an idea: if the functionality of the search component is the same across all the different places it's being used would be an option to dynamically set the template based on the parent directive (if any)?

[2016-01-22 07:39] s-KaiNet commented on #19
I'm agreed with you on point to depends on ng-pickadate. How I see all this - you need to add dependency in npm on ng-pickadate, then in your datepicker.ts in the top you need to explicitly require .js and .css from `node_modules/ngpickadate/dist/...`. Something like this (didn't test):

[code]

To load css you need to add css loader for webpack. In that way webpack will include pickadate only if

[2016-01-22 07:50] s-KaiNet commented on #17
I believe this is possible, but from what I see, markup is different, and this approach will look like single directive, but actually contains three other directives with completely different templates. Maybe it simpler to maintain it separately.

[2016-01-22 08:38] ghost commented on #17
Hi all, thanks for feedback :+1:

@andrewconnell, agree that there is probably too much in the way of use of attributes, rather than elements, will change approach to mirror the rest of the project in that manner.

There are a few easy fixes (naming conventions, use of the uif-icon directive, and we should absolutely extend it to include clicks), but I think the search bar and sub-menu items are t

[2016-01-22 10:48] andrewconnell commented on #106
Then my answer is option 3 – we modify our karma config to make sure we don’t load jQuery when testing. Then we leave developers the option to test without jasmine-query OR they can but need to use a little hackery to use it, and we provide guidance.

IMHO, we should have a new section within the testing doc that explains what’s going on and shows how to leverage the hack you did.

Nice work!

[2016-01-22 10:58] andrewconnell commented on #17
I like the direction this is going now...

RE: wrapping the button text - yeah I see where we need to do that now... that stinks, but seems like we should.

RE: letting searchbox take in a template... not sure I like this if we're saying the consumer of ngOfficeUiFabric has to do it... if it's the directive that is doing it, then that's different & would make sense.

RE: submenus - I don't think w

[2016-01-22 11:05] andrewconnell commented on #19
Agreed on depending on another Angular implementation. The fun part will getting the styles just right.

Now for shipping the resources... let's think about our options here. Today we aren't including any external dependencies (Angular JS, CSS for Fabric) because we aren't tightly coupled. But for something like this... does it make sense to do that? For instance, we look into configuring our webp

[2016-01-22 11:10] andrewconnell commented on #116
I've wondered the same thing like with the `IconEnum` that's in `uif-icon`. If `uif-org-chart` can depend on `uif-persona` for rendering and code reuse, then I say it stays with Persona. However if not and it's truly something that can be reused, I would put them in the root of the `officeuifabric.core` module.

FWIW, I've got a personal task to create enums in the `officeuifabric.core` for all co

[2016-01-22 11:25] ghost commented on #17
RE: letting searchbox take in a template -  The directive (in this case the uifCommandBar) would be doing that, not the consumer.

RE: submenus - Does Fabric support submenus as part of the CommandBar in isolation? I didn't think it did, not at least without additional CSS. An additional `.ms-CommandBarItem` nested in a `.ms-CommandBarItem` within the main area creates a scrollbar within `.ms-Comm

[2016-01-22 11:29] andrewconnell commented on #17
OK, so for now then (p1) if fabric doesn’t support submenus, then I’d just implement them without it. At this point I think we want to avoid introducing our own CSS if at all possible.

[2016-01-22 11:49] andrewconnell commented on #49
I'm using this new watcher when working on the `uif-button` and have run into a few things...
- **auto testing on build**: This change introduced a dependency on the `build-lib` task in that it runs `test` prior to building. If any tests fail, it won't build. If you are doing TDD this means you have to code to pass ALL tests before you can see anything working in your demo. But if you remove this

[2016-01-22 12:25] s-KaiNet commented on #106
So our next steps:
in `karma.config` drop `jasmine-jquery` from `frameworks` section, add `jquery`, `jasmine-jquery` and "workaround" script under `files` section. Update docs accordingly.
After merging most of the tests will fail. Every developer need to fix that using jqLite+vanillajs OR use "hacky" approach.
Is that correct?

[2016-01-22 12:43] s-KaiNet commented on #49
Agreed on both points.
But I'd rather add `transpile-ts` as dependency for the `test` task, because tests require .js files and `transpile-ts` in its turn depends on `vet`.
Also thinking about something like this - `gulp watch --dev --debug` - in this case karma should start with option `singleRun=false` and additional browser param for debugging tests in chrome.

[2016-01-22 12:55] s-KaiNet commented on #19
Good point. I'm thinking primary from the consumer side - include script in the page and forget :) Also UI Fabric includes pickadate in /dist file.
But in terms of loosely coupling that's not good. As we don't want tightly coupled components, then we definitely don't need to include this.

[2016-01-22 13:08] andrewconnell commented on #106
LGTM... what we'll do is when you submit this PR, we'll have a separate branch that will address this change that people can fix which will ultimately get merged into `dev`

[2016-01-22 13:09] andrewconnell commented on #49
Works for me... that's another thing I noticed. When you startup `watch` it waits... ideally it should do the first pass on everything.

[2016-01-22 13:15] s-KaiNet commented on #49
Hmm.. do you know how to do that? Normally gulp watcher don't start anything on initial watch.

[2016-01-22 13:17] andrewconnell commented on #49
Just a dependency on the `watch` task itself?

[2016-01-22 13:20] s-KaiNet commented on #49
Yes! The answer is extremely simple :). Thank you! Never think in that way, that watch can have deps.

[2016-01-22 17:18] jjczopek commented on #106
Looks good. I personally will go with "hacky" because I think tests look a bit cleaner with jasmine-jquery, and migration effort will be smaller than doing it jqLite/vanilla way.

[2016-01-22 19:24] s-KaiNet commented on #106
@andrewconnell  Can you please create those branch? I guess when submitting the PR I need to target this branch and not dev. Am I correct?

[2016-01-22 19:27] andrewconnell commented on #106
Nah… go ahead & submit it to DEV… I’m doing all PR merging locally and pushing to the repo to make sure things don’t get screwed up along the way to keep the repo as clean as possible. If you can, just make it clear in the description of the PR what this is. When I push it up, I’ll push it in a new branch.

More info:
The way I do it locally which you can see in the MERGE-REQUEST doc is create a n

[2016-01-22 19:39] jjczopek commented on #31
looking forward!

[2016-01-23 06:30] waldekmastykarz commented on #101
`uif-orderasc` is not an attribute that you can set on the directive. It's a property on the scope and it can only bet set through code where it's defined as boolean.

[2016-01-23 10:59] andrewconnell commented on #17
Hold up... question out of the blue...

What if the command bar used the `uif-contextual-menu` directive for the menu parts that dropped down, just nicely positioned? I mean... how different is the submenu in that directive than `uif-command-bar`?

This is pretty drastic for a few reasons:

(1) clearly it would deviate from fabric... fabric has explicit classes for the submenus and if we did this,

[2016-01-23 11:06] andrewconnell opened #117 "Modify ConextualMenu to support more control over text"
I didn't notice this until we started looking at the spec for `uif-command-bar` but something occurred to me. The way the `uif-contextual-menu` control is done users have no control over the text in a menu item. Because the [text is defined in an attribute](https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/master/src/components/contextualmenu/demo/index.html#L70), you get what you get. Ho

[2016-01-23 11:08] andrewconnell opened #118 "(docs) - update FAQ"
Add docs for following topics:

- [x] current stance / roadmap on ng1 vs ng2 for ngOfficeUiFabric
- [x] dependencies (angular version, fabric, jQuery, pickadate, etc)
- [x] release model
- [ ] label explication
- [x] bugs found in other frameworks
  - https://github.com/OfficeDev/Office-UI-Fabric/issues/283
  - https://github.com/OfficeDev/Office-UI-Fabric/issues/287
  - https://github.com/OfficeD

[2016-01-23 11:12] s-KaiNet commented on #117
You are not correct here. The text is actually `text: '=uifText'`, and following expression `uif-text="'Flag'"` is used just to pass a single string instead of relying on scope (for demo purposes).
That means that you can use any text from scope, i.e. `scope.menuItem = 'My Item'` and `uif-text="menuItem"`

[2016-01-23 11:13] andrewconnell commented on #116
Where does this stand @johnmeilleur ... reuse within existing directive or move to core?

[2016-01-23 11:18] s-KaiNet commented on #117
Sorry, misunderstood you. Reading through the command bar discussion I got the idea.
This definitely can be done.

[2016-01-23 11:22] andrewconnell commented on #117
Thoughts though? Is this a good idea? Definitely a breaking change, but is there value or am I just introducing more work?

[2016-01-23 12:14] #99 closed

[2016-01-23 12:15] #36 closed

[2016-01-23 12:16] #101 closed

[2016-01-23 12:17] #61 closed

[2016-01-23 13:49] s-KaiNet commented on #117
I agree with the idea to support sub menus for command bar, also change to "Text" attribute looks very good, I'm completely for that. Created a [plunk](http://plnkr.co/edit/O5zgipEnv6bsBWmdAN8k?p=preview) with icons inside menu items and sub menu for command bar. IMHO looks cool.
Some points to be considered:
- UI Fabric sample doesn't include sub menu for the command bar. I guess they think that

[2016-01-23 15:22] ghost commented on #17
We might have gone full circle(ish) with submenus :), to answer your points....

1) I don't think this deviates from fabric because
      a) AFAIK, fabric doesn't have classes for CommandBar submenus
      b) Using uif-contextual-menu for the submenus seems to fit with how MSFT have implemented them, suggesting that it isn't/wasn't their intention for there to be submenu items which have the same

[2016-01-23 21:51] johnmeilleur commented on #116
Since they are really about the persona I agree as suggested we leave them in with the persona directive and other directives (e.g. orgchart) can reference as necessary.

[2016-01-24 08:23] waldekmastykarz commented on #117
I wonder if such flexibility is what Office UI Fabric is meant for. Office UI Fabric introduces certain kind of design that imposes how the different pieces look like. Including icons would be a good idea: that's something that we already see in the command bar, but as for the text I would opt for plain-text rather than HTML.

[2016-01-24 09:43] jjczopek commented on #15
On Fabric, when callout has this separatot (`ms-Callout--actionText`), buttons inside actions container should also have (`ms-Callout-action`). Should this be driven by the directives used inside - e.g. whether button component or link component should have the responsibility to add those classes based on the context they are in? Or should that be callout component to check if such components are

[2016-01-24 10:30] waldekmastykarz commented on #15
If these are generic buttons then I'd say that it's the responsibility of the separator to decorate them with specific classes that it requires for proper rendering. Otherwise we would introduce a dependency (even if optional) from buttons to callout which is odd.

[2016-01-24 11:20] andrewconnell commented on #15
Manually merged.

[2016-01-24 11:20] #15 closed

[2016-01-24 11:20] #100 closed

[2016-01-24 11:20] #102 closed

[2016-01-24 11:22] andrewconnell commented on #116
LGTM

[2016-01-24 11:22] #116 closed

[2016-01-24 11:26] andrewconnell commented on #117
Love the plunk @s-KaiNet! Want to make this a feature of command menu? Agree on all three of the points you make above... while their samples may not show it, I don't see anything wrong with a submenu here.

[2016-01-24 11:28] andrewconnell commented on #17
I see your point. Any input from @ngOfficeUIFabric/ngofficeuifabric-members before @tobiaswest83 wants to get cracking on this one?

@tobiaswest83 would you post an updated spec to your current plan?

[2016-01-24 11:42] waldekmastykarz commented on #25
As mentioned in #24: since a list item doesn't exist outside of a list how about we combine #25 with #24 and provide a single component that consists of list and list item?

[2016-01-24 11:47] andrewconnell commented on #25
Sounds good... closing this one to "merge" with #24.

[2016-01-24 11:47] #25 closed

[2016-01-24 13:43] waldekmastykarz commented on #24
How about we do it like this:
- [x] list supports two layout modes _list_ (default) and _grid_
- [x] list supports three modes for selecting items: _none_ (default), _single_ and _multiple_
- [x] list supports three ways for rendering items: _item_ (default), _itemWithImage_ and _itemWithIcon_
- [x] specific item types might require additional directives
  - [x] regular = no additional directives

[2016-01-24 15:03] s-KaiNet commented on #117
Yep, I can do this or command menu author can add support. Actually nothing special - by clicking on command bar item you need to set `isOpen` for contextual menu and that's it.
Not clear about changing `text` attribute. Should I go ahead and introduce possibility to provide enhanced text or not?

[2016-01-24 15:20] s-KaiNet commented on #49
Started implementation.

[2016-01-24 15:24] andrewconnell commented on #117
Personally I think we should have that in the directive (enhanced text).

[2016-01-24 15:26] andrewconnell commented on #24
Damn I think @waldekmastykarz has set the standard for writing specs... No feedback from me. LGTM!

[2016-01-24 15:28] waldekmastykarz commented on #24
:smile:

[2016-01-24 16:22] jjczopek opened #122 "Callout - augment actions elements when uif-action-text used"
When callout has `ms-Callout--actionText` class, action elements (links, buttons) have to be augmented with with additional CSS classes.

[2016-01-24 22:04] andrewconnell commented on #122
Bug? Not sure I follow... What additional classes?

[2016-01-24 22:21] jjczopek commented on #122
when `uif-action-text` is used, callout gets additional CSS class called `ms-Callout-actionText`. However it's not only the main callout element that should get the class.

Also elements like buttons wrapped in `uif-callout-actions` should get additional CSS. Have a look at the [example](https://github.com/OfficeDev/Office-UI-Fabric/blob/master/src/components/Callout/Callout.ActionText.html) from

[2016-01-24 22:59] andrewconnell commented on #122
Ah... Ok. Is it a bug / feature then? Tagged correctly?

[2016-01-24 23:03] jjczopek commented on #122
Classes are not added but should be, hence I think bug is fine.

[2016-01-25 10:54] #106 closed

[2016-01-25 10:58] andrewconnell opened #123 "Address Failing Tests from jQuery Change in Test Suite"
Previously use of jasmine-jquery loaded jQuery into the page for testing prior to loading Angular. Angular thus would use jQuery, not jqlite. Because the ngOfficeUiFabric doesn't not depend on jQuery, the tests should assume jQuery is not present. This fix changes the Karma configuration so it doesn't load jQuery before Angular, rather it loads after Angular. Dropped jasmine-jquery from karma fram

[2016-01-25 10:59] andrewconnell opened #124 "uif-choicefield: Address Failing Tests from jQuery Change in Test Suite"
Previously use of jasmine-jquery loaded jQuery into the page for testing prior to loading Angular. Angular thus would use jQuery, not jqlite. Because the ngOfficeUiFabric doesn't not depend on jQuery, the tests should assume jQuery is not present. This fix changes the Karma configuration so it doesn't load jQuery before Angular, rather it loads after Angular. Dropped jasmine-jquery from karma fram

[2016-01-25 11:00] andrewconnell opened #125 "uif-contextual-menu: Address Failing Tests from jQuery Change in Test Suite"
Previously use of jasmine-jquery loaded jQuery into the page for testing prior to loading Angular. Angular thus would use jQuery, not jqlite. Because the ngOfficeUiFabric doesn't not depend on jQuery, the tests should assume jQuery is not present. This fix changes the Karma configuration so it doesn't load jQuery before Angular, rather it loads after Angular. Dropped jasmine-jquery from karma fram

[2016-01-25 11:00] andrewconnell opened #126 "uif-dropdown: Address Failing Tests from jQuery Change in Test Suite"
Previously use of jasmine-jquery loaded jQuery into the page for testing prior to loading Angular. Angular thus would use jQuery, not jqlite. Because the ngOfficeUiFabric doesn't not depend on jQuery, the tests should assume jQuery is not present. This fix changes the Karma configuration so it doesn't load jQuery before Angular, rather it loads after Angular. Dropped jasmine-jquery from karma fram

[2016-01-25 11:01] andrewconnell opened #127 "uif-link: Address Failing Tests from jQuery Change in Test Suite"
Previously use of jasmine-jquery loaded jQuery into the page for testing prior to loading Angular. Angular thus would use jQuery, not jqlite. Because the ngOfficeUiFabric doesn't not depend on jQuery, the tests should assume jQuery is not present. This fix changes the Karma configuration so it doesn't load jQuery before Angular, rather it loads after Angular. Dropped jasmine-jquery from karma fram

[2016-01-25 11:01] andrewconnell opened #128 "uif-progress-indicator: Address Failing Tests from jQuery Change in Test Suite"
Previously use of jasmine-jquery loaded jQuery into the page for testing prior to loading Angular. Angular thus would use jQuery, not jqlite. Because the ngOfficeUiFabric doesn't not depend on jQuery, the tests should assume jQuery is not present. This fix changes the Karma configuration so it doesn't load jQuery before Angular, rather it loads after Angular. Dropped jasmine-jquery from karma fram

[2016-01-25 11:02] andrewconnell opened #129 "uif-searchbox: Address Failing Tests from jQuery Change in Test Suite"
Previously use of jasmine-jquery loaded jQuery into the page for testing prior to loading Angular. Angular thus would use jQuery, not jqlite. Because the ngOfficeUiFabric doesn't not depend on jQuery, the tests should assume jQuery is not present. This fix changes the Karma configuration so it doesn't load jQuery before Angular, rather it loads after Angular. Dropped jasmine-jquery from karma fram

[2016-01-25 11:02] andrewconnell opened #130 "uif-spinner: Address Failing Tests from jQuery Change in Test Suite"
Previously use of jasmine-jquery loaded jQuery into the page for testing prior to loading Angular. Angular thus would use jQuery, not jqlite. Because the ngOfficeUiFabric doesn't not depend on jQuery, the tests should assume jQuery is not present. This fix changes the Karma configuration so it doesn't load jQuery before Angular, rather it loads after Angular. Dropped jasmine-jquery from karma fram

[2016-01-25 11:03] andrewconnell opened #131 "uif-table: Address Failing Tests from jQuery Change in Test Suite"
Previously use of jasmine-jquery loaded jQuery into the page for testing prior to loading Angular. Angular thus would use jQuery, not jqlite. Because the ngOfficeUiFabric doesn't not depend on jQuery, the tests should assume jQuery is not present. This fix changes the Karma configuration so it doesn't load jQuery before Angular, rather it loads after Angular. Dropped jasmine-jquery from karma fram

[2016-01-25 11:03] andrewconnell opened #132 "uif-textfield: Address Failing Tests from jQuery Change in Test Suite"
Previously use of jasmine-jquery loaded jQuery into the page for testing prior to loading Angular. Angular thus would use jQuery, not jqlite. Because the ngOfficeUiFabric doesn't not depend on jQuery, the tests should assume jQuery is not present. This fix changes the Karma configuration so it doesn't load jQuery before Angular, rather it loads after Angular. Dropped jasmine-jquery from karma fram

[2016-01-25 11:03] andrewconnell opened #133 "uif-toggle: Address Failing Tests from jQuery Change in Test Suite"
Previously use of jasmine-jquery loaded jQuery into the page for testing prior to loading Angular. Angular thus would use jQuery, not jqlite. Because the ngOfficeUiFabric doesn't not depend on jQuery, the tests should assume jQuery is not present. This fix changes the Karma configuration so it doesn't load jQuery before Angular, rather it loads after Angular. Dropped jasmine-jquery from karma fram

[2016-01-25 11:13] jjczopek commented on #130
Roger, will do today.

[2016-01-25 20:23] s-KaiNet opened #136 "uif-contextual-menu - add support for advanced text option for menu item"
As per #117 discussion, it would better if contextual menu will have an option to provide different options for item text.
What I'm thinking about is to provide two options - one is leave it as it now - through the attribute, and the other option is an additional directive - `<uif-menu-item-text />`.
`#1:`
[code]
`#2:`
[code]
Comments are very appreciated.

I'm going to shift implementation on a l

[2016-01-25 20:28] s-KaiNet opened #137 "uif-contextual-menu - address issues introduced by the angular 1.4.9"
Recent angular update introduces additional checks on mandatory directives' properties. This broke tests for contextual menu and needs to be addressed.

[2016-01-25 20:34] andrewconnell commented on #136
I like the two options... no breaking change!

For option 2, do you need a nested container under the menu? If so, to stay in line with what we're talking about with `uif-command-bar` in #17 (see [this comment](https://github.com/ngOfficeUIFabric/ng-officeuifabric/issues/17#issuecomment-173787285))... specifically  instead of using `<uif-menu-item-text>` use `<uif-menu-item-content>`... so your op

[2016-01-25 20:42] s-KaiNet commented on #136
Good point, agreed.
I need nested container, because menu may has sub-menu, in that case I need to distinguish sub menu from menu item text somehow. If text will have its own directive (`uif-menu-item-content`) that will be good.

[2016-01-25 21:21] andrewconnell commented on #133
merged this issue => #123 so we don't have a ton of issues reported on a single item...

[2016-01-25 21:21] #133 closed

[2016-01-25 21:21] andrewconnell commented on #131
merged this issue => #123 so we don't have a ton of issues reported on a single item...

[2016-01-25 21:21] #131 closed

[2016-01-25 21:21] andrewconnell commented on #132
merged this issue => #123 so we don't have a ton of issues reported on a single item...

[2016-01-25 21:21] #132 closed

[2016-01-25 21:21] andrewconnell commented on #129
merged this issue => #123 so we don't have a ton of issues reported on a single item...

[2016-01-25 21:21] #129 closed

[2016-01-25 21:21] andrewconnell commented on #130
merged this issue => #123 so we don't have a ton of issues reported on a single item...

[2016-01-25 21:21] #130 closed

[2016-01-25 21:21] andrewconnell commented on #127
merged this issue => #123 so we don't have a ton of issues reported on a single item...

[2016-01-25 21:21] #127 closed

[2016-01-25 21:21] andrewconnell commented on #124
merged this issue => #123 so we don't have a ton of issues reported on a single item...

[2016-01-25 21:21] #124 closed

[2016-01-25 21:22] andrewconnell commented on #125
merged this issue => #123 so we don't have a ton of issues reported on a single item...

[2016-01-25 21:22] #125 closed

[2016-01-25 21:22] andrewconnell commented on #126
merged this issue => #123 so we don't have a ton of issues reported on a single item...

[2016-01-25 21:22] #126 closed

[2016-01-25 21:22] andrewconnell commented on #128
merged this issue => #123 so we don't have a ton of issues reported on a single item...

[2016-01-25 21:22] #128 closed

[2016-01-25 21:23] andrewconnell commented on #136
Gotcha... LGTM then

[2016-01-25 21:41] andrewconnell opened #139 "Angular 1.4.9 Intro's Regression in ngOfficeUiFabric"
#### TL;DR
It looks like we’ve gotten away with some stuff so far, until Angular release 1.4.9 and added a check that introduced a regression for us. @s-kainet found it and bugged it (https://github.com/angular/angular.js/issues/13832) but apparently not a bug. It looked like a bug because they had a gap in their compiler that didn't check for this... so we just go away with it.  We need to fix th

[2016-01-25 21:42] andrewconnell commented on #137
merged => #139

[2016-01-25 21:42] #137 closed

[2016-01-26 04:51] ghost commented on #123
Sorry for all the references, fighting Git again :)
Added a PR for my directives. Those tests are running fine again now.

[2016-01-26 18:57] s-KaiNet commented on #49
Question: do we really need dependency on watch?
Scenario: I'm working on directive, made a lot of changes, tests are not finished and still failing. Closed `cmd` because it crashed\reboot\need to go\whatever reason. Later I back to work, run `gulp watch` and it fails because I still has unfinished tests. In this case task (test) which is dependent on watch is failing and that prevents watchers fr

[2016-01-26 20:27] andrewconnell commented on #49
From my POV, when I run a watcher like this, I want it to do everything (vet, run tests, build library) without any blockers… it would do all that, report errors & then go back to watching.

Our gulp tasks SHOULD be written today to log the errors, not fail… if not, then IMHO that’s a bug.

So with this thinking I don’t think having dependency in place is bad… calling watch would run everything th

[2016-01-26 20:44] s-KaiNet commented on #49
Agreed. This is how it's working right now. The problem is, when running everything first time before watch and there is an error (at least one, vet error, or failing test), it prevents other task to run (watch task itself). Because of this we can't start watchers at all.
Let me illustrate this into following workflow. We added `test` as dependency on watch (test in turns depends on `transpile-ts`

[2016-01-26 21:54] andrewconnell commented on #49
Ah now I see what you're saying... Offhand I don't know. What if instead of within the task instead of the dependency it triggers the first three tasks and when they all finish it then sets of the watchers. Maybe using the module run-sequence?

[2016-01-26 22:05] jjczopek commented on #139
@andrewconnell : from what I can tell, `uif-callout` didn't have failing tests due to this regression and I found no errors in the demo (I double checked if I use 1.4.9). Do I still need to introduce test for this? If yes, how do I do that? Or is it OK if I just mark property on scope as `=?` ?

[2016-01-27 06:20] s-KaiNet commented on #49
Yep, sorry, my first explanation was not so clear.
run-sequence should work, will try that, thanks!

[2016-01-27 11:26] #139 closed

[2016-01-27 19:24] ghost commented on #49
Hi, good job @s-KaiNet ! However, I don't like that it stops when my vet test fails. E.g. in development I don't worry too much about vet issues, I fix those at the end. I'm interested to know if my tests fail or pass.
I think part of your changes "gulp test" now also fails when vet fails.
So yes, I think run-sequence is the way to go.

And again good stuff, this will make our lifes easier :)

[2016-01-27 19:37] ghost commented on #19
I've had a look at the angular-pickadate. While I like it is a non-jQuery solution, I see some issues:
- There is no NPM package (or any other package as far as I could see)
- Not much activity, e.g. demo does not work
- The resulting HTML will be different, so I'll have to do a lot of work to make it work with Fabric CSS.

I think it is possible, but I think we should postpone a non-jQuery soluti

[2016-01-27 22:29] s-KaiNet commented on #49
Thank you @rolandoldengarm !!!
I understand you issue, will make a change to support you scenario too.
How it looks like:
`gulp watch` - on first start `vet`, `test`, `build` on a sequence, if any errors - just continue
On any change *.ts under sources `vet`, `test`, `build` run on a sequence, if any errors - continue, no more dependencies
On any change *.ts under demo folder - transpile
On any ch

[2016-01-27 22:38] andrewconnell commented on #19
I think that’s fair… that will be the exception to everything we’re doing. It sounds like the Office UI Fabric team is taking the same approach for now…

https://github.com/OfficeDev/Office-UI-Fabric/issues/222#issuecomment-175843914

[2016-01-27 22:42] andrewconnell commented on #49
That looks good... one day would be cool if we got to the point where we could also use something like browsersync to have the demo page up and we can see the components working visually with auto refreshes... but that's down the road...

[2016-01-28 05:39] s-KaiNet commented on #49
Good news @andrewconnell
That's already done! Just need to do final tests for all of this all together and PR will be on the way.

[2016-01-28 07:36] s-KaiNet commented on #49
Also what I'm thinking about. When we run `test` task, it runs all tests, but in case of watching we probably need to run only one `.spec.ts` file from our directory where we are working. For example I have following issue: I'm working on directive under `components/contextualmenu`, I saved file and triggers `test` task in progress. Currently there are more than 140 tests and it produces a really

[2016-01-28 10:39] #123 closed

[2016-01-28 11:20] andrewconnell commented on #49
I’d personally love this capability… specifically having a way to filter to a specific spec file. If the watcher can detect and only run that test, that would be ideal.

Would be nice if we also added this as an option to the basic test task to… something like `gulp test —filter:table`. That doesn’t have to be part of this update, but something to think about…

[2016-01-28 22:54] s-KaiNet commented on #49
Thank you guys for your feedback. My first attempt didn't take all cases into account, but now with your help I believe "watch" story looks much better.
Short description:

#### `gulp watch`

On first run (before watchers setup) executes `vet`, `transpile`, `build-lib`, `test` in a sequence. Any errors just reported into the console, no blocking.
When watching:
`[source or spec changed]` -> runs `

[2016-01-29 01:00] ghost commented on #49
Cool cool cool, can't wait to check it out.

[2016-01-29 11:26] andrewconnell commented on #49
Very nice work! Love this! Functionality you’ve nailed it… looking forward to using this! I have a few questions / comments… before merging this in I’d like to see what some others say with this. Mostly I’m thinking about the experience of the developer and help them understand what’s going on without much docs.

BTW - I added a few line comments in the PR as well that I think we should address be

[2016-01-29 20:25] s-KaiNet commented on #49
Very good points, @andrewconnell , thank you! Agreed with all of them. I was thinking from my own view and definitely miss the point that all of this should be obvious and intuitive for others (especially for those who wants to quickly jump-in to the project). The only thing which make me sad, is that both `watch` and `browser-sync` don't want to work well together for me. The process exit with er

[2016-01-29 20:31] andrewconnell commented on #49
Whew… glad you took my feedback like like that… you did great work and didn’t want to come across wrong :)

Everything looks good. As for the combination of serve-demo & watch… maybe it’s just a flag? We do want two separate tasks because maybe someone is just working on demos while someone else wants to work on the directive and look at the demos live. At any rate, the way you have it supports bo

[2016-01-29 20:58] waldekmastykarz commented on #24
I've started working on the List directive but unfortunately won't be able to pick it up for the next 2/3 weeks. My work so far is available in my fork on https://github.com/waldekmastykarz/ng-officeuifabric/tree/issue-24. Feel free to pick it up. Otherwise I'll pick it up in March the latest.

[2016-01-29 21:19] andrewconnell commented on #24
All good... totally get it. Best of luck with work (_damn jobs!_) & hopefully (or not) it will still be here when you get back.

[2016-01-29 21:20] andrewconnell commented on #31
Touching base... how's it going with the directive?

[2016-01-29 21:20] andrewconnell commented on #27
Touching base... how's it going with the directive?

[2016-01-29 21:20] andrewconnell commented on #20
Touching base... how's it going with the directive?

[2016-01-31 11:21] SteenMolberg commented on #27
Almost done. Missing most of the test though. I think I can submit for review within the next 2 days.

[2016-01-31 11:52] andrewconnell commented on #122
Manually merged to `dev`

[2016-01-31 11:52] #122 closed

[2016-01-31 12:18] andrewconnell opened #147 "update webpack typedef & usage"
ref https://github.com/DefinitelyTyped/DefinitelyTyped/issues/7497

Update the use of webpack typedefinition and cleanup code where the type def wasn't used.

[2016-01-31 23:46] ghost commented on #17
Quick update - I'll be updating spec on here in the next few days, not forgotten about this :)

[2016-02-01 03:06] jigargandhi commented on #20
you can see status at my [fork-branch](https://github.com/jigargandhi/ng-officeuifabric/tree/issue20-dialog)

[2016-02-01 05:27] waldekmastykarz opened #149 "Error when trying to install ngOfficeUIFabric from Bower"
When trying to install ngOfficeUIFabric from Bower you get the following error:

[code]

Looking at the `bower.json` of ngOfficeUIFabric it indeed misses the `main` section

[2016-02-01 08:01] ghost commented on #19
Ok cool. Next discussion point. The test scripts will require datepicker library to be included.
I tried to require it in the specs file, but that fails (which seems an issue with pickadate). It was fixed when I applied this change: https://github.com/amsul/pickadate.js/pull/779

Easiest would be to include it in the tests file, but then it's always loaded. Right now that's not an issue, as we alw

[2016-02-01 10:42] andrewconnell commented on #19
I think it's fine to load it the same way we are loading jQuery for tests. Seems like it would go right after this line: https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/dev/config/karma.ts#L48

[2016-02-01 11:09] andrewconnell commented on #149
Fixed... will be reflected in next update to the https://github.com/ngOfficeUIFabric/package-ngofficeuifabric project (anything greater than 0.3.0)

[2016-02-01 11:09] #149 closed

[2016-02-01 11:11] andrewconnell commented on #20
Awesome... thanks! Just making sure it was still being worked on since we hadn't seen a PR or heard anything.

[2016-02-01 11:11] andrewconnell commented on #17
Awesome... thanks! Just making sure it was still being worked on since we hadn't seen a PR or heard anything.

[2016-02-01 11:11] andrewconnell commented on #27
Awesome... thanks! Just making sure it was still being worked on since we hadn't seen a PR or heard anything.

[2016-02-01 15:22] waldekmastykarz opened #150 "Invalid closing tag in spinner documentation"
On the spinner demo page at https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/806c8b63996ae8c12353fb09a69849938c1e1002/src/components/spinner/demo/index.html#L25 the closing tag in all examples should be `</uif-spinner>` rather than `<uif-spinner/>`.

[2016-02-01 15:43] waldekmastykarz opened #151 "Spinner label is wrapped if multiple words are used"
If the spinner's label consists of multiple words the words are wrapped. You cannot see it in the sample because the label is set to `Loading...`, but if you would change it to `Searching for files...` you would see it wrap.
Ideally the label should be set to spinner's dimensions but it seems like it's a bug in Office UI Fabric. The question is whether we want to fix it ourselves or if we want to

[2016-02-01 15:47] andrewconnell commented on #151
I think it should be flagged to the Office UI Fabric guys and see what they decide. If they deem it works as designed and it's not a bug, then we can decide what to do. But if they agree it's a bug, I'd rather let them fix it...

If you elect to bug it with them, please reference this issue for tracking...

[2016-02-01 15:53] waldekmastykarz commented on #151
:+1:

[2016-02-01 16:06] waldekmastykarz commented on #151
Submitted issue to Office UI Fabric at https://github.com/OfficeDev/Office-UI-Fabric/issues/302

[2016-02-01 16:20] waldekmastykarz opened #152 "When programmatically setting the value of the textfield with a placeholder, the placeholder label doesn't disappear"
When you update the value of the model assigned to a textfield with placeholder, the placeholder label doesn't disappear and is displayed on top of the textfield value.

See this plunk for a demo of this issue: http://plnkr.co/edit/QCDPHguqGzJaznLYiRP9?p=preview

[2016-02-01 16:33] andrewconnell commented on #152
Good find... def. a bug.

[2016-02-01 16:42] andrewconnell commented on #151
Seems they've logged it as a bug... we can leave this open and just watch it as it appears to being addressed by fabric. For now... flagging as something we won't fix... but leaving this open for tracking.

[2016-02-01 17:03] jjczopek commented on #151
Nice catch @waldekmastykarz ;) I'll monitor progress on that as well.

[2016-02-01 17:04] jjczopek commented on #150
Sure thing, I'll fix it.

[2016-02-01 17:59] waldekmastykarz commented on #151
:+1:

For the time being if you're interested in a workaround:

Wrap spinner in an additional div:

[code]

Add CSS:

[code]

`ms-Spinner-label` width depends on the length of your message. `uif-Spinner-wrapper` width is the width of `ms-Spinner-label` + some additional space for the spinner itself.

[2016-02-01 18:06] waldekmastykarz commented on #152
:+1:

[2016-02-01 18:06] waldekmastykarz commented on #149
Cool!

[2016-02-01 18:24] jjczopek commented on #22
I'm picking up this one.

Please have a look at the specs:

**Standard label:**
`<uif-label>Name</uif-label>`

**Required:**
`<uif-label required>Required name</uif-label>`

**Disabled:**
`<uif-label disabled>Disabled name</uif-label>`

`required` and `disabled` are well-known HTML attributes, therefore I assume there is no need in prefixing them with `uif-`.

[2016-02-01 18:29] waldekmastykarz opened #154 "When using a textfield with placeholder clicking on the placeholder prevents from setting the focus"
When using a textfield with a placeholder, the only way to set the focus on the textfield is to click next to the placeholder. Clicking on the placeholder prevents the focus from being set on the textfield.

See this plunk for a demo of this issue: http://plnkr.co/edit/QCDPHguqGzJaznLYiRP9?p=preview

[2016-02-01 18:31] andrewconnell commented on #22
LGTM... go for it

[2016-02-01 18:36] #147 closed

[2016-02-01 18:45] #150 closed

[2016-02-01 19:36] #49 closed

[2016-02-01 22:59] jjczopek commented on #14
Touching base... how's it going with the directive?

[2016-02-01 23:04] jjczopek commented on #32
Let me get this one as well ;) Yet I think it'll take couple more hours than label ;)

[2016-02-02 00:13] #22 closed

[2016-02-02 00:14] andrewconnell commented on #32
Sounds good!

[2016-02-02 01:59] andrewconnell commented on #14
Totally fair question @jjczopek ! This is a “spare time” project right now… i’m spending most of my time with it managing it (keeping issues updated, merges, etc). Trying to get some stuff done to simplify and distribute this role among us… but until then…

you can see my status on the button in my fork… I’ve got the tests & demo done, just implementing  the directive now: https://github.com/andre

[2016-02-02 08:53] rolandoldengarm opened #156 "jQuery.noconflict should be removed from tests"
choicefieldDirective and dropdownDirective specs contain jQuery noconflict.
This causes weird behavior together with live-dev, as in that case jQuery will be loaded as $. But when running ALL tests, $ is undefined.

So, it should be removed from specific tests, and either be removed entirely, or put in core.ts / base test file which is always run. I'd vote for removal, need to double check that th

[2016-02-02 09:21] s-KaiNet opened #157 "Move "files" configuration settings for karma to build.ts"
Currently some configuration settings (`files`) for karma used in two different places (in karma.ts config and in gulp live-dev task). Some time it's necessary to add new files for config and this should be done in one place.
That's why configuration setting for files, which are common (i.e. `node_modules` and phantomjs fix), should be included in common well-known place like `build.ts`.

[2016-02-02 11:29] andrewconnell commented on #157
Once the `uif-button` is finished, I have some chore work with our build & docs process... I can include this in that work so I can grab it.

[2016-02-02 11:31] andrewconnell commented on #156
A quick search shows `noconflict()` is in just those two directive's specs. Assume this is something you'll address with them since they are yours @rolandoldengarm?

If so, fair to bug it & assign to you?

[2016-02-02 11:34] s-KaiNet commented on #157
ok, thanks.

On 2 February 2016 at 14:29, Andrew Connell notifications@github.com
wrote:

[2016-02-02 19:10] ghost commented on #156
Yes please.

[2016-02-02 19:18] ghost commented on #156
Already submitted a PR :) https://github.com/ngOfficeUIFabric/ng-officeuifabric/pull/158

[2016-02-02 20:49] ghost commented on #154
Verified that it happens in the demo as well.

It also happens in the example on the OfficeUIFabric: http://dev.office.com/fabric/components/textfield
It is a bit different; if you click on the placeholder, it disappears, but the focus is not in the textfield.

[2016-02-02 20:50] ghost commented on #152
This will require an update to the test scripts as well, this should be verified as part of the test that sets the placeholder.

[2016-02-02 21:26] andrewconnell commented on #154
Agreed @rolandoldengarm ... you want this?

[2016-02-02 21:28] andrewconnell commented on #154
RE "happens in OfficeUIFabric"

In that case it should be bugged in the Office UI Fabric repo... let's confirm if this is a bug in Fabric / not. If so, let them fix it. If not, we fix it. just like #151.

@waldekmastykarz since you found, you want to log it in Office UI Fabric (same way you did with spinner's #151)?

[2016-02-02 21:31] s-KaiNet commented on #26
### `NavBar` Specs:

[code]

`<uif-nav-bar>` - root element:
- `@uifOverlay` - optional, string `light` or `dark`. Validation should be included.

`<uif-nav-bar-item>` - represents nav bar item:
- `@uifType` - optional, default is `link`. `search` renders search box, `menu` renders sub-menu, `menu` assumes `<uif-contextual-menu>` will be presented as child. Validation should be included.
- `&uifCl

[2016-02-02 22:09] jjczopek commented on #26
I think it would be good to change `uif-is-disabled="isDisabled"` to `disabled="isDisabled"`.
`disabled` is a well known attribute and clearly indicated the purpose. I did the same for label - #22.

Other than that, LGTM.

[2016-02-03 07:16] jigargandhi opened #159 "Feature: Create Service for Dialog"
Dialog component on its own is of little use. Angular material provides [$mdDialog](https://material.angularjs.org/latest/api/service/$mdDialog) service that helps in creating dialogs with various configuration.

An angular service `$uifDialog` needs to be created that provides functionality to create dialogs on the fly.
/cc: @andrewconnell @ngOfficeUIFabric/ngofficeuifabric-members

[2016-02-03 07:54] rolandoldengarm opened #160 "live-dev throws outofmemory exception after a while"
After a while (e.g. 10-20 test runs), live-dev throws an out of memory exception:
[code]

[2016-02-03 10:53] andrewconnell commented on #160
:+1: I see the same thing

[2016-02-03 12:19] s-KaiNet commented on #160
I will take a look on this today's evening (currently don't have time, my regular work.... oh.. :) ).
_disgusting error..._

[2016-02-03 16:25] s-KaiNet commented on #160
Made a few tests - created a very basic watcher - just `gulp.watch(['./**/*.ts'], ['build-lib']);`. After 20-30 iterations fails with out of memory...omg... that's not good.
The problem can be in 1) webpack 2) web pack ts-loader 3) typescript compiler

[2016-02-03 18:37] andrewconnell commented on #26
For the `uif-text`, can you look at how the design for the commandbar #17 uses something like `uif-*-content`? For instance, what if someone wanted to include an icon, image or more than just text.

Also :+1: to @jjczopek suggestion above for `disabled`

[2016-02-03 18:41] ghost commented on #17
# uifCommandBar Spec

[code]

## uifCommandBarOverflow

defines the overflow elipsis and binds additional behavior to the menu when the viewport is reduced to a certain size.

## uifSearchbox

There is sufficient difference in both the dom and the functionality (fly in/out of the input box and lack of a search button) of the commandBar searchbox I believe to actually justify a specific directive.

[2016-02-03 18:48] waldekmastykarz commented on #154
Given that the script files included with Office UI Fabric are samples is it fair to say that it's an Office UI Fabric bug or is it rather a bug that we took over when building our own scripts and which we should fix in our code?

[2016-02-03 19:53] andrewconnell commented on #154
Doh… good point… that’s defiantly a bug then on our part and we should fix it as that’s functionality we created.

[2016-02-03 19:57] andrewconnell commented on #17
Regarding the `uif-command-bar-searchbox`, if it’s that much different then it makes sense to not reuse what we have and have it be specific to this directive. However with that being said we should make sure that this one has the same public signature and validation as the other. A developer working with either one should make it seem like they are one in the same.

Question… why is there a `uif-

[2016-02-03 21:14] ghost commented on #17
It allows the user to define colors for either the icon or the element separately. I also found adding a fabric color class (.ms-fontColor-orangeLight for example) to the wrapper element only affects the color of the icon, not the span. Hope that makes sense?

If you're happy I'll progress some more with the directive and aim to get a PR over in the coming days

[2016-02-03 21:44] s-KaiNet commented on #160
So I've tried different options - `gulp.watch(['./**/*.ts'], ['build-lib']);`, `gulp.watch(['./**/*.ts'], ['test']);`, `gulp.watch(['./**/*.ts'], ['transpile-ts']);`. Only in case of `transpile-ts` there are **NO** OOM exceptions.
For me it looks like the problem is in webpack, because `test` is  also using webpack.
Also I found following threads - [this one](https://github.com/webpack/webpack/iss

[2016-02-03 22:26] andrewconnell commented on #17
But can't you do the same thing with:

[code]

Without having to use a custom text directive?

[2016-02-03 22:40] ghost commented on #17
the uifCommandText template will be a span with fabric classes, e.g.  `<span class="ms-CommandBarItem-commandText ms-font-m ms-font-weight-regular">Categories</span>`

If we use a span instead, consumers would be required to put the appropriate fabric classes in to ensure it rendered as fabric intended

[2016-02-03 22:53] andrewconnell commented on #17
Can that not be achieved through using the `postLink` function in a directive? Within that function you can look at the rendered HTML and add the extra classes to the `span` if necessary as a last step.

I might be wrong...  my motivation here is to limit as much work as possible for the user.

[2016-02-03 23:14] ghost commented on #17
You could used a `postLink` and I'm happy to take your lead on this, but as a user they would need to either place their text in a `<span>` or `<uif-command-bar-text>`, I'm not sure we're creating work for them and using tags with the uif prefix seems to be consistent with other components I've looked at in the samples.

Sorry, I realise this has had a lot more debate than quite a number of other

[2016-02-03 23:31] andrewconnell commented on #17
Hey no worries… better to make sure the spec is all agreed upon as it makes implementation easier for you & less rework / debate after the work has been done.

Curious… where did you see this in other directives? We definitely want to be consistent across directives, and the text will need to be wrapped in something because you can also have an icon or image. From my POV using an OOTB tag is easie

[2016-02-03 23:48] ghost commented on #17
Thanks :)

I think uifTableCell is similar if I recall.

I'll get started in the meantime

[2016-02-03 23:56] andrewconnell commented on #17
In that case the contents of the cell go in there… so that makes sense. But you can include a SPAN and other stuff in there too if I’m not mistaken. That directive is likely going to have to get some significant overhaul as the fabric guys have said they are going to redo it to be an HTML table.

[2016-02-04 00:01] ghost commented on #17
OK makes sense, we'll go with a span in place of uifCommandBarItemText and ensure the appropriate fabric classes are bound in the postLink. I'll update the spec and get cracking tomorrow, it's getting late here in the UK. Thanks Andrew

[2016-02-04 10:49] andrewconnell commented on #160
Man that really sucks… we are currently running a slightly older (by 2+ months) version of webpack (1.12.9)… Wonder if latest (1.12.12) has any impact on this. As much as the crash sucks, I’d still rather keep dealing with it to get the benefit…

[2016-02-04 12:03] s-KaiNet commented on #160
@andrewconnell Actually `gulp-webpack` is renamed to [`webpack-stream`](https://github.com/shama/webpack-stream) (npm reports warning during `npm install`). JFYI `phatomjs` renamed to [`phantomjs-prebuilt`](https://github.com/Medium/phantomjs)
I've tried `webpack-stream`, which is `3.1.0` - same result, same OOM exception.
Previously you mentioned some "chore" work you are going to do. Can you ple

[2016-02-04 13:35] andrewconnell opened #161 "update gulp packages since renamed"
Update the gulp packages that have since been renamed including:

- [ ] gulp-webpack => webpack-stream
- [ ] phantomjs => phantomjs.prebuilt

[2016-02-04 13:36] andrewconnell commented on #160
Yup... you bet... I just created an issue for it #161. I plan to do a lot of that work right after `uif-button` is finished

[2016-02-05 00:30] jjczopek commented on #32
Main specs:

[code]

Above is supposed to render persona card as in [PersonaCard](http://dev.office.com/fabric/components/personacard) example.

Attributes for `uif-persona-card`:
- `uif-style` - round, square. Defaults to round. Same as in `uif-persona`.
- `uif-presence` - available, away, blocked, busy, dnd, offline. Defaults to offline. Same as in `uif-persona`.
- `uif-size` - xsmall, small, me

[2016-02-05 00:45] ghost commented on #32
I'd say don't limit it. Just accept any. But, may be reanme it to uif-icon instead of uif-type?

[2016-02-05 04:53] ghost commented on #154
Please assign to me, I'll fix it in our scripts :)

[2016-02-05 04:53] ghost commented on #152
Please assign to me :)

[2016-02-05 07:02] waldekmastykarz commented on #32
It seems like we use two different approaches for the primary, secondary, tertiary and optional text: in persona and personacard we define them as attributes while in the list we defined them as elements (https://github.com/ngOfficeUIFabric/ng-officeuifabric/issues/24). It would be better if we used the same approach across all directives.

I agree with @rolandoldengarm that actions shouldn't be a

[2016-02-05 14:52] jjczopek commented on #32
Ad. 1) I'm flexible here, and can go both ways. Let's see in which direction this goes.

Ad. 2) I think I could introduce another parameter to `uif-persona-card-action` directive, called e.g. `uif-placeholder` - regular, topright, overflow, introduce `uif-icon` as a substitute `uif-type`

Ad. 3) I just copied over what is in their example, you will be free to use whatever you like as it will be tr

[2016-02-05 18:06] waldekmastykarz commented on #32
:+1:

[2016-02-05 21:11] andrewconnell commented on #151
Looks like this has been fixed in Fabric v2 in PR https://github.com/OfficeDev/Office-UI-Fabric/pull/308 and issue https://github.com/OfficeDev/Office-UI-Fabric/issues/302

As such I'm going to close this.

[2016-02-05 21:11] #151 closed

[2016-02-05 21:17] andrewconnell commented on #32
Referring to 1) I prefer elements over attributes so I'd change it in this spec to match what #24 does.

Referring to 2) I like your @jjczopek suggestions / proposals for the

Referring to 3) I agree with @waldekmastykarz we should use our own link directive here within the detail.

[2016-02-05 21:23] andrewconnell commented on #154
Appears this has been identified as a bug in fabric (https://github.com/OfficeDev/Office-UI-Fabric/issues/316) ... so should we address it?

[2016-02-06 07:20] ghost commented on #154
Hmm, I thought it would require a script fix, e.g. when clicking on the placeholder, set focus on the textbox.
But apparently it is fixable in CSS only.

Shall we wait for the OfficeUIFabric fix?

[2016-02-06 08:06] waldekmastykarz commented on #154
If they say they are going to fix it would be a waste of effort to do it ourselves. +1 to wait for the fix.

[2016-02-06 08:39] jjczopek commented on #154
:+1:

[2016-02-06 09:38] jjczopek commented on #32
Revised spec:

[code]

`uif-persona-card-detail-line`:
In details section, each line is wrapped with a `div` element with specific CSS. This directive is supposed to provide this wrapping experience.
Attributes:
- `uif-placeholder` - regular, topright, overflow. Determines in which part of the persona-card action should be added.
- `uif-icon` - All available icons are valid. This is required attri

[2016-02-06 10:53] #156 closed

[2016-02-06 11:18] #160 closed

[2016-02-06 11:28] #107 closed

[2016-02-06 11:34] #152 closed

[2016-02-06 11:36] andrewconnell opened #166 "update travis so all branches are built on push"
Currently TravisCI only does a build when there are pushes / PR's submitted to `master` & `dev`. If the branches are removed from the travis config file, then all branches will be built by travis.

This helps developers as they can then hook up travis to their forks and watch travis run the same checks that will happen without contributors having to submit a PR to get travis to run.

[2016-02-06 11:37] andrewconnell commented on #154
Taking this off our work item list... moving to backlog as we'll let fabric fix it. Less code for us to write & maintain.

[2016-02-06 11:43] andrewconnell opened #167 "update to fabric 2.0.1"
- [ ] update project's dependencies
- [ ] verify tests pass
- [ ] verify demos work
- [ ] update demo site

[2016-02-06 11:45] andrewconnell opened #168 "docs - explain commit message format"
update dev docs to explain commit message format & update PR guidance

contributors can follow the guidance provided, or the person handling the merging of PRs can do the fix for them (explain the implications of this)

- [ ] commit message format & guideline
- [x] PR submission guidelines
  - include a message which issue is fixed in title & description
  - squash all commits into one commit
  -

[2016-02-06 11:53] andrewconnell commented on #32
LGTM

[2016-02-06 11:59] andrewconnell opened #169 "update supported icons from changes in fabric v2.x"
Fabric's 2.x release removed a few icons that are no longer included. We need to remove these from our supported icon list as well.

Looks like it's just an update to the `iconEnum.ts`

[2016-02-06 12:03] andrewconnell commented on #30
This should also include the **facepile** component that Fabric added in v2.x. While it shows up as a separate component in the Fabric distro, if you look at the demo for **peoplepicker** in Fabric's samples, you can see it's just a different rendering.

[2016-02-06 12:10] andrewconnell commented on #168
note to self: to update the local dev do this:

[code]

[2016-02-06 17:43] s-KaiNet commented on #26
Thank you for your responses.
I'm renaming `uif-text` to `uif-nav-bar-content`, change `uif-is-disabled` to simply `disabled`.
Updated spec:

[code]

[2016-02-06 18:19] s-KaiNet opened #170 "Add ability to select tasks to run with live-dev"
Currently `live-dev` running about 20-30sec. and performs whole build validation (vet, transpile, test, build).
Sometimes some steps might not to be necessary. For example if you developing a new directive, you have tslint plugin and fix all vet errors right in your dev tool, then you probably need only `test` task, which run quickly, but currently you need to wait the whole validation to finish.

[2016-02-07 13:07] SteenMolberg commented on #27
Hey guys,

I need your help to decide the approach to take...

I have a solution now that is implemented like in the spec above. But...

The discussion on the [personcard ](https://github.com/ngOfficeUIFabric/ng-officeuifabric/issues/32#issuecomment-180387784) the or other day and @andrewconnell comment on preferring elements over attributes, made me realize that the above spec is quite different

[2016-02-07 13:19] andrewconnell commented on #27
Little more background into my thinking on element vs. attribute. My issue with attributes is they don't leave much room for options down the road. For some things it's not necessary (like binding items, grouping, image URLs, etc) but for other things, specifically text, it's very limiting because you can't do any formatting of the text.

For instance, let's say the primary text needed to change c

[2016-02-07 13:33] jjczopek commented on #27
totally agree with @andrewconnell . Having look into persona-card vs. persona vs. list, only the primary, secondary, tertiary and optional text were chosen as elements. Presence and image location did not, as those are rather static and have strict definition.

[2016-02-07 13:34] SteenMolberg commented on #27
Well, I think any collection of directives should make my life easier as a developer. The solution I have now is very easy to use. Just apply some collection and propnames and you're of. The possibility to provide text by "transclusion" could be build in if the need occurs.

Maybe I should just submit the PR. You can always reject it.

[2016-02-07 20:24] andrewconnell opened #177 "Spinner has issues with Fabric v2.0.1 release"
Looks like the Fabric v2.0.1 release has negative impacts on the spinner directive. When I ran it, it filled up the entire screen.

I think we should hold off on updating to v2.0.1 until this is resolved.

[2016-02-07 20:28] #161 closed

[2016-02-07 20:29] #166 closed

[2016-02-07 20:31] #169 closed

[2016-02-07 20:33] #157 closed

[2016-02-07 20:36] #14 closed

[2016-02-07 20:49] #168 closed

[2016-02-07 20:49] #118 closed

[2016-02-07 23:07] jjczopek commented on #177
I'll have a look

[2016-02-08 10:49] #177 closed

[2016-02-08 11:28] #167 closed

[2016-02-08 18:48] s-KaiNet opened #180 "Gulp task "test" doesn't have dependency on tranpile-ts"
Currently `test` doesn't depend on `transpile-ts`. Tests require files to be transpiled in order to run, and the only workaround currently is to run `tts` task manually.
Dependency should be added to `test` task.

[2016-02-08 23:57] ghost commented on #13
My proposal for the specs:

[code]
- This limits the breadcrumb-current to be text. Thought that's fine, or should it be HTML content?
- This also doesn't allow to make the current item clickable, as per the demo on the Office UI Fabric.
- The directive should add the appropriate classes the uif-link (ms-Breadcrumb-parent)

Alternatively, to give more flexibility, we could do this:

[code]

Option

[2016-02-09 07:35] waldekmastykarz commented on #13
What if current could be a property of a breadcrumb link?

[code]

Another thing I wonder about is whether the text of breadcrumb-current-large is always the same as breadcrumb-current and with that could be derived from the link marked as current. If so it would simplify the directive's markup.

I would suggest using elements to have more flexibility, just as we do in other directives.

[2016-02-09 08:15] ghost commented on #13
I was not sure if current-large is always the same as current. I would think so.
And I like your proposal with uif-current! Can't think of a disadvantage, unless current-large and current may be different.

[2016-02-09 08:19] s-KaiNet commented on #13
I also prefer @waldekmastykarz approach.
In that case `<uif-breadcrumb-links>` is redundant and can be skipped, imho. This simplifies things a bit. So only `<uif-breadcrumb>` at the root and `<uif-breadcrumb-link>` as links.

[2016-02-09 09:29] waldekmastykarz commented on #13
That's even better @s-KaiNet! :smile:

[2016-02-09 10:50] #180 closed

[2016-02-09 21:55] jjczopek opened #182 "callout - update demos to use uif-button directive"
As the button directive is now available, demos for `uif-callout` directive should be updated with the new directive instead of standard HTML `button` element.

This also covers necessary changes to the `uif-callout` directive, in case of any problems that might occur when changing the demos implementation.

[2016-02-09 22:44] jjczopek commented on #32
Task list, for progress monitoring:
- [x] `uif-persona-card-detail-label` directive
- [x] `uif-persona-card-detail-line` directive
- [x] `uif-persona-card-primary-text` directive
- [x] `uif-persona-card-secondary-text` directive
- [x] `uif-persona-card-tertiary-text` directive
- [x] `uif-persona-card-optional-text` directive
- [x] `uif-persona-card` directive
  - [x] main html rendering
    - [x]

[2016-02-09 22:52] s-KaiNet commented on #26
During development I'm shifting to have separate nav bar search directive instead of relying on menu type.
Reasons:
- that might be useful to provide `placeholder` for search input, I can add `uif-placeholder` to `uif-nav-bar-item`, but this attribute is intended for search only, semantically that's not correct
- `uif-click` also not very good name for search event, it's better `uif-on-search`, wi

[2016-02-10 11:31] andrewconnell commented on #26
Sounds good... but why a custom attribute `uif-click` for the `uif-nav-bar-item` (_I should have asked this above_)? Could standard events not be used instead of this or use the angular ones like `ngClick`?

My concern is that if this is done, what about the next logical questions:
- what about creating a hover event?
- what about creating a mouse down event?
- what about creating a mouse over eve

[2016-02-10 11:35] ghost commented on #26
For #17, I opted to not implement click and hover events for the same reason - leave it with the user as they may want all manner of things to happen on click/hover etc.

[2016-02-10 11:44] s-KaiNet commented on #26
Good points, agreed, thank you. That's even easier - I'll remove custom attribute for click and give a user chance to decide which kind of events he wants.
Taking this into account contextual menu directive also needs this change.

[2016-02-10 22:01] jjczopek opened #185 "missing sample markup in uif-button demo"
Demo page for [`uif-button`](https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/master/src/components/button/demo/index.html) directive is missing sample markup - it contains only rendered output.

In order to see how specific output has been achieved, one has go to the source of the page.

[2016-02-10 22:05] andrewconnell commented on #185
Arg... how did I miss that. Thanks... I'm on it.

[2016-02-10 23:41] jjczopek opened #187 "missing hero type in uif-link component"
Fabric UI for the link component has two modes:
- regular: [Link.html](https://github.com/OfficeDev/Office-UI-Fabric/tree/master/src/components/Link)
- hero: [Link.Hero.html](https://github.com/OfficeDev/Office-UI-Fabric/blob/master/src/components/Link/Link.Hero.html)

Currently our `uif-link` component is missing the hero type:
- `uif-type` attribute
- enum specifying available values
- validatio

[2016-02-11 11:02] #19 closed

[2016-02-11 11:22] #182 closed

[2016-02-11 11:25] #185 closed

[2016-02-11 13:58] tdwhite0 commented on #187
Acknowledged, I'll get this updated

[2016-02-11 15:03] andrewconnell commented on #170
Hey @s-KaiNet I'll take this on... you're more productive doing components than I am, and I'm working on some process stuff for us, so I'll happily work on this. Got some ideas already that I'll share here in an updated spec...

[2016-02-11 22:11] s-KaiNet commented on #170
ok, no pb

[2016-02-13 21:05] s-KaiNet commented on #17
For contextual sub menu, If it possible, can you please skip implementation or wait for a while (2-3 days) until navbar will be completed. It appears that contextual menu needs some modifications to work easily with other directives. I'm going to make changes in the contextual menu, and as I'm the author, that will be easier to do it by my own.

[2016-02-14 18:13] tdwhite0 commented on #187
Someone else should take this. I won't be able to put the effort in to do this the way the project requires.

[2016-02-14 23:12] Hotell opened #189 "consider using ngMetadata"
Writting angular 1 with pure typescript isn't very convenient dev experience. Would you consider using ngMetadata  https://www.npmjs.com/package/ng-metadata ? It allows flawless gradual update, and your codebase will be ready for future migration to ng2.

If you would be interested I can do PR with some component upgraded to ngMetadata.

Think about it :)

cheers
Martin

[2016-02-15 12:42] andrewconnell commented on #189
The NPM page doesn't have enough info to really understand what's going on IMHO. I take it this is your library? Feel free to fork & propose but personally I'd need to understand more before putting this requirement on contributors.

FWIW, your comment "writing ng1 with pure typescript isn't ver convenient dev experience" is simply an opinion. We're doing quite well so far & I personally find it t

[2016-02-15 21:42] jjczopek commented on #187
let me work on that - some change from persona card would be good for me ;)

[2016-02-15 23:50] Hotell commented on #189
Yes @andrewconnell you are perfectly right about opinion etc.
We used the same "design patterns" for writing ng1 with typescript as you do.

But when Angular 2 core API went stable, I wrote ngMetadata to have cleaner code which makes sense IMHO. I've updated the `Readme` because it wasn't very clear from it what is it good for, please see that 1st example https://github.com/ngParty/ng-metadata. We

[2016-02-16 00:22] andrewconnell commented on #189
I’m curious to see what it looks like. Thanks for the kind comments too! Great team effort!

[2016-02-16 09:27] rolandoldengarm opened #191 "Datepicker specs throw error"
[code]

[2016-02-16 11:55] s-KaiNet opened #192 "Build doesn't fail in Travis if any vet errors"
For `tslint` task setting `emitError: false` was added to prevent breaking pipeline for `live-dev` task.
In this case Travis build doesn't fail and shows green state.
Proposed solution:
Leave it as is for "regular" tasks, but add additional param for travis, so in travis config it will be something like this `gulp vet-lib-ts --verbose --emitError`

[2016-02-16 12:19] andrewconnell commented on #9
Status update - PR #193 adds a script that will handle the tagging of this repo & update the **package-ngofficeuifabric** repo.

To complete this issue, a script is going to get added to **package-ngofficeuifabric** that upon a push to it's `master` (which this script does) it will trigger a script run in TravisCI that will publish a new version => NPM.

In addition, another (or the same) script w

[2016-02-16 12:22] andrewconnell commented on #192
I can take this on in my build updates i'm working on as this is tightly related to #170... cool? if you agree, feel free to reassign to me

[2016-02-16 12:23] s-KaiNet commented on #192
Cool! :)

[2016-02-17 20:01] andrewconnell opened #194 "Create templates for new issues & PR's"
New feature added to GitHub today, letting you create templates for new issues & PR's. This encourages people to to fill some values in when creating new ones.

ref https://github.com/dear-github/dear-github/issues/125

[2016-02-17 20:03] andrewconnell commented on #194
New feature added to GitHub today, letting you create templates for new issues & PR's. This encourages people to to fill some values in when creating new ones.

ref https://github.com/dear-github/dear-github/issues/125

[2016-02-17 20:05] andrewconnell commented on #194
More info: https://github.com/blog/2111-issue-and-pull-request-templates

[2016-02-19 20:14] s-KaiNet opened #198 "ContextualMenu - improvements, refactoring, fixing issues"
I want to consolidate here all work which is might be required for contextual menu and waiting for your approval. I didn't create a spec for contextual menu in the past, so I'm correcting mistake right now:
### `Contextual menu spec:`
[code]
`<uif-contextual-menu>`:
- `@uif-is-open` - controls state of the menu
- `@uif-close-on-click` - controls if menu should be closed after clicking, default is

[2016-02-19 20:16] s-KaiNet commented on #117
Can be closed because of #198

[2016-02-19 20:17] s-KaiNet commented on #136
Can be closed because of #198

[2016-02-22 13:22] bpatra opened #199 "Cannot use spinner-directive within an element that is display:none at application startup"
The size of the spinner is computed by method `createCirclesAndArrange`,the size of the circle is based on
[code]
but if the `<uif-spinner uif-size="large"></uif-spinner>` is placed within an html element that is not displayed at application startup: `clientWidth` and `clientHeight` is zero and are not recomputed after that.

[2016-02-22 14:08] bpatra commented on #199
Trying to reproduce in isolated plunker http://plnkr.co/edit/DaJQvfz19FOBtOw7vR1N (not ready yet)

[2016-02-22 14:43] bpatra commented on #199
Looks to be fixed with release 0.4.0

[2016-02-22 14:43] #199 closed

[2016-02-22 18:49] ghost commented on #17
How are you getting on with navbar? I've finished what I can for now bar an odd quirk with the behaviour when switching view ports and writing of the tests. I'll just need to make some tweaks to the overflow menu once uifContextualMenu has been updated.

[2016-02-22 19:24] s-KaiNet commented on #17
I've pushed pull request here - [https://github.com/ngOfficeUIFabric/ng-officeuifabric/pull/195](https://github.com/ngOfficeUIFabric/ng-officeuifabric/pull/195). It's not merged yet, optionally you can grab my copy from [here](https://github.com/s-KaiNet/ng-officeuifabric/tree/issue-26)
The point of interest is `NavBarItemDirective` directive. Take a look how it uses contextual menu.

[2016-02-24 15:32] #13 closed

[2016-02-24 15:32] #26 closed

[2016-02-24 15:32] #191 closed

[2016-02-26 10:55] andrewconnell commented on #198
Sorry I missed this... I really like all the proposed changes.

[2016-02-26 12:11] waldekmastykarz commented on #198
:+1:

[2016-02-26 19:14] andrewconnell commented on #187
Looks like Fabric might be going back on this one... https://github.com/OfficeDev/Office-UI-Fabric/issues/338#issuecomment-188995779

[2016-02-27 12:49] andrewconnell commented on #9
UPDATE: Getting closer... now have a new repo `nuget-ngofficeuifabric` [hooked up to AppVeyor](https://ci.appveyor.com/project/andrewconnell/nuget-ngofficeuifabric) that when updated & pushed, will create a new NuGet package & publish it to NuGet. This took a **LOT** longer than it should have. I was trying to keep our CI story consistent across projects (using either TravisCI / CircleCI) but buil

[2016-02-28 19:23] ghost commented on #189
@Hotell  have you had time to create a showcase yet?

[2016-02-29 12:02] #117 closed

[2016-02-29 12:02] #136 closed

[2016-02-29 12:02] #198 closed

[2016-02-29 12:02] #9 closed

[2016-02-29 14:03] andrewconnell commented on #194
Include updates to docs for good pull request comments & commit message format.

[2016-02-29 15:30] andrewconnell commented on #187
Yup... they backed it out... we need to remove the hero type of link out - https://github.com/OfficeDev/Office-UI-Fabric/pull/395

[2016-02-29 20:07] jjczopek commented on #187
crazy. I'll take of it if I find a spare moment

[2016-02-29 20:15] Hotell commented on #189
@rolandoldengarm  I'm sorry I was supper busy by doing meetups/workshops .. you can imagine. I will do my best to do this till the end of this week. Thx!

[2016-03-01 11:44] #194 closed

[2016-03-01 12:00] andrewconnell opened #207 "REQ INPUT - Rewrite our commit history"
Over the last month+ I have been tweaking commit messages for PRs to match a specific syntax that the Angular Material team uses. In the latest push this morning that I just merged, I've updated our docs to reflect this: [https://github.com/ngOfficeUIFabric/ng-officeuifabric/blob/master/docs/guides/CODING.md#commit-messages](commit-messages).

Why do this? I think the reasons are simple... so our

[2016-03-01 12:17] jjczopek commented on #207
I'm supportive

[2016-03-01 12:21] s-KaiNet commented on #207
If **you** will do that, I'm for this. But personally I don't see much value. Just +1 to perfection for the project, doesn't it?

[2016-03-01 14:07] andrewconnell commented on #207
@s-KaiNet correct, I'll do it. You guys can just sit back and wait for me to say "rebase your `master` and `dev` branches by running these commands"

[2016-03-01 19:19] ghost commented on #207
YES. Better do it now than in the future, and it will make release management easier.

[2016-03-01 19:21] andrewconnell commented on #207
LGTM... no objections so I'll tackle it in the near future.

[2016-03-01 23:43] waldekmastykarz commented on #207
:+1:

[2016-03-02 14:04] andrewconnell commented on #187
Took care of it...

[2016-03-02 18:54] andrewconnell opened #209 "Check Fabric 2.1.0 Reelease"
Look at the recent fabric 2.1.0 release for updates that affect us

[2016-03-03 18:09] andrewconnell commented on #209
- [ ] fabric v2.1.0 includes fix for pickadate.js latest version... we can update dependencies to use latest pickadate.js

[2016-03-03 19:37] ghost commented on #209
I could do it, but the check is fairly simple: Go to the demo and open multiple date pickers at the same time and verify there is no overlap.

[2016-03-03 20:06] andrewconnell commented on #209
No worries… I got it… part of the next release.

[2016-03-05 11:59] andrewconnell commented on #170
I'm going to unassign myself from this... this isn't a small task and I'm working on some higher priority build process stuff for now.

[2016-03-05 13:22] andrewconnell commented on #24
FYI... fabric changed from `div` to `li` for better markup - https://github.com/OfficeDev/Office-UI-Fabric/pull/331

[2016-03-05 13:50] waldekmastykarz commented on #24
:+1:

[2016-03-05 13:50] andrewconnell opened #215 "Convert projects to use typings replacing TSD"
TSD has reached EOL and the new type definition standard is the typings project. https://www.npmjs.com/package/typings

[2016-03-07 01:08] rolandoldengarm opened #217 "Textfield: Can't type when ng-model is not set"
http://ngofficeuifabric.com/demos/uifTextfield/

When typing in textfield 2 and 3, nothing happens and JavaScript errors show up.

[2016-03-07 01:56] drewesa opened #218 "Textfield: Label disappears when textfield is not empty."
If you enter text into the first example at http://ngofficeuifabric.com/demos/uifTextfield/, the label above the input box disappears.

[2016-03-07 12:37] reifi opened #221 "uifClose Button type attribute is not defined in calloutDirective"
uif-close button should have a defined type attribute value: _type="button"_.
If not set, its default value is _type="submit"_. This is the default if the attribute is not specified, or if the attribute is dynamically changed to an empty or invalid value.

So should have all other form independent buttons.

`<button class="ms-Callout-close">`

### Expected

`<button class="ms-Callout-close" type="

[2016-03-07 14:50] #17 closed

[2016-03-07 14:50] #187 closed

[2016-03-07 14:50] #192 closed

[2016-03-07 14:50] #209 closed

[2016-03-07 14:50] #218 closed

[2016-03-07 14:50] #20 closed

[2016-03-07 14:50] #217 closed

[2016-03-07 15:25] ghost commented on #29
Shall I spec this and pick it up next?

[2016-03-07 15:28] andrewconnell commented on #29
Sure! Go for it!

[2016-03-07 16:16] andrewconnell commented on #221
Can you elaborate more on this?

From my POV and experience, when building Angular apps, you don’t want to submit a form, rather when a button is clicked you handle it within the controller.

[2016-03-07 17:17] reifi commented on #221
(I'm using Angular 1.5)
https://docs.angularjs.org/api/ng/directive/form#submitting-a-form-and-preventing-the-default-action

First of all, ngSubmit should handle the submit.
The user should be allowed to choose how the form submit is triggered: With multiple submit buttons, by ngclick on certain elements or by programmatical form.submit()

If the user chooses to submit by ngSubmit, your uif-close

[2016-03-07 21:45] andrewconnell commented on #221
Thanks for the additional detail…

So are you proposing that the generated button should include a `type=“button”` then, or offer an option for the developer using the directive to specify the button type? As I understand it now, in v0.6.0 the callout’s close button is assumed to be `type=submit`… but, again if I understand you correctly, if we render `type=button` then the user doesn’t have any c

[2016-03-07 21:47] andrewconnell commented on #221
Looping original dev on this thread

/cc: @jjczopek

[2016-03-07 21:56] jjczopek commented on #221
I think what @reifi suggest makes sense, as the default behaviour of button might cause confusion and unnecessary submissions when not expected. The close button on the callout is there only for letting user to close the callout, and I don't think there is any additional control needed or expected behaviour on this element. I'm supportive of the fix for adding the `type="button"` and I can handle

[2016-03-07 22:15] andrewconnell commented on #221
OK... I'll update the tags and leave it as ready for dev... if you want it feel free to claim.

[2016-03-07 22:54] ghost commented on #29
## uif-panel Spec

[code]

## Parameters

### uif-type

Enum, allows for left, small, medium, large, extraLarge, lightDismiss

### uif-is-open

Boolean, controls visibility of panel. does additional animation etc, so ngShow would not suffice

### uif-show-overlay

Shows the overlay, true by default

### uif-show-close

Shows the close button, true by default

## Notes

Suggest that if the consumer

[2016-03-08 00:44] ghost commented on #29
I've got two questions:
- What about closing a Panel? You can add a command bar, but how can you close that panel from that command bar?
- How to open a Panel? A Panel consists of the panel content as you've specced, but also a button to open it.

It is a bit similar to the Dialog, as you can open and close it from an arbitrary button.

I think the header should indeed be just text.

[2016-03-08 01:00] ghost commented on #29
I neglected to include a uifIsOpen attribute to <uif-panel> which I'll include. This attribute can manage the animation and visibility state of the panel. Regarding a button to control it, I intend to add a <uif-button> in the sample to demonstrate how to show/hide but I wouldn't include this button in the directive, presume this is what you mean?

Closing a panel is done by a close icon within th

[2016-03-08 01:11] ghost commented on #29
Ah you won't need a service then (that's my initial guess), the developer needs to have a scope variable, assign it to uifIsOpen, and set it to true / false in a custom button click?
Same for the closing?
That looks good to me.

No,  you should not add the button to open/close the dialog to the directive, just want to make sure you can open the panel :+1:

[2016-03-08 10:56] andrewconnell commented on #29
The header text should not be in an attribute... IMHO it should be added as content. See the new `uif-content` directive that was recently added if you want to use that. While plain text is all that the demos use today, if Fabric changes the CSS to make it work with rich content, then we have a breaking change we have to introduce. This pattern will follow how other directives work.

For the `uif-

[2016-03-08 19:01] ghost commented on #29
I've updated the spec to reflect feedback.

@andrewconnell, I'm not sure using `uif-content` within `uif-panel-header` will make sense since it's so close in name to `uif-panel-content`, let me know your thoughts if you want me to though

[2016-03-08 19:08] andrewconnell commented on #29
So... looks like we have two content areas... and both should just be transcluded. How is `uif-panel-content` special?

This seems to make sense to me...

[code]

[2016-03-08 19:13] ghost commented on #29
There's nothing special about it, I'll update the spec to reflect your suggestion - this will negate the need for `uif-panel-content` and i'll make a start unless there are any other suggestions

[2016-03-08 22:36] ghost commented on #29
Why not use uif-header-content and uif-panel content? I don't see the need for an extra uif-panel-header directive?

[2016-03-08 22:40] andrewconnell commented on #29
Good point... we recently got the `uif-content` directive for nesting content... how would you propose not inventing something else?

[2016-03-08 22:44] ghost commented on #29
That was my original intention, I think @andrewconnell wanted consistency between directives.

The option below would be the absolute minimum, it saves creating `uif-panel-content`, so I would agree with AC's approach here. Wasn't sure on the use for a `uif-content` within the `uif-panel-header` directive - can we do away with that and use the pattern below? Or would you want to keep it consistent

[2016-03-08 23:04] jjczopek commented on #32
Oh dear, I think it's finished. Need to write the doc, polish the demo and will be good to go (I think).

[2016-03-08 23:37] andrewconnell commented on #29
Let's continue to debate this...

I still like my proposal above. The reason why is because the 'uif-content' has one purpose to render content. The trick is you need to have one bit of content be header content. So I think it makes sense to wrap it because the metaphor holds true.

Empty containers aren't new or rare.. Think 'thead'

... Grr... Can't get the code formatting right on an iPad ... Y

[2016-03-08 23:57] ghost commented on #29
I can see both sides of the argument. Having uif-content within uif-panel-header ensures consistency with other directives but since uif-panel-header's sole purpose is to be a transcluded container for the header text (or richer content in the future), the inclusion of uif-container could be seen as redundant.

Both will work, I think the decision comes down to how and when we should use uif-conte

[2016-03-09 00:10] andrewconnell commented on #29
I'd love to see more comments here as I think we are simply down to preference... @ngOfficeUIFabric/ngofficeuifabric-collaborators ?

[2016-03-09 01:38] jorgearteiro commented on #29
I agree with tobias. uif-panel-header is already a transcluded container. Less is better!

[2016-03-09 01:56] jorgearteiro commented on #189
@Hotell  I wanna see that as well. and what you think about version 1.5?

[2016-03-09 02:31] ghost commented on #32
Good stuff @jjczopek  :+1:

[2016-03-09 08:29] Hotell commented on #189
@jorgearteiro angular 1.5 is a must ( one way binding, multi slot transclusion, lazy $compile, perf boost...). I plan to support only 1.5 and higher with ngMetadata 2.0. In 2.0 there will be one way binding by default. I didn't have again much time to do the PR, I will do that till end of this week and that's a promise. Sorry for waiting so long folks. Thanks

[2016-03-09 13:54] oviava opened #222 "Dropdown & Choicefield suggestions / issues"
Choicefield:
  - multi select option for checkboxes

Dropdown
 - placeholder text when nothing is selected
 - provide an option to pass a callback on item select:

[code]

[2016-03-09 19:29] ghost commented on #29
I agree with @jorgearteiro  and @tobiaswest83 .
I don't see a benefit to have two directives, instead of one. E.g. if in the future we want to add an attribute to the header (e.g. large / small / whatever), it is possible with one directive.
Only advantage of having 2, is that uif-content is the same as in other directives. But IMHO that's not a reason why we should do this, but that's just my opi

[2016-03-09 21:34] andrewconnell commented on #222
Looping original owner of these to get their input as they are most familiar with the directives.

/cc: @rolandoldengarm

[2016-03-10 00:33] jjczopek commented on #31
@johnmeilleur how it's going with this one? I have just finished working on PersonaCard (#32, PR #223) and I believe I duplicated some if not all of your work.

Maybe we could take the out common persona functionality out of persona card to this component and then in PersonaCard reuse the new Persona component?

[2016-03-10 00:38] ghost commented on #222
**Choicefield multi select:**
You can just add multiple uif-choicefield-option elements? Have you tried that?

**Dropdown placeholder:**
The way this works now, is that you need to add an option with an empty value.

**Dropdown handleSelect:**
Can you please elaborate what you're trying to achieve? Can't you achieve this by attaching an ng-click event to the uif-dropdown-option?
If we're going dow

[2016-03-10 13:24] andrewconnell opened #224 "Replace TravisCI with CircleCI"
CircleCI is a better option... much more full featured & less error prone than TravisCI. Considering CircleCI is already used in our process (*within the **package-ngofficeuifabric** repo because NPM publish is unreliable on TravisCI*), so it makes sense to consolidate to as few services as possible.

### What We Lose
- Nothing... everything TravisCI can do CircleCI can do... and more

### What We

[2016-03-10 16:44] florinszilagyi opened #227 "TextField does not support multiline or change of input type"
The uif-textfield directive should have multiline support, and also allow the specification of the type. (Eg. a password field)

[2016-03-10 19:41] ghost commented on #227
Makes sense, yes.
The code changes in the PR look good to me (https://github.com/ngOfficeUIFabric/ng-officeuifabric/pull/226). Please fix the issues raised there and submit another PR.

[2016-03-12 10:27] jjczopek commented on #31
Actually I have taken the liberty to implement this components as I already had the base from persona-card component.

Adjusted spec of the component, following our guidelines.

### `uif-persona-*-text` directives

Directives for user details:

[code]

### `uif-persona-initials` directive

Displays user initials when picture is not specified:
`<uif-persona-initials uif-color="blue">AL</uif-persona

[2016-03-12 10:55] jjczopek opened #230 "Dropdown - initial value not selected"
### Expected Behavior
When dropdown is bound to a model which is intially set, and options are rendered via ng-repeat, I would expect that option that is corresponding to the initial value of model is pre-selected:
![image](https://cloud.githubusercontent.com/assets/865473/13722475/7c055efe-e847-11e5-99a7-abd8d06918bb.png)

### Actual Behavior
When model is initially set, there is nothing selected

[2016-03-12 15:54] johnmeilleur commented on #31
Hi @jjczopek,

Sorry, I've been away.  Fantastic work on the persona card.  No worries if you want to finish the persona.

[2016-03-13 00:07] Hotell commented on #189
https://github.com/ngOfficeUIFabric/ng-officeuifabric/pull/231

[2016-03-13 17:47] ghost commented on #29
how should we proceed @andrewconnell? I'm working away this week so can't start until next weekend but this won't take me long once we've agreed spec.

[2016-03-13 21:13] manndave opened #233 "Incorrect files built"
Unless I'm misunderstanding the intention of the `--debug` switch on the build commandline, I think the wrong files are being built when you issue the command `gulp build-lib --debug`.  This produces the minified version of ngOfficeUiFabric.js (ngOfficeUiFabric.min.js) which isn't what is expected by the demo pages, and doesn't seem right - you don't want minified in a dev build.

The fix is easy:

[2016-03-13 21:38] jjczopek commented on #233
If I remember correctly, there have been updates to the build process. In order to build version of the library for demos, use the following command: `gulp build-lib --dev`.

Probably docs need to be updated.

[2016-03-13 21:46] ghost commented on #233
`--dev` did the trick, so just a documentation bug in the MPA.md doc.  Thanks.

[2016-03-14 06:14] ghost commented on #230
Yes, looks like a bug to me. Will work on it.

[2016-03-14 06:17] rolandoldengarm commented on #222
@oviava Could you please reply to my comments?

[2016-03-14 06:19] ghost commented on #222
Closing this due to no reply. Please raise an issue if you still feel there is a bug or a feature request. Please separate them into one issue per request / feature.

[2016-03-14 06:19] #222 closed

[2016-03-14 09:15] ghost commented on #233
Requires documentation update.

[2016-03-15 13:31] andrewconnell commented on #29
Seems I'm out voted... I think it's good to go ahead and implement

[2016-03-15 14:16] #27 closed

[2016-03-15 14:16] #31 closed

[2016-03-15 14:16] #32 closed

[2016-03-15 14:16] #221 closed

[2016-03-15 14:16] #233 closed

[2016-03-15 19:06] jjczopek commented on #33
Let's keep the momentum. Let me handle that one.

[2016-03-15 21:13] suhasdeshpande commented on #57
I will start putting together a docsApp that is pretty much like material.

[2016-03-15 23:30] andrewconnell commented on #57
Can you share a bit more before running with this? This is something we certainly want to automate as part of our releases & would like to make sure it integrates the output into our main site @ ngofficeuifabric.com.

[2016-03-20 00:26] suhasdeshpande commented on #57
I am going to take a stab at this. Angular material site uses https://github.com/angular/dgeni to parse all the comments and creates templates based on descriptors used in your comments. Demos are renedered as iframe. We can re-use their processors and customize the templates to use office-fabric instead of material. Regarding deployment, I am guessing it won't be difficult to integrate with your

[2016-03-20 14:28] andrewconnell commented on #57
If you want to go with that approach, please do include "WIP" in the title of the PR. This is also tied to #10.

I'm cool with this approach... so the docs + demo site will be one in the same? That's definitely preferred. I suspect a good number of our directives need updated docs as I'm not sure if we have enough content in there. if it comes out looking like the material design site (in terms of

[2016-03-20 15:36] suhasdeshpande commented on #57
100% scriptable. One small question, I am really new to TS. Actually never used it yet. For doucmentation, we will need to write or customize ngDocs dgeni package . Is it okay to write processors/services for that in es6?

[2016-03-21 02:15] andrewconnell commented on #57
Hmm… the whole project is TypeScript at this time, zero JS. Having a big exception like this when it isn’t necessary isn’t ideal. If you can’t do it in TS, if you did it in JS, we could port it before we merge it into the master branch. Happy to help along the way if you want to try to do it as TS… maybe a good learning tool? :)

[2016-03-21 09:34] andikrueger opened #240 "TextField can't be disabled or set to be required"
The uif-textfield directive can't be disabled or set to be required. For example: uif-label directive supports both HTML attributes #22

It would be great to have these attributes consistent within all form elements.

[2016-03-21 23:35] ghost commented on #230
I've spent quite some time on it, but haven't been able to find a solution.
During link, the render function of ngModel is called and tries to retrieve the child elements to find the element with the given value. However, at that time the elements are not compiled yet.
I've tried different things, and fixed it partly. However, it's still not working when ng-repeat is used.
The demo is working as t

[2016-03-22 03:15] rolandoldengarm commented on #240
We implement exactly what is in the [component examples](http://dev.office.com/fabric/components/textfield). Disabled and required are not options.

But I agree that disabled should be added.
Not sure what to do with required. What are you trying to achieve? You can use Angular form validation already? Not sure what the added class would deliver.

[2016-03-22 03:33] ghost commented on #240
My initial response was that the Office UI Fabric component does not have required and/or disabled, and we are copying what they do.
Then I remember that we initially had this, and that it's also working from a CSS point of view. Check out the "old" example site: http://officeuifabric.com/components/text-field/

So, I've implemented it. PR: https://github.com/ngOfficeUIFabric/ng-officeuifabric/pul

[2016-03-22 08:56] Elfayer opened #242 "Demo breadcrumb missing CSS"
In the demo website, you provide a breadcrumb demo that has a really basic style, I guess it is not the correct behavior. Here is a picture of the result you're showing:

![image](https://cloud.githubusercontent.com/assets/15869149/13946335/34b9aa3a-f014-11e5-934c-ed2c26e4036a.png)

Link: http://ngofficeuifabric.com/demos/uifBreadcrumb/

[2016-03-22 09:28] Elfayer opened #243 "<uif-choicefield-group> not supporting 'ng-change'"
@rolandoldengarm

I guess it is not the only element not allowing this behavior, but in my case I have a list of radio buttons (`<uif-choicefield-option>`) that are grouped inside `<uif-choicefield-group>` and I can't use `ng-change` that is supported by Angular natively: https://docs.angularjs.org/api/ng/input/input%5Bradio%5D

[code]
### Expected Behavior

`ng-change` directive should be evaluat

[2016-03-22 09:42] Elfayer opened #244 "Remove "Pick one" from <uif-choicefield-group>"
When using `<uif-choicefield-group>` with radio buttons, there is a text added on top of the radios : "Pick one". This is not good for internationalization. Is it possible to remove it in a way ?

See in demo page : http://ngofficeuifabric.com/demos/uifChoicefield/

[2016-03-22 09:50] Elfayer commented on #243
A solution to this was to use a watcher (`$scope.$watch()`) to call `update()` on `selectedValue` change.

[2016-03-22 10:40] Elfayer opened #245 "<uif-dropdown> When 'ng-model' value is 'null', the value shown is the last selected, while it should be empty."
### Steps to Reproduce Behavior

Let's take the demo example :

[code]

If I click on "Value 1", the dropdown will show the label "Value 1". Now if in my Controller I set the value of "dropdownValue" (`ng-model` variable) to `null`, it still shows the "Value 1" label, while it should show an empty field.

### Expected Behavior

If `ng-model` variable is `null`, label should be empty.

### Actual B

[2016-03-22 13:00] Elfayer opened #246 "<uif-nav-bar> Not showing interpolation in uif-text attribute"
For internationalization, I use a pipe filter as follow : `{{'people_title' | localization}}`, `people_title` is a key in a JSON `localization` filter has loaded.

Anyway, I need to put an angular template in the navbar because depending on the language, it is not the same text. And the following code doesn't work :

`<uif-nav-bar-item uif-text="{{nav[0]}}"></uif-nav-bar-item>`

### Expected Behav

[2016-03-22 13:11] s-KaiNet commented on #246
`uif-text` accepts a reference from scope and not a string. So in your example you should use following approach:
[https://jsfiddle.net/gj8kxg57/2/](https://jsfiddle.net/gj8kxg57/2/)
For advanced scenarios you can always use `<uif-content>` like in the fiddle above (last item).

[2016-03-22 13:34] Elfayer commented on #246
Thanks for your answer :)

`<uif-content>` saved me because my data is loaded asynchronously.

I updated your JSFiddle to show a working example with asynchronous data: https://jsfiddle.net/gj8kxg57/4/

[2016-03-22 14:40] Elfayer opened #247 "<uif-nav-bar> Not supporting page navigation"
I'd like to use the `<uif-nav-bar>` (http://ngofficeuifabric.com/demos/uifNavbar/) component to manage my navigation and follow my routing. This implies that :

### Expected Behavior

- When I click on a tab, it stays selected until I change the page.
- When a tab is disabled, there is a visible style that shows it is not available (grey text color and/or italic ?), cursor is set to `default` and

[2016-03-22 16:13] s-KaiNet commented on #247
To summarize your points (in reverse order):
1. Track selected index
2. Styles for disabled item are not correct
3. Selection state when you click somewhere

For `#1` I agreed and that can be good addition.
For `#2` - cursor should be default - this is a bug in our library. Other styling - grey color and may be visual effect when clicking - I believe that's [Office-UI-Fabric](https://github.com/Of

[2016-03-22 16:13] Elfayer opened #248 "Nothing is rendered after a <uif-textfield>."
When a `<uif-textfield>` is on a view, what is written after it isn't rendered (not even visible in the HTML file received)

Here is a JSFiddle that show the issue:
https://jsfiddle.net/gj8kxg57/6/

[2016-03-22 16:25] Elfayer commented on #247
I have been looking the Office UI Fabric Components, and I'm wondering if what I'm looking for is not the Pivot ?

cf: http://dev.office.com/fabric/components/pivot

[2016-03-22 17:51] ghost commented on #248
Don't use self-closing tags with custom Angular directives.
This works: https://jsfiddle.net/1zudpb3w/

[2016-03-22 17:51] #248 closed

[2016-03-22 19:39] s-KaiNet commented on #246
So I'm closing this one.

[2016-03-22 19:39] #246 closed

[2016-03-22 19:43] s-KaiNet commented on #247
Yep, may be the pivot is better rather than nav bar according to your needs. Consider it.

[2016-03-22 19:48] s-KaiNet opened #249 "<uif-nav-bar> - cursor should be default for disabled item"
### Expected Behavior
When hovering over disabled navbar item cursor should be default.

### Actual Behavior
Cursor is pointer.
Example - [navbar demo](http://ngofficeuifabric.com/demos/uifNavbar/) - hover over "Disabled Item".

[2016-03-22 19:49] Elfayer commented on #248
Thanks =)

Just to notice that I used the synthax of the documentation : http://ngofficeuifabric.com/demos/uifTextfield/

[2016-03-22 19:57] s-KaiNet commented on #248
Yep, that's an issue when you need to update demo in two places - your actual code which is running and markup showing this code. Sometimes you forget to update markup.
To solve this I created simple directive named `raw` and using it in my demos. Consider `components\contextualmenu\demo\index.html`
For example to demonstrate multi selection menu, you need only two directives (both using the same

[2016-03-22 20:02] s-KaiNet commented on #247
In that case I'm wondering do we really need track selected index for nav bar?

[2016-03-22 21:04] ghost commented on #245
Valid issue.
It's more generic though. The issue is that NULL is not one of the values. So the actual issue is: when setting the scope value to an unknown value, the displayed title should be empty.
E.g. if you would set it to "value5", it should be empty as well.

[2016-03-22 21:11] Elfayer commented on #247
I think you're right, I should go for the pivot. The thing is that there is no pivot currently.
Nor in the demos: http://ngofficeuifabric.com/demos/
nor in the library: https://github.com/ngOfficeUIFabric/ng-officeuifabric/tree/master/src/components

[2016-03-22 21:46] jjczopek commented on #33
Main sepcs:

[code]
- `<uif-pivot></uif-pivot>` - main directive, renders the container
  - `uif-size` attribute - determines the size of the pivot. `regular|large`, default `regular`
  - `uif-type` attribute - determines the type of the pivot. `regular|tabs`, default `regular`
- `<uif-pivot-link></uif-pivot-link>` - renders pivot link
- `<uif-pivot-ellipsis></uif-pivot-ellipsis>` - renders the el

[2016-03-22 21:56] rolandoldengarm opened #251 "<uif-choicefield-group> Can't use multiple directives on a page."
When using multiple uif-choicefield-group elements on a page, the ng-model used seems to be the first one. E.g.
[code]
When clicking on option in the second, val1 is updated, and not val2.

[2016-03-22 21:57] jjczopek commented on #247
Pivot component is under construction. I have came up with specification here: #33. From the demos that come from Fabric website, it looks like this actually could solve your issue. Pivot is supposed to maintain information about selected item.

[2016-03-22 22:02] ghost commented on #243
Do you by any chance have multiple uif-choicefield-group's on a page?
I've found out that it works fine in a test case, but not in the demo. However, if I comment out all uif-choicefield-group except one, it works. See https://github.com/ngOfficeUIFabric/ng-officeuifabric/pull/252 for the test case.

I've raised a bug for the multiple uif-choicefield-group issue: https://github.com/ngOfficeUIFabri

[2016-03-22 22:05] ghost commented on #244
Valid issue. Requires another directive "uif-choicefield-group-title" to be able to wrap arbitrary content. I feel we should default to an empty string, but this may be seen as a breaking change as right now the default text is "Pick one". @ngOfficeUIFabric/ngofficeuifabric-members  ?

[2016-03-22 22:26] Elfayer commented on #247
Do you know when it is supposed to be supported ?

[2016-03-23 00:44] ghost commented on #33
I'm not sure what the idea is behind the ellipsis. I guess you should be able to show a menu or something? In the demo I don't see an implementation.
I'd say that uif-pivot-ellipsis should be able to contain child elements, which are shown if you click on it.

[2016-03-23 05:33] s-KaiNet commented on #244
I'd rather completely remove "Pick one" and give a user option to use any markup he wants right before choice field group.

[2016-03-23 05:49] s-KaiNet commented on #33
What about selected item?
All other LGTM.

[2016-03-23 08:41] Elfayer commented on #243
It's good you found a correction. Although I think my issue comes from another test case. I created a JSFiddle : https://jsfiddle.net/1zudpb3w/1/

I believe the issue I was describing is exactly the issue : #245
Since the field wasn't emptied, I thought it wasn't called.

### Steps to Reproduce Behavior
- Select a Type
- Select an AddressBook
- Select a Category
- Change the Type

=> The field Cat

[2016-03-23 09:00] Elfayer opened #253 "<uif-dropdown> Not loading default value"
I have a `<uif-dropdown>` that should show the default `ng-model` value set on the controller, but it doesn't. See : https://jsfiddle.net/u223Ljj9/3/

The problem definitely comes at load time, afterwards the `ng-model` value linking is working properly (see using the button)

### Expected Behavior

The dropdown shows the value set from Controller.

### Actual Behavior

The dropdown is empty while

[2016-03-23 09:10] Elfayer opened #254 "<uif-dropdown> Clicking away do not close menu"
When we open a `<uif-dropdown>`, clicking away do not close the menu. Example in the demo : http://ngofficeuifabric.com/demos/uifDropdown/

### Expected Behavior

When we click away, the dropdown menu closes.

### Actual Behavior

When we click away, the dropdown menu stays open.

[2016-03-23 09:50] ghost commented on #253
Duplicate: https://github.com/ngOfficeUIFabric/ng-officeuifabric/issues/230

[2016-03-23 09:50] #253 closed

[2016-03-23 12:05] andrewconnell opened #255 "Verify current components work with Office UI Fabric v2.2.0"

[2016-03-23 12:22] oviava opened #256 "<uif-dropdown> change to selectedTitle on resetting ng-model"
[code]

on resetting bindValue to "" reset to selectedTitle

[2016-03-23 12:23] oviava commented on #256
Apologies, closing for duplicate https://github.com/ngOfficeUIFabric/ng-officeuifabric/issues/245

[2016-03-23 12:23] oviava commented on #245
Require similar behaviour

[2016-03-23 13:13] Elfayer opened #257 "<uif-choicefield-option> do not support ng-disabled"
I'd like to be able to use `ng-disabled` on `<uif-choicefield-option>`. Otherwise I could use `disabled="{{myVar}}"`, but it is not dynamically bound to the controller.

### Expected Behavior

`ng-disabled` is supported => I can update a value from the controller that updates the `disabled`attribute from the view.

### Actual Behavior

`ng-disabled` is not supported.

### Steps to Reproduce Behavi

[2016-03-23 20:53] ghost commented on #255
I've already picked up the changes from https://github.com/OfficeDev/Office-UI-Fabric/pull/322 into the panel work I'm doing

[2016-03-23 21:24] jjczopek commented on #247
I started working on it, but have limited time currently. I think I should be able to raise PR late next week.

[2016-03-23 21:28] jjczopek commented on #33
@rolandoldengarm: I can do transclusion in ellipsis. Then user could hook an ng-click on the ellipsis that could toggle whatever is inside the ellipsis.

@s-KaiNet: could you elaborate what you mean by "selected item"?

[2016-03-24 05:10] s-KaiNet commented on #33
When you click on pivot link it becomes selected. You said that there will be a possibility to track selected item and set initial state. Current spec doesn't have any notion of selected item.

[2016-03-24 10:48] jjczopek commented on #33
@s-kainet: what I meant is that pivot maintains its selected state by the css inside - when you click, it adds is-active or is-selected class to the element. Thats what I meant by that. However if you think it might be useful to have such possibility, I'll try to add that.

[2016-03-24 12:09] s-KaiNet commented on #33
@Elfayer asked for this functionality, may he can comment smth.

[2016-03-24 12:39] andrewconnell commented on #257
Wouldn't this apply to _all_ directives, not just the one you mention in this issue?

My understanding is most (all maybe?) directives already support `disabled`... what does `ng-disabled` give you that `disabled` doesn't?

[2016-03-24 12:40] andrewconnell commented on #247
Any action items from this? The discussion looks finished so can we close this?

[2016-03-24 12:41] s-KaiNet commented on #247
I think so. Issue #249  created.

[2016-03-24 12:42] #247 closed

[2016-03-24 12:49] Elfayer commented on #33
I'd suggest to do something like what has been done for Angular Material : https://material.angularjs.org/0.11.2/#/api/material.components.tabs/directive/mdTabs

They have a `md-selected` that keeps the "Index of the active/selected tab". This is useful because you can manually change it via your controllers or get the current tab selected via this variable.

[2016-03-24 12:52] andrewconnell commented on #33
In that spirit, what about `uif-selected` which returns the actual pivot link object, or the object the pivot link is bound to rather than the index? Returning an index is a PITA IMHO because then the developer needs to figure out which pivot link matches that index number.

This proposed attribute could then also accept setting the pivot link object or the object the pivot link is bound to.

[2016-03-26 12:06] #245 closed

[2016-03-26 12:06] #240 closed

[2016-03-28 10:02] #224 closed

[2016-03-28 10:02] #215 closed

[2016-03-28 11:33] oviava opened #259 "<uif-dropdown> Element disabled for any value of disabled, true or false"
[code]

Expected behaviour - element should be enabled

Actual behaviour - element is disabled

I'm trying to dynamically control the status of the element but if the attribute disabled exists on the element it will always be disabled, regardless of value.

[2016-03-28 12:13] andrewconnell commented on #259
Hmmm... @rolandoldengarm is this related to the other fixes you recently implemented for other directives? Is this something that affects all our directives?

[2016-03-28 20:29] rolandoldengarm commented on #259
In HTML, disabled is not a true/false attribute. If it's there, it's disabled.

Not tested, but I think ng-disabled should work @oviava ?

[2016-03-28 20:34] ghost commented on #259
No it's not related to the recent changes.
Disabled is not a true/false attribute by default in HTML.
Ng-disabled should do the trick, it adds /removes the disabled attribute based on the expression. For some reason that does not work.

https://jsfiddle.net/pvujzamh/

[2016-03-28 20:39] oviava commented on #259
edit: ignore above, incorrect, left comment for posterity

and no, ng-disabled doesn't work either

[2016-03-28 20:46] oviava commented on #259
actually .. I'll eat my own words :). still, would be nice to able to control disabled or not dynamically, there is really no point on setting disabled on an element without being able to dynamically change it

[2016-03-28 20:57] ghost commented on #259
It's a valid bug. Ready for dev.

[2016-03-29 02:30] suhasdeshpande commented on #57
Ok Cool. I wonder why I don't get any notification when you comment. Anyhow, sorry for late response. I have been trying to wramp up on TS.

[2016-03-29 10:09] andrewconnell commented on #242
Issue with the fabric 2.1.0 release where the breadcrumb styles are missing from the Fabric distribution. This is fixed in 2.2.0 so when we ensure our directives are not affected by updating the fabric version & use 2.2.0, this issue will get fixed automatically. Therefore we won't fix it now.

[2016-03-29 10:20] andrewconnell opened #260 "<uif-breadcrumb> needs updated rendering"
Fabric seems to have changed how breadcrumbs are rendered. The class `ms-Breadcrumb-parent` is no longer present (which we currently use) and all breadcrumbs are nested within `<li>` using the class `ms-Breadcrumb-list` with `<a>` tags using the `ms-Breadcrumb-listitem` class.

We need to update this...